<table class="index table table-hover table-condensed table-bordered" id='listing_taxonomies' data-hook>
	<thead>
		<tr data-hook="taxonomies_header" class="info">
			<th><%= t(:name) %></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @taxonomies.each do |taxonomy| %>
		<tr id="<%= spree_dom_id taxonomy %>" data-hook="taxonomies_row">
			<td style="vertical-align: middle;"><%= taxonomy.name %></td>
			<td style="width: 205px" class="actions">
				<%= link_to_edit(taxonomy.id, :class => 'btn btn-primary') %> <%= link_to_delete(taxonomy) if !taxonomy.default %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>