<div class="row">
	<div class="span16">
		<%= render :partial => 'js_head' %>
		<h2><%= t(:taxonomy_edit) %></h2>

		<p id="ajax_error" class="errorExplanation" style="display:none;"></p>
		<%= form_for([:admin, @taxonomy], :html => {:class => "well form-horizontal"}) do |f| %>
			<%= render :partial => 'form', :locals => { :f => f } %>
			<div>
				<%= label_tag nil, t(:tree) %><br />
				<div id="taxonomy_tree" class="tree" data-url="<%= admin_taxonomy_taxons_path @taxonomy %>"></div>
			</div>
			<p id="progress" style="display:none;">
				<%= image_tag 'spinner.gif', :title => 'Spinner', :style => "vertical-align:bottom;" %> <%= t(:updating) %>..
			</p>
			<p><br /><small><%= t(:taxonomy_tree_instruction) %></small></p>

			<div class="form-actions clearer right-txt">
				<%= f.submit(t(:update), :class => "btn btn-primary") %>
				<%= link_to(t(:back), admin_taxonomies_path, :class => "btn btn-inverse") %>
			</div>
		<% end %>
	</div>
</div>

<% content_for :head do %>
	<%= javascript_tag do %>
		var initial = [
		{ "attr" :
		{ "id" : "<%= @taxonomy.root.id %>", "rel" : "root" },
		"data" : "<%= @taxonomy.root.name %>",
		"state" : "open",
		"children" : [
			<% @taxonomy.root.children.each_with_index do |taxon,i| %>
			{
				"attr" :
				{ "id" : "<%= taxon.id %>"},
				"data" : "<%= taxon.name %>"
				<% unless taxon.children.empty? %>
				,"state" : "closed"
				<% end %>
			}<%= ',' if i < (@taxonomy.root.children.size - 1) %>
			<% end %>
			]
		}
		];
	<% end %>
<% end %>