<div class="row">
	<div class="span16">
		<h2><%= t(:taxonomies) %></h2>
		<p>In questa sezione puoi gestire le tue categorie</p>
	</div>
	
	<div class="span7 well">
		<%= link_to("#{t(:new_taxonomy)} <i class='icon-plus icon-white'></i>".html_safe, new_admin_taxonomy_url, :class => 'btn btn-primary', :id => "admin_new_taxonomy_link") %>
	</div>
	<div class="span8 content-box">
		In questa sezione potete creare, modificare o eliminare le categorie. 
		Le caratteristiche principali sono:<br />
		<ul>
			<li>NOME: il nome della nuova categoria</li>
			<li>SOTTO CATEGORIE: &egrave; possibile creare nuove sottocategorie semplicemente premendo il tasto destro del mouse sulla nuova categoria creata</li>
		</ul>
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<div id='list-taxonomies' data-hook>
		  <%= render :partial => 'list' %>
		</div>
	</div>
</div>
