<div id="ajaxModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3><%= @banner.title.titleize %></h3>
	  </div>
	<div class="modal-body">
		<iframe width="560" height="315" src="http://www.youtube.com/embed/<%= @banner.url.split('/').last %>" frameborder="0" allowfullscreen></iframe>
	</div>
</div>