$("body").append("<%= escape_javascript(render :partial => 'modal') %>");
$("#ajaxModal").modal({
	keyboard: false
});
$("#ajaxModal").modal('show');
$("#ajaxModal").on('hide',
	function () {
		$(this).remove();
		$('.modal-backdrop').remove();
	}
);