<div class="well">
	<h5><%= t(:formats) %></h5>
	<p class="small">In questa pagina puoi gestire i formati del prodotto</p>
	<%= link_to("#{t(:new_format)} <i class='icon-plus icon-white'></i>".html_safe, admin_sticker_printer_formats_new_path(@product), :class => "btn btn-primary", :remote => true, :rel => "tab") %>
</div>

<table class="table table-condensed table-bordered">
	<thead>
		<tr data-hook="formats_header" class="info">
			<th><%= t(:format) %></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @sticker_printer_formats.each do |v| %>
		<tr data-hook="formats_row">
			<td><%= v.name %></td>
			<td class="actions">
				<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, admin_sticker_printer_formats_edit_path(@product, v.id), :class => 'btn btn-primary', :remote => true, :rel => "tab") %>
				<%= link_to("#{t(:delete)} <i class='icon-remove icon-white'></i>".html_safe, admin_sticker_printer_formats_destroy_path(@product, v.id), :data => {:confirm => t(:are_you_sure)}, :class => 'btn btn-danger', :remote => true, :rel => "tab") if v.name != "custom" %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>