<div data-hook="admin_payment_method_form_fields">
	<%= hidden_field(:payment_method, :environment, :value => (Rails.env.production? ? "production" : "development")) %>
	<%= hidden_field(:payment_method, :display_on, :value => "") %>
	<div class="control-group">
		<%= label_tag(:name, t(:name), :class => "control-label") %>
		<div class="controls">
			<%= text_field(:payment_method, :name) %>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag(:description, t(:description), :class => "control-label") %>
		<div class="controls">
			<%= text_area :payment_method, :description, {:cols => 60, :rows => 8, :style => "width: 500px;"} %>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag(:active, t(:active), :class => "control-label") %>
		<div class="controls">
			<label class="checkbox inline"><%= radio_button :payment_method, :active, true %> <%= t(:yes) %></label>
			<label class="checkbox inline"><%= radio_button :payment_method, :active, false %> <%= t(:no) %></label>
		</div>
	</div>

	<h2><%= t(:settings) %></h2>

	<div id="preference-settings" data-hook>
		<div class="control-group">
			<%= f.label(:type, t(:payment_method), :class => "control-label") %>
			<div class="controls">
				<%= collection_select(:payment_method, :type, @providers, :to_s, :name, {}, {:id => 'gtwy-type'}) %>
			</div>
		</div>		

		<% unless @object.new_record? %>
		<%= preference_fields(@object, f) %>

		<% if @object.respond_to?(:preferences) %>
		<div id="gateway-settings-warning" style="color:#FF0000;"><%= t(:provider_settings_warning) %></div>
		<% end %>
		<% end %>
	</div>
</div>