<div class="row">
	<div class="span16">
		<h2><%= t(:payment_methods) %></h2>
		<p>In questa pagina puoi gestire la mail del server</p>
	</div>
	
	<div class="span7 well">
		<%= link_to("#{t(:new_payment_method)} <i class='icon-plus icon-white'></i>".html_safe, new_object_url, :class => 'btn btn-primary', :id => "admin_new_payment_methods_link") %>
	</div>
	<div class="span8 content-box">
		
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="table table-condensed table-bordered">
			<thead>
				<tr data-hook="admin_payment_methods_index_headers" class="info">
					<th><%= t(:name) %></th>
					<th><%= t(:provider) %></th>
					<th><%= t(:active) %></th>
					<th data-hook="admin_payment_methods_index_header_actions"></th>
				</tr>
			</thead>
			<tbody>
				<% @payment_methods.each do |method|%>
				<tr id="<%= spree_dom_id method %>" data-hook="admin_payment_methods_index_rows">
					<td><%= method.name %></td>
					<td><%= method.type %></td>
					<td><%= method.active ? content_tag(:span, t(:yes), :class => "badge badge-success") : content_tag(:span, t(:no), :class => "badge badge-danger") %></td>
					<td class="actions" data-hook="admin_payment_methods_index_row_actions">
						<%= link_to_edit method, :class => 'btn btn-primary' %>	<%= link_to_delete method %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
