<% if !@error %>
	$('#title_total').show();
	$('#title_options').show();
	$('.total').html("<%= number_to_currency(@calc[:total].to_s) %>");
	$('#line_item_promotion_weight_item').val(<%= @calc[:weight_item].to_f %>);
	$('#line_item_promotion_original_price').val(<%= @calc[:price].to_f %>);
	$('#line_item_promotion_original_total').val(<%= @calc[:total].to_f %>);
	$('.options').html("<%= escape_javascript(raw retrive_option_calc(@calc)) %>");
	if ($('#line_item_promotion_price').val() == "0.0") {
		$('#line_item_promotion_price').val("<%= number_to_currency(@calc[:price].to_s, :unit => '').to_f %>");
	}
<% else %>
	$('#title_total').hide();
	$('#title_options').hide();
	$('.total').html("");
	$('.options').html("<h3 style='color: red;'>Errore durante il calcolo del preventivo!</h3><br /><h4 style='color: red;'>Controlla i dati inseriti! Alcuni parametri sono mancanti o incompleti!</h4><br /><br />");
	$('#line_item_promotion_price').val("0.0");
<% end %>