<div class="row">
	<div class="span16">
		<h2><%= t(:edit_store_settings) %></h2>
		<br />
		<%= form_tag(admin_store_settings_path, :method => :put, :class => "well form-horizontal") do %>
			<div id="preferences" class="clearfix" data-hook>
			<% @preferences.each do |key| 
				type = Spree::Config.preference_type(key) %>
				<% if type != :boolean %>
				<div class="control-group">
					<%= label_tag(key, t(key) + ': ', :class => "control-label") %>
			    	<div class="controls">
			      		<%= preference_field_tag(key, Spree::Config[key], :type => type) %>
			    	</div>
			  	</div>
				<% else %>
				<div class="control-group">
				    <div class="controls">
				      	<label class="checkbox">
						  <%= preference_field_tag(key, Spree::Config[key], :type => type) %>
						  <%= t(key) %>
						</label>
				    </div>
				  </div>
				<% end %>
			<% end %>
			</div>
			<div class="form-actions clearer right-txt" data-hook="buttons">
				<%= submit_tag(t(:update), :class => "btn btn-primary") %>
				<%= link_to(t(:back), admin_configurations_url(), :class => "btn btn-inverse") %>
			</p>
		<% end %>
	</div>
</div>