<div class="row">
	<div class="span7">
		<h2><%= t(:spiraling) %></h2>
		<p>In questa pagina puoi gestire le opzioni di spiralatura</p>
	</div>
	<div class="span8 content-box margin-top">
		Se la spiralatura avviene internamente inserite:
		<ol>
			<li>Costo orario</li>
			<li>Tempo di avviamento</li>
			<li>Numero medio di spiralature orarie</li>
		</ol>
		Se la spiralatura viene eseguita da una ditta esterna:
		<ol>
			<li>spuntate la casella "In Esterna"</li>
			<li>inserite il costo di avviamento e un valore minimo di spiralature sotto al quale il costo di avviamento viene calcolato</li>
			<li>inserite dei limiti per costo per copia (potete dividere il costo copia a scaglioni da una quantità minima ad una massima)</li>
		</ol>
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<ul class="nav nav-pills" id="myTab">
			<li class="active"><a href="#general" data-toggle="tab"><%= t(:general_settings) %></a></li>
			<li><a href="#quantity" data-toggle="tab" data-url-tab="<%= admin_spiraling_quantities_index_path(@spiraling) %>"><%= t(:formats) %></a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="general">
				<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @bindery } %>
				<%= form_for([:admin, @spiraling], :url => {:action => :update}, :html => {:class => "well form-horizontal clearfix"}) do |f| %>
					<legend><%= t(:general_settings) %></legend>
					<div class="control-group">
						<%= label_tag(:external, t(:external), :class => "control-label") %>
						<div class="controls">
					  		<%= f.check_box(:external) %>
						</div>
						<p style="font-size: 11px; color: #880000;">Devi salavare la nuova impostazione prima di poter modificare</p>
					</div>
					<% if !@spiraling.external %>
					<div id="internal">
		    			<div class="control-group">
							<%= label_tag("spiraling[hourly_cost]", t(:hourly_cost), :class => "control-label") %>
							<div class="controls">
						  		<div class="input-append"><%= f.text_field(:hourly_cost, :tabindex => 1, :class => 'required') %><span class="add-on">&euro;</span></div>
							</div>
						</div>
						<div class="control-group">
							<%= label_tag("spiraling[start_time]", t(:start_time), :class => "control-label") %>
							<div class="controls">
						  		<div class="input-append"><%= f.text_field(:start_time, :tabindex => 2 , :class => 'required') %><span class="add-on">min</span></div>
							</div>
						</div>
						<div class="control-group">
							<%= label_tag("spiraling[average_hourly_spiraling]", t(:average_hourly_spiraling), :class => "control-label") %>
							<div class="controls">
						  		<div class="input-append"><%= f.text_field(:average_hourly_work, :tabindex => 3 , :class => 'required') %><span class="add-on">spiralature/ora</span></div>
							</div>
						</div>
					</div>
					<% else %>
					<div id="external">
						<div class="span5">
							<%= label_tag(:hourly_cost, t(:min_limit_spiraling)) %>
						  	<div class="input-append"><%= f.text_field(:min_limit_spiraling, :class => 'required') %><span class="add-on">copie</span></div>
						</div>
						<div class="span5">
							<%= label_tag(:average_hourly_spiraling, t(:cost_spiraling)) %>
					  		<div class="input-append"><%= f.text_field(:cost_spiraling, :class => 'required') %><span class="add-on">&euro;</span></div>
						</div>
						<br class="clearer"/><br />
						<div class="clearfix">
							<%= f.fields_for :spiraling_copy_costs do |builder| %>
								<%= render "spiraling_copy_cost_fields", :f => builder %>
							<% end %>
							<p class="small"><%= link_to_add_fields("Aggiungi un nuovo limite per costo a copia", f, :spiraling_copy_costs) %></p>
						</div>
					</div>
					<% end %>
					<div class="form-actions clearer right-txt">
		    			<%= f.submit(t(:update), :class => "btn btn-primary") %>
					</div>
				<% end %>
			</div>
			<div class="tab-pane" id="quantity">
				<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
			</div>
		</div>
	</div>
</div>
