<% if @simple_product.images.empty? %>
    <h4><%= t(:new_image) %></h4>
    <br/>
    <%= form_for([:admin, @simple_product, @image], :multipart => true, :class => "well form-horizontal") do |f| %>
        <table class="basic-table" data-hook="new_image">
          <%= render :partial => 'form_image', :locals => {:f => f} %>
        </table>
        <div class="form-actions" data-hook="buttons">
          <%= f.submit(t(:create), :class => "btn right btn-info right") %>
        </div>
    <% end %>
    <%= javascript_include_tag 'admin/images/new.js' %>
<% else %>
    <h4><%= t(:edit_image) %></h4>
    <br/>

    <%= render :partial => 'spree/shared/error_messages', :locals => {:target => @simple_product.images.first} %>

    <%= form_for([:admin, @simple_product, @image], :html => {:multipart => true, :class => "well form-horizontal"}) do |f| %>
        <table class="basic-table" data-hook="edit_image">
          <tr data-hook="thumbnail">
            <td><%= t(:thumbnail) %>:</td>
            <td><%= link_to image_tag(@simple_product.images.first.attachment.url(:mini)), @simple_product.images.first.attachment.url(:product) %></td>
          </tr>
          <%= render :partial => 'form_image', :locals => {:f => f} %>
        </table>
        <div class="form-actions" data-hook="buttons">
          <%= f.submit(t(:update), :class => "btn right btn-info right") %>
        </div>
    <% end %>
<% end %>