<div class="clearfix">
	<div class="span6 left">
		<h2>Caricamento file</h2>
		<div class="control-group">
			<div class="controls">
		  		<%= f.check_box(:max_width, :value => (@simple_product.max_width == 1) ? true : false) %>
				<%= label_tag(:upload_file, t(:upload_file), :class => "control-label") %>
			</div>
		</div>
		<h2><%= t(:description) %></h2>
		<div class="control-group">
			<div class="controls">
				<%= f.cktext_area(:description, :style => "width: 440px; height: 300px;") %>
			</div>
		</div>
		<h2><%= t(:description2) %></h2>
		<div class="control-group">
			<div class="controls">
				<%= f.cktext_area(:description2, :style => "width: 440px; height: 300px;") %>
			</div>
		</div>
	</div>
	<div class="span6 left">
		<h2>Informazioni</h2>
		<div class="control-group">
			<%= label_tag(:name, t(:name), :class => "control-label") %>
			<div class="controls">
				<%= f.text_field(:name, :style => "width: 430px") %>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag(:marginality, t(:marginality), :class => "control-label") %>
			<div class="controls input-append">
				<%= f.text_field(:marginality, :style => "width: 405px") %><span class="add-on">%</span>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag(:weight, t(:weight), :class => "control-label") %>
			<div class="controls input-append">
				<%= f.text_field(:weight, :style => "width: 405px") %><span class="add-on">peso unitario in kg</span>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag(:taxon, t(:taxon), :class => "control-label") %>
			<div class="controls input-append">
				<%= f.select(:taxon_ids, Spree::Taxon.all.collect{|t| [t.name, t.id]}) %>
			</div>
		</div>
		<br class="clearer"/><br />
		<div class="box-seo">
			<h2>Informazioni SEO <span style="font-size: 12px;">(per migliorare il posizionamento)</span></h2>
			<label class="clearer"><%= t(:seo_title) %></label>
			<%= f.text_field(:seo_title, :id => "seo-title") %>
			<br class="clearer"/><br />
			<label class="clearer"><%= t(:meta_description) %></label>
			<%= f.text_field(:meta_description, :id => "meta-description") %>
			<label class="clearer"><%= t(:meta_keywords) %></label>
			<%= f.text_field(:meta_keywords, :id => "meta-keywords", :style => "width: 418px;") %>
		</div>
	</div>
</div>

<br class="clearer"/>
<div class="form-actions clearer right-txt">
	<%= f.submit(t(:update), :class => "btn btn-primary") %>
	<%= link_to(t(:back), admin_simple_products_url, :class => "btn btn-inverse") %>
</div>