<div class="row">
	<div class="span16">
		<h2><%= t(:listing_simple_products_offers) %></h2>
		<p>In questa pagina puoi gestire tutti i tuoi prodotti semplici</p>
	</div>
	<%= render :partial => "box_search" %>
	<br class="clearer"/><br class="clearer"/>
	
	<div class="span16">
		<table class="table" id="listing_products">
			<tbody>
			<% @collection.each do |product| %>
				<tr id="<%= spree_dom_id product %>" data-hook="admin_simple_products_index_rows">
					<td class="center">
						<h1 class="marginality"><%= product.try(:marginality) %>%</h1>
					</td>
					<td>
						<%= (product.images.blank?) ? content_tag(:p, "Immagine non trovata", :style => "font-size: 13px; line-height: 20px;") : image_tag(product.images.first.attachment.url(:product), :width => 120) %>
					</td>
					<td>
						<h4><%= product.try(:name) %></h4>
						<p><%= truncate(product.try(:description), :length => 100, :omission => "...") %></p>
					</td>
					<td class="actions" data-hook="admin_simple_products_index_row_actions">
						<div style="margin: 20px auto">
							<%= link_to("#{t(:edit_product)} <i class='icon-edit icon-white'></i>".html_safe, edit_admin_simple_product_path(product), :class => "btn btn-large btn-primary") %>
							<% if !product.active? %>
							<br class="clearer"/><br class="clearer"/>
							<%= link_to("Abilita il prodotto <i class='icon-ok icon-white'></i>".html_safe, active_admin_simple_product_path(product), :class => "btn btn-large btn-success") %>
							<br class="clearer"/><br class="clearer"/>
							<%= link_to("Rimuovi il prodotto <i class='icon-remove icon-white'></i>".html_safe, admin_simple_product_path(product), :method => :delete, :class => "btn btn-medium btn-warning") %>
							<% elsif product.active? %>
							<br class="clearer"/><br class="clearer"/>
							<%= link_to("Disattiva il prodotto <i class='icon-off icon-white'></i>".html_safe, deactive_admin_simple_product_path(product), :class => "btn btn-small btn-danger") %>
							<% end %>
						</div>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<%= paginate(@collection, :theme => 'twitter-bootstrap') %>
	</div>
</div>

<%= render :partial => 'spree/admin/shared/footer_links' %>
