<%= form_tag admin_hourly_costs_path do %>
    <%=  label_tag "hourly_cost", t(:hourly_cost) %>
    <%= text_field_tag "hourly_cost", @hourly_cost.presentation, :tabindex => 1 %> &euro; <br/>
    <%= submit_tag(t(:update)) %>
<% end %>