<div style='color:#777;width:560px;font-family:sans-serif;font-size:12px;line-height:140%;padding:20px' class='mail'>
	<p>Gentile Utente,</p>

	<p>&Egrave; stata efftuata una richiesta di reset password per la tua mail. <br />Se non hai fatto la richiesta, semplicemente ignora la mail.</p>

	<p>se hai fatto la richiesta, quello seguente &egrave; il link per il reset della password</p>

	<p><%= @edit_password_reset_url %></p>
	<br />
	<p>Se il link non funziona prova a copiarlo nel tuo browser.<br />Se continua a non funzionare contatta il <%= link_to("Servizio Clienti", "mailto:#{Spree::Config[:store_default_email]}") %></p>
	<br />
	<br />
	<p>Cordialmente</p>
	<table>
		<tr>
			<td>
				<%= link_to(Spree::Config[:site_url], "#{Spree::Config[:site_url]}") %><br/><%= link_to(Spree::Config[:store_default_email], "mailto:#{Spree::Config[:store_default_email]}") %>
			</td>
		</tr>
	</table>
</div>