<div class="control-group span6">
  <%= label_tag(:name, t(:name), :class => "control-label") %>
  <div class="controls">
    <%= f.text_field(:number, :value => @quarter.number) %>
  </div>
</div>
<div class="control-group span6">
  <%= label_tag(:cut_number, t(:cut_number), :class => "control-label") %>
  <div class="controls">
    <%= f.text_field(:cut_number, :value => @quarter.cut_number) %>
  </div>
</div>