<h1><%= t("quarter") %></h1>
<p>In questa pagina puoi gestire i quartini</p>

<div class="span10 clearfix" data-hook="toolbar">
	<%= button_link_to("#{t("quarter.new_quarter")} <i class='icon-plus icon-white'></i>".html_safe, spree.new_admin_quarter_path, {:id => 'admin_new_printer', :class => "btn btn-large btn-primary"}) %>
</div>

<br class="clearer"/><br />

<table class="table table table-hover table-condensed table-bordered" data-hook>
	<thead>
  		<tr class="info">
    		<th><%= t("quarter.number") %></th>
			<th><%= t("quarter.cut_number") %></th>
			<th><%= t(:action) %></th>
  		</tr>
	</thead>
	<tbody>
	<% @quarters.each do |quarter| %>
		<tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id quarter %>">
			<td><%= quarter.number %></td>
			<td><%= quarter.cut_number %></td>
			<td style="width: 210px">
				<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe ,edit_admin_quarter_path(quarter), :class => "btn btn-primary") %>
              <%= link_to("#{t(:delete)} <i class='icon-remove icon-white'></i>".html_safe, admin_quarter_path(quarter), {:class => " btn btn-danger", :data => { :confirm => t(:are_you_sure) },:remote => true,	:method => 'delete'}) %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>
