<div class="span6">
	<div class="control-group">
		<%= label_tag(:presentation, t(:name), :class => "control-label") %>
		<div class="controls">
	  		<%= text_field_tag 'printer[presentation]', @printer.presentation %>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag(:printer_format_ids, t(:printer_formats_available), :class => "control-label") %>
		<div class="controls">
	  		<%= select_tag("printer[printer_format_ids]",
		                   options_for_select(Spree::PrinterFormatDefault.all.collect {|f| [f.name, f.id]}, @printer.printer_formats.collect{|v| v.id}),
		                   :multiple => true,
		                   :data => {:placeholder => 'Seleziona i formati'}, :class => "chosen") %>
		</div>
	</div>
</div>
<div class="span6">
	<div class="control-group">
		<%= label_tag(:digital, t(:digital_or_offset), :class => "control-label") %>
		<div class="controls">
	  		<%= radio_button_tag('printer[printer_type]', "digital", (@printer.name == "digital") ? true : false) %> <%= t(:density) %><br/>
			<%= radio_button_tag('printer[printer_type]', "offset", (@printer.name == "offset") ? true : false) %> <%= t(:owerflow) %>
		</div>
	</div>
	<div class="control-group" id="color_type">
		<%= label_tag(:color_type, t(:color_type), :class => "control-label") %>
		<div class="controls">
	  		<%= select_tag('printer[color_type]', options_for_select([["4 Colori", "4"], ["8 Colori", "8"]], @printer.color_type)) %>
		</div>
	</div>
</div>
<br class="clearer"/>
<div class="control-group span6">
	<%= label_tag(:cost_waiting, t(:cost_waiting), :class => "control-label") %>
	<div class="controls">
  		<div class="input-append"><%= text_field_tag('printer[cost_waiting]', @printer.cost_waiting) %><span class="add-on"><%= raw t(:currency) %></span></div>
	</div>
</div>
<div class="control-group span6">
	<%= label_tag(:min_limit_waiting, t(:min_limit_waiting), :class => "control-label") %>
	<div class="controls">
  		<%= text_field_tag 'printer[min_limit_waiting]', @printer.min_limit_waiting %>
	</div>
</div>
<br class="clearer"/>
<div class="span6">
	<br class="clearer"/>
  	<h2><%= t(:price_for_color) %></h2>
	<div class="control-group">
		<%= label_tag(:printer_hourly_cost_c, t(:printer_hourly_cost), :class => "control-label") %>
		<div class="controls">
	  		<div class="input-append"><%= text_field_tag('printer[printer_hourly_cost_c]', @printer.printer_hourly_cost_c) %><span class="add-on"><%= raw t(:currency) %>/ora</span></div>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag(:start_time_c, t(:start_time), :class => "control-label") %>
		<div class="controls">
	  		<div class="input-append"><%= text_field_tag('printer[start_time_c]', @printer.start_time_c) %><span class="add-on">minuti</span></div>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag(:average_hourly_print_c, t(:average_hourly_print), :class => "control-label") %>
		<div class="controls">
	  		<div class="input-append"><%= text_field_tag('printer[average_hourly_print_c]', @printer.average_hourly_print_c) %><span class="add-on">fogli/ora</span></div>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag(:waste_paper_c, t(:waste_paper), :class => "control-label") %>
		<div class="controls">
	  		<div class="input-append"><%= text_field_tag 'printer[waste_paper_c]', @printer.waste_paper_c %><span class="add-on">n.fogli</span></div>
		</div>
	</div>
	<div class="control-group" id="plant_color_c">
		<%= label_tag(:plant_color_c, t(:plant_color), :class => "control-label") %>
		<div class="controls">
	  		<div class="input-append"><%= text_field_tag 'printer[plant_color_c]', @printer.plant_color_c %><span class="add-on"><%= raw t(:currency) %></span></div>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag(:price_front_c, t(:single_paper_color), :class => "control-label") %>
		<div class="controls">
	  		<div class="input-append"><%= text_field_tag 'printer[price_front_c]', @printer.price_front_c %><span class="add-on"><%= raw t(:currency) %></span></div>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag(:price_front_and_back_c, t(:front_back_color), :class => "control-label") %>
		<div class="controls">
			<div class="input-append"><%= text_field_tag 'printer[price_front_and_back_c]', @printer.price_front_and_back_c %><span class="add-on"><%= raw t(:currency) %></span></div>
		</div>
	</div>
</div>
<div class="span6">
	<br class="clearer"/>
	<h2><%= t(:price_for_bw) %></h2>
	<div class="control-group">
		<%= label_tag(:printer_hourly_cost_bw, t(:printer_hourly_cost), :class => "control-label") %>
		<div class="controls">
	  		<div class="input-append"><%= text_field_tag('printer[printer_hourly_cost_bw]', @printer.printer_hourly_cost_bw) %><span class="add-on"><%= raw t(:currency) %>/ora</span></div>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag(:start_time_bw, t(:start_time), :class => "control-label") %>
		<div class="controls">
	  		<div class="input-append"><%= text_field_tag('printer[start_time_bw]', @printer.start_time_bw) %><span class="add-on">minuti</span></div>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag(:average_hourly_print_bw, t(:average_hourly_print), :class => "control-label") %>
		<div class="controls">
	  		<div class="input-append"><%= text_field_tag('printer[average_hourly_print_bw]', @printer.average_hourly_print_bw) %><span class="add-on">fogli/ora</span></div>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag(:waste_paper_bw, t(:waste_paper), :class => "control-label") %>
		<div class="controls">
	  		<div class="input-append"><%= text_field_tag 'printer[waste_paper_bw]', @printer.waste_paper_bw %><span class="add-on">n. fogli</span></div>
		</div>
	</div>
	<div class="control-group" id="plant_color_bw">
		<%= label_tag(:plant_color_bw, t(:plant_color), :class => "control-label") %>
		<div class="controls">
	  		<div class="input-append"><%= text_field_tag 'printer[plant_color_bw]', @printer.plant_color_bw %><span class="add-on"><%= raw t(:currency) %></span></div>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag(:price_front_bw, t(:single_paper_bw), :class => "control-label") %>
		<div class="controls">
	  		<div class="input-append"><%= text_field_tag 'printer[price_front_bw]', @printer.price_front_bw %><span class="add-on"><%= raw t(:currency) %></span></div>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag(:price_front_and_back_bw, t(:front_back_bw), :class => "control-label") %>
		<div class="controls">
			<div class="input-append"><%= text_field_tag 'printer[price_front_and_back_bw]', @printer.price_front_and_back_bw %><span class="add-on"><%= raw t(:currency) %></span></div>
		</div>
	</div>
</div>
