<tbody>
	<tr>
		<td style="vertical-align: top"><h4><%= printer.presentation %></h4></td>
		<td><%= data_print_color(printer) %></td>
		<td><%= data_print_bw(printer) %></td>
		<td>
			<%= link_to("Modifica <i class='icon-edit icon-white'></i>".html_safe, admin_edit_printer_path(printer), :class => "btn btn-large btn-primary") %>
			<br class="clearer"/><br />
			<%= link_to("Rimuovi <i class='icon-remove icon-white'></i>".html_safe, admin_delete_printer_path(printer), :confirm => 'Sei sicuro?', :method => :delete, :class => "btn btn-large btn-danger") %>
		</td>
	</tr>
</tbody>