<div class="row">
	<div class="span16">
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @printer } %>
		<h2><%= t(:create) %> <%= t(:printers) %></h2>
		<br />
		<%= form_for(@printer, :url => {:action => :create}, :html => {:class => "well form-horizontal"}) do |f| %>
		    <%=  render :partial => 'form', :locals => {:f => f, :printer => @printer} %>
			<div class="form-actions clearer right-txt">
				<%= f.submit(t(:create), :class => "btn btn-primary") %>
		      	<%= link_to(t(:back), admin_printers_path, :class => "btn btn-inverse") %>
		    </div>
		<% end %>
	</div>
</div>
