<%= javascript_include_tag 'store/preventive/business_card' %>
<% if @promo %>
<%= javascript_tag do %>
	$(function () {
		SetOptionPromotion(<%== @promo.to_calculate.to_json %>);
	});
<% end %>
<% end %>
<%= javascript_tag do %>
	printer_format_users = <%== @product.printer_format_cards_json %>;
	preventiveUrl = "<%= preventive_url %>";
	paper_products_selected = <%== @product.get_selected_values_json %>;
<% end %>

<%= form_for :order, {:url => populate_orders_url, :html => {:class => 'buy-form', :id => 'add_business_card'}} do |f| %>
    <%= hidden_field_tag(:business_card_product_id, @product.id) %>
	
    <h2>Formato</h2>
    <div class="format-check clearfix">
      <% first = true %>
      <% @product.printer_format_card_option_type.option_values.each do |ov| %>
          <div class="block f85x5">
            <div class="box"><%= ov.template_format.present? ? image_tag(ov.template_format.attachment.url(:normal)) : "" %></div>
            <%= radio_button_tag "order[format]", ov.id, first, {:class => 'radio', :id => "radio_format_#{ov.id }"} %>
            <% first = false %>
            <label for="radio_format_<%= ov.id %>"><%= ov.presentation %></label>
          </div>
      <% end %>
    </div>
    <% first = true %>
	
	<h2>Orientamento</h2>
    <div class="format-check">
      <% @product.directing_option_type.option_values.each do |ov| %>

          <div class="block <%= ov.presentation == 'Verticale' ? "vert" : "hor" %>">
            <div class="box"></div>
            <%= radio_button_tag "order[orientation]", ov.id, first, {:class => "radio", :id => "radio_orientation_#{ov.id}"} %>
            <% first = false %>
            <label for="radio_orientation_<%= "#{ov.id}" %>"><%= ov.presentation %></label>
          </div>

      <% end %>
    </div>

	<h2>Informazioni</h2>
	<label for="instructions">Indicazioni di stampa</label>
    <%= select("order", "instructions", [["Solo fronte","front"], ["Fronte e retro","front_back"]], {:include_blank => false}) %>
	
    <label for="paper">Carta</label>
    <select id="paper" name="order[paper]"></select>
	
    <label for="weight">Grammatura</label>
    <select id="weight" name="order[weight]"></select>

    <label for="plasticization">Plastificazione</label>
    <%= select_tag("order[plasticization]", options_for_select(Spree::Plasticization.standard), :prompt => 'Seleziona la plastificazione') %>

    <label for="print_color">Tipo stampa</label>
    <%= select("order", "print_color",[["Bianco e nero","false"], ["Colori","true"]] , {:include_blank => false}) %>

		<h2>Copie</h2>
		<label for="copy">Numero di copie</label>
		<% if !@product.number_of_copies.blank? %>
		<%= select("order", "number_of_copy", @product.number_of_copies.split(",").collect { |v| [v, v] }, {:include_blank => false, :prompt => "Seleziona quantita"}) %>
		<% else %>
		<%= text_field_tag("order[number_of_copy]", 0, :class => 'required', :min => @product.min_number_of_copies) %>
		<% end %>

<% if Spree::Config[:file_check] %>
	<h2><%= t(:file_check) %></h2>
	<label for="check"><%= t(:file_check) %></label>
	<%= select_tag("order[file_check]", options_for_select([["No", 0], ["Si", 1]])) %>
	<p style="padding: 0px; font-size: 12px; margin-bottom: 10px;" class="clearer"><%= "#{Spree::Config[:file_check_desc] } (#{Spree::Config[:file_check_cost]}&euro;)".html_safe %></p>
<% end %>

    <h2><%= t(:date_adjustment) %></h2>
    <%= render :partial => 'spree/shared/shipping_date_adjustment', :locals => {:product => @product} %>
	
	<%= render :partial => 'spree/shared/promotions', :locals => {:product => @product} %>
	
	<% if !Spree::Config[:order_notes].blank? %>
	<div class="note-box">
		<h4>Note Ordine</h4>
		<p><%= Spree::Config[:order_notes] %></p>
	</div>
	<% end %>

	<% unless @product.description2.blank? %>
	<div class="note-box2">
		<h4>Informazioni aggiuntive</h4>
		<p><%= raw(@product.description2) %></p>
	</div>
	<% end %>

    <%= hidden_field_tag :quantity, 1 %>
    <%= button_tag :class => 'btn-submit', :id => 'add-to-cart-button', :type => :submit do %>
        <%= content_tag(:span, t(:add_to_cart)) %>
    <% end %>
<% end %>

