<% if @product.finishing == "coil" %>
<%= javascript_include_tag 'store/preventive/sticker_coil' %>
<% else %>
<%= javascript_include_tag 'store/preventive/sticker' %>
<% end %>

<% if @promo %>
<%= javascript_tag do %>
	run_preventive = false;
	$(function () {
		SetOptionPromotion(<%== @promo.to_calculate.to_json %>);
	});
<% end %>
<% end %>
<%= javascript_tag do %>
    preventiveUrl = "<%= preventive_url %>";
		papers = <%== @product.all_value_json %>;
		is_limit = <%== @product.sticker_printer_formats.find_by_name("custom").limit_max %>;
		max_width = <%== @product.sticker_printer_formats.find_by_name("custom").max_width_dimension.to_i %>;
		max_height = <%== @product.sticker_printer_formats.find_by_name("custom").max_height_dimension.to_i %>;
		jQuery(document).ready(function() {
			<% if @product.sticker_printer_formats.length > 3 %>
			jQuery('#format_carousel').jcarousel();
			<% end %>
			jQuery('#orientation_carousel').jcarousel();
		});
<% end %>

<%= form_for :order, {:url => populate_orders_url, :html => {:class => 'buy-form', :id => 'add_stickers'}} do |f| %>
    <%= hidden_field_tag(:sticker_product_id, @product.id) %>
	
    <h2>Formato</h2>
	<div class="format-check">
		<ul id="format_carousel" class="clearfix">
			<% first = true %>
			<% @product.sticker_printer_formats.each do |rpv| %>
			<li class="clearfix block f85x5">
				<div class="clearfix">
					<% if rpv.name == "custom" %>
					<div class="box custom"><%= rpv.template_format.present? ? image_tag(rpv.template_format.attachment.url(:normal)) : "" %></div>
					<% else %>
					<div class="box"><%= rpv.template_format.present? ? image_tag(rpv.template_format.attachment.url(:normal)) : "" %></div>
					<% end %>
					<%= radio_button_tag "order[format]", rpv.id, first && rpv.name != "custom", {:class => 'radio', :id => "radio_format_#{rpv.id}", :data => {:custom => rpv.name == "custom", :cutting_coil => rpv.cutting_coil}} %>
					<% first = false if rpv.name != "custom" %>
					<label for="radio_format_<%= rpv.id %>"><%= rpv.name.capitalize %></label>
				</div>
			</li>
			<% end %>
		</ul>
		<% first = true %>
	</div>
	
	<div class="custom-size clearfix">
		<label>Formato personalizzato </label>
		<div class="clearfix">
			<% @pfrmt = @product.sticker_printer_formats.find_by_name("custom") %>
			L <%= text_field_tag "order[custom][width]", @pfrmt.min_width_dimension.to_i, :min => @pfrmt.min_width_dimension.to_i %>  x 
			H <%= text_field_tag "order[custom][height]", @pfrmt.min_height_dimension.to_i, :min => @pfrmt.min_height_dimension.to_i %> cm
			<p style="display:none; font-size:9px; padding:0px 0px 0px 12px; color:red;"><%= @pfrmt.presentation %></p>
		</div>
	</div>
	
	<% if @product.finishing == "coil" %>
	<h2>Orientamento</h2>
	<div class="orientation-check">
		<ul id="orientation_carousel" class="clearfix">
			<% ori = true %>
			<% Spree::OptionValue.find_all_by_option_type_id(Spree::OptionType.find_by_name("printer_orientation_coil").id).each do |poc| %>
			<li class="clearfix block f85x5">
				<div class="clearfix">
					<div class="box"><%= poc.template_format.present? ? image_tag(poc.template_format.attachment.url(:normal)) : "" %></div>
					<%= radio_button_tag "order[orientation_coil]", poc.id, ori, {:class => 'radio', :id => "radio_orientation_coil_#{poc.id}"} %>
					<label for="radio_orientation_coil_<%= poc.id %>"><%= poc.presentation.capitalize %></label>
				</div>
			</li>
			<% ori = false %>
			<% end %>
		</ul>
	</div>
	<% end %>
	
	<h2>Informazioni</h2>
	<% if @product.finishing == "coil" %>
	<div class="clearfix field_content">
    	<label for="copy">Numero di etichette per bobina</label>
		<%= text_field_tag("order[number_of_stickers]", 1, :class => 'required', :min => 1) %>
	</div>
	<% end %>
	
	<div class="clearfix field_content" powertip="true">
    	<label for="paper">Materiale</label>
	    <%= select_tag("order[paper]", options_for_select(@product.papers_variant.map { |v| [v.name, v.id] })) %>
	</div>
	
	<div class="clearfix field_content" powertip="true">
    	<label for="print_color">Tipo stampa</label>
	    <%= select_tag("order[print_color]", options_for_select(@product.plotters_variant.map { |v| [v.name, v.id] }),:include_blank => false) %>
	</div>

	<div class="clearfix field_content">
    	<label for="cutting_coil">Modalità di taglio</label>
    	<%= select_tag("order[cutting_coil]", options_for_select(@product.cutting_coil_variants.map {|cc| [cc.name, cc.id] })) %>
	</div>

	<% @product.sticker_variants.each do |sv| %>
		<% sv.processing_plotter_combinations.each do |sc| %>
			<div class="clearfix field_content" powertip="true">
    			<label name="<%= 'order[processing_plotter_combination][label]['+sc.id.to_s+']' %>" > <%= sc.name %> </label>
    			<%= select_tag(
    				"order[processing_plotter_combination][#{sc.id.to_s}]", 
    				options_for_select(sc.processing_plotter_types.map {|ppt| [ppt.name, ppt.id]}), 
    				:prompt => "Seleziona Finitura",
    				:processing_plotter_id => sc.id)
    			%>
			</div>
		<%end%>
	<% end %>

	<h2>Copie</h2>
	<div class="clearfix field_content">
    	<label for="copy">Numero di copie</label>
		<% if !@product.number_of_copies.blank? %>
	    	<%= select("order", "number_of_copy", @product.number_of_copies.split(",").collect { |v| [v, v] }, {:include_blank => false, :prompt => "Seleziona quantita"}) %>
		<% else %>
			<%= text_field_tag("order[number_of_copy]", 0, :class => 'required', :min => @product.min_number_of_copies) %>
		<% end %>
	</div>

<% if Spree::Config[:file_check] %>
	<h2><%= t(:file_check) %></h2>
	<label for="check"><%= t(:file_check) %></label>
	<%= select_tag("order[file_check]", options_for_select([["No", 0], ["Si", 1]])) %>
	<p style="padding: 0px; font-size: 12px; margin-bottom: 10px;" class="clearer"><%= "#{Spree::Config[:file_check_desc] } (#{Spree::Config[:file_check_cost]}&euro;)".html_safe %></p>
<% end %>
	
    <h2><%= t(:date_adjustment) %></h2>
    <%= render :partial => 'spree/shared/shipping_date_adjustment', :locals => {:product => @product} %>
	
	<%= render :partial => 'spree/shared/promotions', :locals => {:product => @product} %>
	
	<% if !Spree::Config[:order_notes].blank? %>
	<div class="note-box">
		<h4>Note Ordine</h4>
		<p><%= Spree::Config[:order_notes] %></p>
	</div>
	<% end %>

	<% unless @product.description2.blank? %>
	<div class="note-box2">
		<h4>Informazioni aggiuntive</h4>
		<p><%= raw(@product.description2) %></p>
	</div>
	<% end %>

    <%= hidden_field_tag :quantity, 1 %>
    <%= button_tag :class => 'btn-submit', :id => 'add-to-cart-button', :type => :submit do %>
        <%= content_tag(:span, t(:add_to_cart)) %>
    <% end %>
<% end %>
