<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head data-template-set="html5-reset">
	<!--[if IE]> 
	<script type="application/javascript">
		document.html('Il Browser non e` supportato. Scarica <a href="http://www.google.it/intl/it/chrome/browser/">Chrome</a>.');
	</script>
	<![endif]-->
	<%= render :partial => 'spree/admin/shared/head' %>
</head>
<body class="admin" data-ajax-root-path="<%= spree.root_path %>" id="<%= @body_id || 'default' %>" style="padding-top: 40px;">
	
	<!-- NAV MENU -->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to(image_tag(Spree::Config[:admin_interface_logo], :id => 'logo'), root_path, :class => "brand") %>
				<ul class="nav" data-hook="admin_tabs" id="admin-menu">
					<%= render :partial => 'spree/admin/shared/tabs' %>
				</ul>
			</div>
		</div>
	</div>
	<!-- NAV MENU -->
	
	<!--<section id="pageHeader">
		<%#= yield(:sub_menu) %>
	</section>-->
	
	<section id="pageContent">
		<div class="container" id="content" data-hook>
			<div class="row">
				<div class="span16" id="alert_msg">
					<% if flash[:error] %>
					<div class="alert alert-danger error">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<%= flash[:error] %>
					</div>
					<% end %>
					<% if notice %>
					<div class="alert alert-warning notice">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<%= notice %>
					</div>
					<% end %>
				</div>
			</div>
			    <%#= render :partial => 'spree/admin/shared/alert', :collection => session[:alerts] %>
		   	<%= yield %>
		</div>
	</section>
	
	<section id="pageFooter">
		<div class="container" id="footer" data-hook>
			<div class="row">
				<%= yield(:footer) %>
			</div>
			<hr/>
			<footer>
				<p style="float: left; margin-right: 50px;">© DiGiness <%= Date.today.year %></p> <%= link_to('www.diginess.com', 'http://www.diginess.com') %></footer>
		</div>
	</section>
	
	<div data-hook="admin_footer_scripts"></div>
</body>
</html>
