<div class="row">
	<div class="span16">
		<h2><%= t(:edit) %> <%= t(:presentation_pack) %></h2>
		<%= render "spree/shared/error_messages", :target => @presentation_pack %>
		<br />
		<%= form_for([:admin, @presentation_pack],:html => { :multipart => true ,:id => 'edit_presentation_pack', :class => "well form-horizontal" }) do |f| %>
			<%= render :partial => "form", :locals => { :f => f } %>
			<%= render :partial => 'spree/admin/shared/edit_resource_links' %>
		<% end %>
	</div>
</div>
