<div class="row">
	<div class="span16">
		<%= render "spree/shared/error_messages", :target => @presentation_pack %>
		<h2><%= t(:new) %> <%= t(:presentation_pack) %></h2>
		<br />
		<%= form_for([:admin, @presentation_pack], :html => { :multipart => true, :class => "well" }) do |f| %>
			<%= render :partial => "form", :locals => { :f => f } %>
			<div class="form-actions right-txt">
				<%= f.submit(t(:create), :class => "btn btn-primary") %>
				<%= link_to(t(:back), admin_presentation_packs_path(), :class => "btn btn-inverse") %>
			</div>
		<% end %>
	</div>
</div>
