<div class='toolbar'>

  <ul class='actions'>
    <li>

      <%= button_link_to t("presentation_pack.new_presentation_pack"), spree.new_admin_presentation_pack_path, :icon => 'add' %>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1><%= t("presentation_pack.presentation_pack") %></h1>

<table class="index sortable" data-hook >
	<tr>
		<th><%= t("presentation_pack.name") %></th>
		<th><%= t("presentation_pack.presentation") %></th>
		<th><%= t("presentation_pack.icon") %></th>
		<th><%= t(:action) %></th>
	</tr>
	<tbody>
		<% @presentation_pack.each do |presentation_pack| %>
		<tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id presentation_pack %>">
			<td>
				<span class="handle"></span>
				<%= presentation_pack.name %>
			</td>
			<td><%= presentation_pack.presentation %></td>

			<td><%= image_tag presentation_pack.icon.url %></td>
			<td>
				<%= link_to_edit presentation_pack %> &nbsp;
				<%= link_to_delete presentation_pack %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>