<div class="span4">
  <%= label_tag(:name, t(:name)) %>
    <%= f.text_field(:name, :value => @paper.presentation) %>
</div>
<% if (@paper.paper_products.blank?) %>
<div class="span4">
    <label class="checkbox">
      <%= f.check_box(:active, :value => @paper.active) %> <%= t(:active) %>
    </label>
</div>
<% end %>
<br class="clearer"/>
<% if @paper.persisted? %>
<div class="clearfix">
	<%= f.fields_for :paper_weights do |builder| %>
		<%= render "paper_weight_fields", :f => builder %>
	<% end %>
	<p class="small"><%= link_to_add_fields("Aggiungi una nuova grammatura", f, :paper_weights) %></p>
</div>
<% else %>
<p style="font-size: 15px; color: #880000;">Devi salavare la nuova carta prima di poter aggiungere i costi per grammatura</p>
<% end %>

