<div class="row">
	<div class="span16">
		<h1><%= t(:paper_types) %></h1>
		<p>In questa pagina puoi gestire i tuoi tipi di carta</p>
	</div>
	
	<div class="span7 well">
		<%= button_link_to("#{t(:new_paper_type)} <i class='icon-plus icon-white'></i>".html_safe, spree.new_admin_paper_type_path, {:id => 'admin_new_printer', :class => "btn btn-primary"}) %>
	</div>
	<div class="span8 content-box">
		In questa sezione potete abilitare, disabilitare o modificare la le tipologie di carte che verranno usate nei prodotti di stampa. 
		Le caratteristiche principali sono:<br />
		<ul>
			<li>NOME: il nome che verr&agrave; vesualizzato nella tendina per la configurazione e nella pagina preventivo di ogni prodotto</li>
			<li>ATTIVO: se la tipologia di carta &egrave; attiva nel sistema</li>
			<li>GRAMMATURA: &egrave; possibile selezionare le grammature disponibili da un semplice menu a tendina</li>
			<li>COSTO A KG: il costo per il formato tagliato</li>
			<li>COSTO A RISMA: il costo per il formato in risma (le risme sono calcolate sempre per 1000 fogli)</li>
			<li>SPESSORE: lo spessore della carta (utile per il calcolo del dorso o della spirale)</li>
		</ul>
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="table table table-hover table-condensed table-bordered" data-hook>
			<thead>
		  		<tr class="info">
		    		<th><%= t("paper_type.name") %></th>
					<th>Grammature Disponibili</th>
					<th>Stato</th>
					<th></th>
		  		</tr>
			</thead>
			<tbody>
			<% @papers.each do |paper| %>
				<tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id paper %>">
					<td><%= paper.presentation %></td>
					<td><%= raw print_paper_weight(paper) %></td>
					<td style="vertical-align: middle;"><%= (paper.active) ? content_tag(:span, "Attiva <i class='icon-ok icon-white'></i>".html_safe, :class => "label label-success") : content_tag(:span, "Disattiva <i class='icon-off icon-white'></i>".html_safe, :class => "label label-warning") %></td>
					<td class="actions">
						<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe ,edit_admin_paper_type_path(paper), :class => "btn btn-primary") %>
						<%= link_to("#{t(:delete)} <i class='icon-remove icon-white'></i>".html_safe, admin_paper_type_path(paper), {:class => " btn btn-danger", :data => { :confirm => t(:are_you_sure) },	:method => 'delete'}) if (paper.paper_products.blank?) %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
