<div data-hook="admin_page_form_fields">
	<div class="span7">
		<%= label_tag :title, t(:title) %>
		<%= f.text_field(:title) %>
		<%= label_tag :permalink, t(:permalink) %>
		<%= f.text_field(:permalink) %>
		<%= label_tag :published_at, t(:published_at) %>
		<%= f.text_field(:published_at, :class => "datepicker_bootstrap") %>
	</div>
	<div class="span7">
		<div class="box-seo">
			<h2>Informazioni SEO <span style="font-size: 12px;">(per migliorare il posizionamento)</span></h2>
			<%= label_tag :tag_title, t(:tag_title) %>
			<%= f.text_field(:tag_title, :class => "span5") %>
			<%= label_tag :meta_description, t(:meta_description) %>
			<%= f.text_field(:meta_description, :class => "span5") %>
			<%= label_tag :meta_keywords, t(:meta_keywords) %>
			<%= f.text_field(:meta_keywords, :class => "span5") %>
		</div>
	</div>
	<br class="clearer"/>
	<div class="span15">
		<%= label_tag :body, t(:body) %>
		<%= f.cktext_area(:body, :width => 880, :style => "height: 550px") %>
	</div>
	<br class="clearer"/>
</div>