<div class="row">
	<div class="span16">
		<h2><%= t(:new_page) %></h2>
		<br class="clearer"/>
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @static_page } %>

		<%= form_for([:admin, @static_page], :html => { :multipart => true , :class => "well"}) do |f| %>
		<%= render :partial => 'form', :locals => { :f => f } %>
		<div data-hook="admin_page_new_form_buttons">
			<%= render :partial => 'spree/admin/shared/new_resource_links' %>
		</div>
		<% end %>
	</div>
</div>
