<h2><%= t('access', :scope => 'spree.api') %></h2>

<div class="clearfix" style="margin: 20px">
<% if @user.api_key.present? %>
  <p><strong><%= t('key', :scope => 'spree.api') %></strong> <%= @user.api_key %></p>

  <%= link_to("CANCELLA TOKEN", spree.clear_api_key_admin_user_path(@user), :method => :put, :class => "btn btn-danger") %> <%= link_to("RIGENERA TOKEN", spree.generate_api_key_admin_user_path(@user), :method => :put, :class => "btn btn-primary") %>

<% else %>

  <p><%= t('no_key', :scope => 'spree.api') %></p>
  <%= link_to("GENERA TOKEN", spree.generate_api_key_admin_user_path(@user), :method => :put, :class => "btn btn-primary") %>
<% end %>
</div>