<div class="row">
	<div class="span16">
		<div data-hook="admin_user_new_form_header">
		  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
		  <h2><%= t(:new_user) %></h2>
		</div>

		<div data-hook="admin_user_new_form">
		  <%= form_for([:admin, @user], :html => {:class => "well"}) do |f| %>
		    <%= render :partial => 'form', :locals => { :f => f } %>
			
			<%= f.hidden_field :privacy, :value => 1 %>
		    <div data-hook="admin_user_new_form_buttons">
		      <%= render :partial => 'spree/admin/shared/new_resource_links' %>
		    </div>
		  <% end %>
		</div>
	</div>
</div>
