<h2><%= t(:user_account) %></h2>

<table class="table table-condensed">
	<body>
		<tr data-hook="email">
			<th class="info"><%= t(:email) %></th>
			<td colspan="2">
				<%= @user.email %>
			</td>
		</tr>
		<tr data-hook="roles">
			<th class="info"><%= t(:bill_address) %></th>
			<td>
				<p class="small">
					<span class="bold"> <%= t(:firstname) %></span>:
					<%= @user.bill_address.firstname %>
				</p>
				<p class="small">
					<span class="bold"> <%= t(:lastname) %></span>:
					<%= @user.bill_address.lastname %>
				</p>
				<p class="small">
					<span class="bold"> <%= t(:street_address) %></span>:
					<%= @user.bill_address.address1 %>
				</p>
				<p class="small">
					<span class="bold"> <%= t(:city) %></span>:
					<%= @user.bill_address.city %>
				</p>
			</td>
			<td>
				<p class="small">
					<span class="bold"> <%= t(:zipcode) %></span>:
					<%= @user.bill_address.zipcode %>
				</p>
				<p class="small">
					<span class="bold"> <%= t(:state) %></span>:
					<%= @user.bill_address.state.name %>
				</p>
				<p class="small">
					<span class="bold"> <%= t(:country) %></span>:
					<%= @user.bill_address.country.name %>
				</p>
				<p class="small">
					<span class="bold"> <%= t(:phone) %></span>:
					<%= @user.bill_address.phone %>
				</p>
			</td>
		</tr>
		<tr data-hook="roles">
			<th class="info"><%= t(:ship_address) %></th>
			<td>
				<p class="small">
					<span class="bold"> <%= t(:firstname) %></span>:
					<%= @user.ship_address.firstname %>
				</p>
				<p class="small">
					<span class="bold"> <%= t(:lastname) %></span>:
					<%= @user.ship_address.lastname %>
				</p>
				<p class="small">
					<span class="bold"> <%= t(:street_address) %></span>:
					<%= @user.ship_address.address1 %>
				</p>
				<p class="small">
					<span class="bold"> <%= t(:city) %></span>:
					<%= @user.ship_address.city %>
				</p>
			</td>
			<td>
				<p class="small">
					<span class="bold"> <%= t(:zipcode) %></span>:
					<%= @user.ship_address.zipcode %>
				</p>
				<p class="small">
					<span class="bold"> <%= t(:state) %></span>:
					<%= @user.ship_address.state.name %>
				</p>
				<p class="small">
					<span class="bold"> <%= t(:country) %></span>:
					<%= @user.ship_address.country.name %>
				</p>
				<p class="small">
					<span class="bold"> <%= t(:phone) %></span>:
					<%= @user.ship_address.phone %>
				</p>
			</td>
		</tr>
	</tbody>
</table>

<p>
	<%= link_to_edit @user, :class => 'edit_user' %> <%= t(:or) %>
	<%= link_to t(:back), collection_url %>
</p>