<div class="row">
	<div class="span16">
		<h2><%= t(:eyelets) %></h2>
		<p>In questa pagina puoi gestire i tuoi tipi di occhiello</p>
	</div>
	
	<div class="span7 well">
			<%= button_link_to("#{t(:new_eyelet)} <i class='icon-plus icon-white'></i>".html_safe, spree.new_admin_eyelet_path, {:id => 'admin_new_printer', :class => "btn btn-primary"}) %>
	</div>
	<div class="span8 content-box">
		
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="table table-condensed table-bordered" data-hook>
			<thead>
		  		<tr class="info">
		    		<th><%= t(:name) %></th>
					<th><%= t(:copy_cost_article) %></th>
					<th></th>
		  		</tr>
			</thead>
			<tbody>
			<% @eyelets.each do |eyelet| %>
				<tr class="<%= cycle('even', 'odd') %>" id="<%= spree_dom_id eyelet %>">
					<td><%= eyelet.name %></td>
					<td><%= eyelet.copy_cost %> &euro;</td>
					<td class="actions">
						<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe ,edit_admin_eyelet_path(eyelet), :class => "btn btn-primary") %>
		              <%= link_to("#{t(:delete)} <i class='icon-remove icon-white'></i>".html_safe, admin_eyelet_path(eyelet), {:class => " btn btn-danger", :data => { :confirm => t(:are_you_sure) },:remote => true,	:method => 'delete'}) %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
