<div class="well">
	<h5><%= t(:formats) %></h5>
	<p class="small">In questa pagina puoi gestire i formati di spiralatura</p>
	<%= link_to("#{t(:new_format)} <i class='icon-plus icon-white'></i>".html_safe, admin_spiraling_quantities_new_path(@spiraling), :class => "btn btn-primary", :remote => true, :rel => "tab") %>
</div>

<table class="table table-condensed table-bordered">
	<thead>
		<tr data-hook="images_header" class="info">
			<th>Colore</th>
			<th>Diametro</th>
		    <th>Costo spirale al centimetro</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @spiraling_quantities.each do |spiraling_quantity| %>
		<tr data-hook="item_row">
			<td><%= spiraling_quantity.color %></td>
			<td><%= spiraling_quantity.diameter %> mm</td>
	        <td><%= spiraling_quantity.copy_cost %> &euro;</td>
			<td class="actions">
				<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, admin_spiraling_quantities_edit_path(@spiraling, spiraling_quantity.id), :class => 'btn btn-primary', :remote => true, :rel => "tab") %>
				<%= link_to("#{t(:delete)} <i class='icon-remove icon-white'></i>".html_safe, admin_spiraling_quantities_destroy_path(@spiraling, spiraling_quantity.id), :data => {:confirm => t(:are_you_sure)}, :class => 'btn btn-danger', :remote => true, :rel => "tab") %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
