<div class="span7">
	<%= label_tag(:base, t(:base)) %>
	<div class="input-append"><%= f.text_field(:base) %><span class="add-on">cm</span></div>
	<%= label_tag(:height, t(:height)) %>
	<div class="input-append"><%= f.text_field(:height) %><span class="add-on">cm</span></div>
</div>
<div class="span7">
	<%= label_tag(:quantity, t(:quantity)) %>
	<%= f.text_field(:quantity, :value => (@printer_format_default.quantity)) %>
	<%= label_tag(:master, t(:master)) %>
	<%= f.select(:option_value_id, options_from_collection_for_select(@masters, 'id', 'name'), :prompt => "Seleziona il foglio di partenza") %>
</div>
<br class="clearer"/>
