<% @body_id = "printer_format_default" %>

<div class="row">
	<div class="span16">
		<h1><%= t(:printer_format_defaults) %></h1>
		<p>In questa pagina puoi gestire i formati dei fogli</p>
	</div>
	
	<div class="span7 well">
		<%= button_link_to("#{t(:new_printer_format_default)} <i class='icon-plus icon-white'></i>".html_safe, new_admin_printer_format_default_path, {:id => 'admin_new_printer_format_default', :class => "btn btn-primary"}) %>
	</div>
	<div class="span8 content-box">
		In questa sezione potete impostare la relazione tra i formati stampabili e i formati di carta da tagliare.
		Le caratteristiche principali per ogni voce sono:<br />
		<ul>
			<li>BASE: la larghezza del foglio in questione</li>
			<li>ALTEZZA: l'altezza del foglio in questione</li>
			<li>QUANTIT&Agrave;: numero di fogli ottenuti atgliando il foglio di partenza (<strong>nel caso sia esso stesso il foglio di partenza va inserito il valore 1</strong>)</li>
			<li>FOGLIO DI PARTENZA: il formato padre del foglio. (<strong>nel caso non si selezioni nussun formato si intende creare un nuovo formato padre</strong>)</li>
		</ul>
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="table table table-hover table-condensed table-bordered">
			<thead>
		  		<tr class="info">
		    		<th><%= t(:name) %></th>
					<th><%= t(:master) %></th>
					<th><%= t(:quantity) %></th>
					<th></th>
		  		</tr>
			</thead>
			<% @printer_format_defaults.each do |pfd| %>
			<tbody>
				<tr id="pfd_<%= pfd.id %>">
					<td><%= pfd.name %></td>
					<td><%= !pfd.is_master ? pfd.master.name : "Nessuno" %></td>
					<td><%= pfd.quantity %></td>
					<td class="actions">
						<%= link_to("Modifica <i class='icon-edit icon-white'></i>".html_safe, edit_admin_printer_format_default_path(pfd), :class => "btn btn-primary") %>
						<%= link_to("Rimuovi <i class='icon-remove icon-white'></i>".html_safe, admin_printer_format_default_path(pfd), :confirm => 'Sei sicuro?', :method => :delete, :class => "btn btn-danger", :remote => true) %>
					</td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
</div>
