<%= javascript_include_tag 'store/preventive/posters' %>
<% if @promo %>
<%= javascript_tag do %>
	run_preventive = false;
	$(function () {
		SetOptionPromotion(<%== @promo.to_calculate.to_json %>);
	});
<% end %>
<% end %>
<%= javascript_tag do %>
	preventiveUrl = "<%= preventive_url %>";
	papers = <%== @product.all_value_json %>;
	<% if @product.poster_printer_formats.length > 3 %>
		jQuery(document).ready(function() {
		    jQuery('#variant_carousel').jcarousel();
		});
	<% end %>
<% end %>

<%= form_for :order, {:url => populate_orders_url, :html => {:class => 'buy-form', :id => 'add_posters'}} do |f| %>
	<%= hidden_field_tag(:poster_product_id, @product.id) %>
	<h2>Configurazione Prodotto</h2>
	<div class="clearfix field_content">
		<div class="format-check">
			<% first = true %>
			<ul id="variant_carousel" class="clearfix">
				<% @product.poster_printer_formats.each do |ov| %>
				<li class="clearfix block f85x25">
					<div class="clearfix">
						<% if  ov.name == "custom" %>
						<div class="box custom"></div>
						<% else %>
						<div class="box"><%= ov.template_format.present? ? image_tag(ov.template_format.attachment.url(:normal)) : "" %></div>
						<% end %>
						<%= radio_button_tag "order[format]", ov.id, first && ov.name != "custom", {:class => 'radio', :id => "radio_format_#{ov.id}", :data => {:custom => ov.name == "custom"}} %>
						<% first = false if ov.name != "custom" %>
						<label for="radio_format_<%= ov.id %>"><%= ov.presentation.capitalize %></label>
					</div>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
	<% first = true %>
	
	<div class="custom-size clearfix">
		<label>Formato personalizzato</label>
		<div>
			<% @pfrmt = @product.poster_printer_formats.find_by_name("custom") %>
			L <%= text_field_tag "order[custom][width]", @pfrmt.min_width_dimension.to_i, :min => @pfrmt.min_width_dimension.to_i %>  x 
			H <%= text_field_tag "order[custom][height]", @pfrmt.min_height_dimension.to_i, :min => @pfrmt.min_height_dimension.to_i %> cm
		</div>
	</div>
	
	<div class="clearfix field_content" powertip="true">
		<label for="paper">Materiale</label>
		<%= select_tag("order[paper]", options_for_select(@product.papers.map { |v| [v.name, v.id] })) %>
	</div>
	<div class="clearfix field_content">
		<label for="print_color">Tipo stampa</label>
		<%= select_tag("order[print_color]", options_for_select(@product.plotter.plotter_printing_costs.map { |v| [v.name, v.id] }),:include_blank => false) %>
	</div>
	
	<div class="clearfix field_content">
		<label for="copy">Numero di copie</label>
		<% if !@product.number_of_copies.blank? %>
			<%= select("order", "number_of_copy", @product.number_of_copies.split(",").collect { |v| [v, v] }, {:include_blank => false, :prompt => "Seleziona quantita"}) %>
		<% else %>
			<%= text_field_tag("order[number_of_copy]", 0, :class => 'required', :min => @product.min_number_of_copies) %>
		<% end %>
	</div>
	
<% if Spree::Config[:file_check] %>
	<h2><%= t(:file_check) %></h2>
	<label for="check"><%= t(:file_check) %></label>
	<%= select_tag("order[file_check]", options_for_select([["No", 0], ["Si", 1]])) %>
	<p style="padding: 0px; font-size: 12px; margin-bottom: 10px;" class="clearer"><%= "#{Spree::Config[:file_check_desc] } (#{Spree::Config[:file_check_cost]}&euro;)".html_safe %></p>
<% end %>
	
    <h2><%= t(:date_adjustment) %></h2>
	<%= render :partial => 'spree/shared/shipping_date_adjustment', :locals => {:product => @product} %>
	
	<%= render :partial => 'spree/shared/promotions', :locals => {:product => @product} %>
	
	<% if !Spree::Config[:order_notes].blank? %>
	<div class="note-box">
		<h4>Note Ordine</h4>
		<p><%= Spree::Config[:order_notes] %></p>
	</div>
	<% end %>

	<% unless @product.description2.blank? %>
	<div class="note-box2">
		<h4>Informazioni aggiuntive</h4>
		<p><%= raw(@product.description2) %></p>
	</div>
	<% end %>

	<%= hidden_field_tag :quantity, 1 %>
	<%= button_tag :class => 'btn-submit', :id => 'add-to-cart-button', :type => :submit do %>
		<%= content_tag(:span, t(:add_to_cart)) %>
	<% end %>
<% end %>
