<div data-hook="admin_products_sidebar" class="search span4">
	<%= search_form_for([:admin, @search], :html => {:class => "well"}) do |f| %>
		<legend><%= t("printtogo.search") %></legend>
		<%= f.label :name_cont, t("printtogo.name_cont") %>
		<div class="input-append"><%= f.text_field :name_cont, :size => 25 %><span class="add-on"><i class="icon-search"></i></span></div>
		<%= submit_tag(t("printtogo.search"), :class => "btn btn-primary") %>
		<%= link_to("Reset", admin_advanced_products_path, :class => "btn btn-inverse") %>
	<% end %>
</div>

<div class="span10 content-box">
	<p><%= link_to("#{t("printtogo.new_advanced_product")} <i class='icon-plus icon-white'></i>".html_safe, new_admin_advanced_product_path, :class => 'btn btn-primary', :id => "admin_new_advanced_product_link") %></p>
	Le caratteristiche principali dei prodotti avanzati sono:<br />
	<ul>
		<li>NOME e DESCRIZIONE: il nome e la descrizione del prodotto che si vuole vendere</li>
		<li>COPIE: il numero minimo di copie e nel caso lq quantit&agrave; fisse di copie vendute</li>
		<li>CATEGORIA: nel caso si voglia inserire il prodotto in una categoria particolare</li>
		<li>OPZIONI: da questa sottosezione sar&agrave; possibile creare le nuove opzioni personalizzate per il singolo prodotto</li>
		<li>FORMATI: sa questa sottosezione sar&agrave; possibile creare i nuovi formati per il prodotto specifico inserendo le caratteristiche e il prezzo e peso unitari</li>
	</ul>
</div>