<div class="row">
	<div class="span16">
		<h1><%= t(:edit) %> <%= @advanced_product.name %></h1>
		<br class="clearer"/>
		<%= alert_html(@advanced_product) %>
		<ul class="nav nav-pills" id="myTab">
			<li class="active"><a href="#details" data-toggle="tab"><%= t(:details) %></a></li>
			<% if @advanced_product.persisted? %>
			<li><a href="#images" data-toggle="tab" data-url-tab="<%= add_image_admin_advanced_product_path(@advanced_product) %>"><%= t(:image) %></a></li>
			<li><a href="#options" data-toggle="tab" data-url-tab="<%= admin_advanced_product_simple_attributes_path(@advanced_product) %>"><%= t(:options) %></a></li>
			<li><a href="#format" data-toggle="tab" data-url-tab="<%= admin_advanced_product_advanced_variants_path(@advanced_product) %>"><%= t(:formats) %></a></li>
			<% end %>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="details">
				<%= form_for([:admin, @advanced_product], :html => {:multipart => true, :class => "well"}) do |f| %>
					<legend><%= t(:details) %></legend>
					<%= render :partial => "form", :locals => {:f => f}%>
				<% end %>
			</div>
			<% if @advanced_product.persisted? %>
			<div class="tab-pane" id="images">
				<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
			</div>
			<div class="tab-pane" id="options">
				<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
			</div>
			<div class="tab-pane" id="format">
				<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
			</div>
			<% end %>
		</div>
	</div>
</div>

<%= render :partial => 'spree/admin/shared/footer_links' %>
