<%= form_for :order, {:url => populate_orders_url, :html => {:class => 'buy-form', :id => 'add_simple_product'}} do |f| %>
	<%= hidden_field_tag(:simple_product_id, @product.id) %>

	<h2>Informazioni & Copie</h2>
	<div class="clearfix field_content">
      <label for="order_model">Modello</label>
      <%= select_tag("order[model]", options_for_select(@product.simple_variants.collect{|sv| [sv.format, sv.id]}, nil), { :include_blank => false }) %>
    </div>
	
	<div class="clearfix field_content copies">
		<label for="copy">Numero di copie</label>
	</div>
	
	<% if @product.accept_upload? %>
	<% if Spree::Config[:file_check] %>
		<h2><%= t(:file_check) %></h2>
		<label for="check"><%= t(:file_check) %></label>
		<%= select_tag("order[file_check]", options_for_select([["No", 0], ["Si", 1]])) %>
		<p style="padding: 0px; font-size: 12px; margin-bottom: 10px;" class="clearer"><%= "#{Spree::Config[:file_check_desc] } (#{Spree::Config[:file_check_cost]}€)"%></p>
	<% end %>
	<% end %>
	
	<h2>Offerte per data</h2>
    <%= render :partial => 'spree/shared/shipping_date_adjustment', :locals => {:product => @product} %>
	
	<% if !Spree::Config[:order_notes].blank? %>
	<div class="note-box">
		<h4>Note Ordine</h4>
		<p><%= Spree::Config[:order_notes] %></p>
	</div>
	<% end %>

	<% unless @product.description2.blank? %>
	<div class="note-box2">
		<h4>Informazioni aggiuntive</h4>
		<p><%= raw(@product.description2) %></p>
	</div>
	<% end %>

	<%= hidden_field_tag :quantity, 1 %>
	<%= button_tag :class => 'btn-submit', :id => 'add-to-cart-button', :type => :submit do %>
		<%= content_tag(:span, t(:add_to_cart)) %>
	<% end %>
<% end %>

<%= javascript_tag do %>
	ajaxLoading = false;
    preventiveUrl = "<%= preventive_url %>";
	model_copies = <%== @product.simple_variants_copies %>;
<% end %>
<%= javascript_include_tag 'store/cart/simple_product' %>
<%= javascript_include_tag 'store/preventive' %>
