<div class="span13 <%= cl %>">
	<% paper_type.papers.each do |paper| %>
		<div class="span18 clearfix">
			<h2 class="clearfix" style="position: relative; height: 32px;"><%= content_tag(:span, paper.presentation, :style => "position: absolute;", :class => "spanpapertitle #{cl}") %></h2>
			<% paper.values.each do |value| %>
			<div class="control-group left" style="margin-left: 20px;">
				<%= label %> <%= content_tag(:strong, value.name) %>
				<div class="controls">
			  		<%= text_field_tag "paper[#{value.id}]", value.presentation, :tabindex => index %>
				</div>
			</div>
			<% end %>
		</div>
		<% index += 1 %>
	<% end %>
	<br class="clearer"/><br class="clearer"/>
</div>
<%= javascript_tag do %>
	var originalLeft = 0;
	$(".span13.<%= cl %>").scroll(function(){
	        $('.spanpapertitle.<%= cl %>').css('left', originalLeft + $(this).scrollLeft());
	    });
<% end %>