<div class="row">
	<div class="span7">
		<h2><%= t(:plasticization) %></h2>
		<p>In questa pagina puoi gestire le opzioni di plastificazione</p>
	</div>
	<div class="span8 content-box margin-top">
		
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<%= form_tag(admin_plasticizations_path, :class => "well form-horizontal clearfix") do %>
			<legend><%= t(:general_settings) %></legend>
		    <div class="span7">
				<%= label_tag "plasticization_all[price_start_up]", "Costo di avviamento" %>
				<div class="input-append"><%= text_field_tag "plasticization_all[price_start_up]", @plasticizations.first.price_start_up %><span class="add-on">&euro;</span></div>
			</div>
		    <div class="span7">
				<%= label_tag "plasticization_all[max_quantity]", "Numero di fogli minimi per avviamento taglio" %>
				<div class="input-append"><%= text_field_tag "plasticization_all[max_quantity]", @plasticizations.first.max_quantity %><span class="add-on"><%= link_to("<i class='icon-question-sign'></i>".html_safe, "#", :data => {:content => t("help.max_quantity").html_safe, :title => t("help.title")}, :rel => "popover-right") %></span></div>
			</div>
			<br class="clearer"/><br />
			<table class="table table-condensed table-bordered">
				<thead>
					<tr class="info">
						<th>Formati (cm)</th>
						<th>Quantitativi</th>
						<th>Film Lucido (Euro a foglio 1 lato)</th>
						<th>Film Opaco (Euro a foglio 1 lato)</th>
					</tr>
				</thead>
				<tbody>
					<% @plasticizations.each do |plasticization| %>
					<% first = true %>
					<% plasticization.plasticization_prices.group(:quantity).each do |plasticization_price| %>
					<tr class="<%= cycle('odd', 'even') %>">
						<th><%= plasticization.format if first %></th>
						<% first = false %>
						<td><%= plasticization_price.quantity %></td>
						<% film_lucido = plasticization.plasticization_prices.where(:quantity => plasticization_price.quantity, :name => "polished_film").first %>
						<% film_opaco = plasticization.plasticization_prices.where(:quantity => plasticization_price.quantity, :name => "matt_film").first %>
						<td>
							<div class="input-append"><%= text_field_tag("plasticization[#{film_lucido.id}]", film_lucido.price) %><span class="add-on">&euro;</span></div>
						</td>
						<td>
							<div class="input-append"><%= text_field_tag("plasticization[#{film_opaco.id}]", film_opaco.price) %><span class="add-on">&euro;</span></div>
						</td>
					</tr>
					<% end %>
					<% end %>
				</tbody>
			</table>
		    <div class="form-actions right-txt">
		      <%= submit_tag(t(:update), :class => "btn btn-primary") %>
		    </div>
		<% end %>
	</div>
</div>
