<%= javascript_include_tag 'store/update_cart' %>
<%= javascript_tag do %>
	preventiveUrl = "<%= preventive_url %>";
<% end %>

<% @body_id = 'cart' %>
<div id="twocolumns">
	<div id="content">
		<div class="content-box-title">
			<h2><%= t(:shopping_cart) %></h2>
		</div>
		<div class="content-box-breadcrums"></div>
		<% if @order && @order.line_items.count > 0 %>
		<%= form_for(@order, :url => update_cart_path, :html => {:id => 'update-cart', :multipart => true}) do |order_form| %>
		<div id="accordion">
			<%= order_form.fields_for :line_items do |item_form| %>
			<% line_item = item_form.object %>
			<div class="product">
				<div class="product-name">
					<h2><%= line_item.variant.product.name %> <%= content_tag(:strong, "(Promozione)") if line_item.promo %></h2>
					<div class="square delete-cart">
						<span data-id="<%= "delete_#{dom_id(line_item)}" %>"> x </span>
					</div>
					<div class="square collapse"><span> - </span></div>
				</div>
				<div class="accordion-content">
					<%= item_form.hidden_field :quantity %>
					<table class="order-detail">
						<% if line_item.number_of_copy %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"><%= t(:number_of_copy) %>:</td>
							<td><%= line_item.number_of_copy %></td>
						</tr>
						<% end %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"> <%= t(:format) %>:</td>
							<td> <%= line_item.format %></td>
						</tr>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"> <%= t(:weight) %>:</td>
							<td> <%= line_item.weight %> Kg</td>
						</tr>
						<% if line_item.number_of_stickers %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"><%= t(:number_of_stickers) %>:</td>
							<td><%= line_item.number_of_stickers %> </td>
						</tr>
						<% end %>
						<% if line_item.option_for_advanced %>
						<%= line_item.option_for_advanced %>
						<% end %>
						<% if line_item.orientation %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"> <%= t(:orientation) %>:</td>
							<td> <%= line_item.orientation %></td>
						</tr>
						<% end %>
						<% if line_item.folding %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"> <%= t(:fold_type) %>:</td>
							<td> <%= (line_item.folding.class == String) ? line_item.folding : line_item.folding.folding.name rescue "Nessun tipo di piegha" %></td>
						</tr>
						<% end %>
						<% if line_item.sleeve %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"> <%= t(:sleeve) %>:</td>
							<td> <%= (line_item.sleeve.class == String) ? line_item.sleeve : line_item.sleeve.presentation rescue "Nessun Tipo Copertina" %></td>
						</tr>
						<% end %>
						<% if line_item.frame %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"> <%= t(:frame) %>:</td>
							<td> <%= line_item.frame.name %></td>
						</tr>
						<% end %>
						<% if line_item.number_of_facades %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"> <%= t(:number_of_facades) %>:</td>
							<td> <%= (line_item.number_of_facades.class == String) ? line_item.number_of_facades : line_item.number_of_facades.presentation rescue "Nessuna numero di facciate" %></td>
						</tr>
						<% end %>
						<% if line_item.printing_instructions %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"> <%= t(:printing_instructions) %>:</td>
							<td><%= line_item.printing_instructions %></td>
						</tr>
						<% end %>
						<% if line_item.paper %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"><%= t(:paper) %>:</td>
							<td><%= line_item.paper %></td>
						</tr>
						<% end %>
						<% if line_item.paper_weight %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"><%= t(:paper_weight_product) %>:</td>
							<td><%= line_item.paper_weight %> gr</td>
						</tr>
						<% end %>
						<% if line_item.print_color %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"><%= t(:print_type) %>:</td>
							<td><%= line_item.print_color %> </td>
						</tr>
						<% end %>
						<% if line_item.cover_paper %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"><%= t(:cover_paper) %>:</td>
							<td><%= line_item.cover_paper %></td>
						</tr>
						<% end %>
						<% if line_item.cover_paper_weight %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"><%= t(:cover_weight) %>:</td>
							<td><%= line_item.cover_paper_weight %> gr</td>
						</tr>
						<% end %>
						<% if line_item.cover_print_color %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"><%= t(:cover_print_color) %>:</td>
							<td><%= line_item.cover_print_color.presentation.capitalize %> </td>
						</tr>
						<% end %>
						<% if line_item.plasticization && line_item.plasticization!="Nessuna" %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"><%= t(:plasticization) %>:</td>
							<td><%= line_item.plasticization %> </td>
						</tr>
						<% end %>
						<% if line_item.lamination && line_item.lamination!="Nessuna" %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"><%= t(:lamination) %>:</td>
							<td><%= line_item.lamination %> </td>
						</tr>
						<% end %>
						<% if line_item.processing_plotter# && line_item.processing_plotter!="Nessuna" %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"><%= t(:processing_plotter) %>:</td>
							<td><%= line_item.processing_plotter %> </td>
						</tr>
						<% end %>
						<% if line_item.cutting_coil && line_item.cutting_coil!="Nessuna" %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"><%= t(:cutting_coil) %>:</td>
							<td><%= line_item.cutting_coil %> </td>
						</tr>
						<% end %>
						<% if line_item.orientation_coil %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"><%= t(:orientation_coil) %>:</td>
							<td><%= line_item.orientation_coil %> </td>
						</tr>
						<% end %>
						<% if line_item.sided %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"><%= t(:sided) %>:</td>
							<td><%= line_item.sided %> </td>
						</tr>
						<% end %>
						<% if line_item.eyelet %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"><%= t(:eyelet) %>:</td>
							<td><%= line_item.eyelet %> </td>
						</tr>
						<% end %>
						<% if line_item.eyelet_accessory_quantity %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"><%= t(:eyelet_accessory_quantity) %>:</td>
							<td><%= line_item.eyelet_accessory_quantity %> </td>
						</tr>
						<% end %>
						<% if line_item.eyelet_accessory_disposition %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"><%= t(:eyelet_accessory_disposition) %>:</td>
							<td><%= line_item.eyelet_accessory_disposition %> </td>
						</tr>
						<% end %>
						<% if line_item.shipping_date %>
						<tr class="<%= cycle('','odd') %>">
							<td class="bold"> <%= t(:shipping_date) %>:</td>
							<td><%= l(line_item.shipping_date, :format => "%A %d/%m/%Y") %></td>
						</tr>
						<% end %>
					</table>
					<div class="notes_item" style="padding: 10px;">
						<%= item_form.label(:notes, "Note per il singolo prodotto <span>(max <b>250</b> caratteri)</span>".html_safe) %><br/>
						<%= item_form.text_area(:notes, :style => "height: 100px;", :class => "orders_notes") %>
					</div>
				</div>
			</div>
			<% end %>
		</div>
		<%= order_form.submit("Salva le note", :class => "right btn", :style => "height:30px;") %><br/><br/>
		<% end %>
		<%= form_tag first_step_path, :id => 'first-step' do |f| %>
		
		<div class="black-header">
			<span><%= t(:shipping_methods) %></span>
		</div>
		<div class="list-center">
			<ul>
				<% Spree::ShippingCategory.all.each do |sc| %>
				<% if !sc.shipping_methods.blank? %>
				<li class="method">
					<%= image_tag("store/#{sc.name.parameterize}.jpg") %>
					<%= radio_button_tag("order[shipping_category]", sc.id, @order.shipping_method.shipping_category.id == sc.id) %>
					<label for="order_shipping_category_<%= "#{sc.id}" %>"><%= t(sc.name, :scope => :shipping_category, :default => sc.name) %></label>
				</li>
				<% end %>
				<% end %>
			</ul>
		</div>
		
		<div class="black-header">
			<span><%= t(:shipping_carton) %></span>
		</div>
		<div class="list-center">
			<ul>
				<% Spree::PresentationPack.all.each do |pp| %>
				<li class="method">
					<%= image_tag pp.icon.url(:normal) %>
					<%= radio_button_tag("order[presentation_pack_id]", pp.id, pp.presentation == "Pacco Anonimo") %>
					<label for="order_presentation_pack_id_<%= "#{pp.id}" %>"><%= t(pp.presentation, :scope => :presentation_pack, :default => pp.presentation) %></label>
				</li>
				<% end %>
			</ul>
		</div>

		<div class="black-header">
			<span><%= t(:clauses) %></span>
		</div>
		<div class="contract-presentation">
			<p><%= t(:accept_clauses) %></p>
			<div class="contract">
				<%= raw(Spree::Config[:store_welcome_description]) %>
			</div>
			<div class="checkbox-container">
				<div>
					<%= check_box_tag "order[contract_accept]", true, false, {:id => "contract_accept_true", :class => 'required'} %>
					<%= label_tag(:contract_accept_true, t(:accept)) %>
				</div>
			</div>
		</div>
		<div class="cart-div">
			<div class="form-buttons clearfix" data-hook="buttons">
				<%= link_to(root_path, :class => "btn-submit-mini left", :style => "margin-right: 15px;") do %>
					<span><%= t(:continue_shopping) %></span>
				<% end %>
				<%= button_tag :class => 'btn-submit-mini continue', :id => 'add-to-cart-button', :type => :submit do %>
				    <%= content_tag(:span, t(:go_buy)) %>
				<% end %>
			</div>
		</div>
		<% end %>
			
		<% else %>
		<div class="empty-cart-message">
			<%= t(:is_empty_cart) %>
		</div>
		<div class="form-buttons">
			<%= link_to(content_tag(:span, t(:continue)), root_path, :class => "btn-submit-mini continue right") %>
		</div>
		<% end %>
	</div>
	<div class="aside">
		<%= render :partial => 'spree/shared/total_order', :locals => {:order => @order, :calculate_vat => true} %>
	</div>
</div>