<div id="content">
  <div class="content-box-title">
    <h2><%= t(:shopping_cart) %></h2>
  </div>
  <div class="content-box-breadcrums">

  </div>
  <div class="row" data-hook="checkout_content">
    <div class="columns <%= if @order.state != 'confirm' then
                              'alpha twelve'
                            else
                              'alpha omega sixteen'
                            end %>" data-hook="checkout_form_wrapper">
      <%= form_for @order, :url => update_image_path(@order), :html => { :multipart => true} do |form| %>
          <% i=0 %>
          <% @order.line_items.each do |line_item| %>
              <div>
                <div class="black-header">
                  <span><%= line_item.variant.product.name %></span>
                </div>
                <div class="innre">
                  <%= hidden_field_tag "order[line_item][#{i}][id]", line_item.id %>
                  <p>
                    <%= file_field_tag "order[line_item][#{i}][image]" %>
                  </p>
                </div>
              </div>
          <% end %>
          <%= submit_tag "Aggiorna" %>
      <% end %>
    </div>

  </div>
</div>
