<div class="configuration-point span15">
	<table class="table table-hover table-condensed">
		<% @variant.folding_formats.each_with_index do |folding_format, i| %>
		<%= hidden_field_tag("variant[folding_formats_attributes][#{i}][id]", folding_format.id) %>
		<tr>
			<td>
				<div class="control-group">
					<%= label_tag("variant[folding_formats_attributes][#{i}][active]", folding_format.folding.name) %>
					<div class="controls">
						<%= check_box_tag("variant[folding_formats_attributes][#{i}][active]", 1, (folding_format.active) ? true : false) %>
					</div>
				</div>
				<div class="control-group">
					<%= label_tag("variant[folding_formats_attributes][#{i}][one_orientation]", "Solo Orizzontale") %>
					<div class="controls">
						<%= check_box_tag("variant[folding_formats_attributes][#{i}][one_orientation]", 1, (folding_format.one_orientation) ? true : false) %>
					</div>
				</div>
			</td>
			<td>
				<div class="control-group">
					<%= label_tag("variant[folding_formats_attributes][#{i}][paper_weights]", t(:weight)) %>
					<div class="controls paper_weight">
						<%= select_tag "variant[folding_formats_attributes][#{i}][paper_weights]", options_for_select(folding_format.weight_uniq, folding_format.selected_weight_uniq), :class => "chosen", :multiple => true %>
					</div>
				</div>
			</td>
			<td>
				<div class="control-group">
					<%= label_tag("variant[folding_formats_attributes][#{i}][papers]", t(:paper)) %>
					<div class="controls">
						<%= select_tag "variant[folding_formats_attributes][#{i}][papers]", options_for_select(folding_format.paper_uniq, folding_format.selected_paper_uniq), :class => "chosen", :multiple => true %>
					</div>
				</div>
			</td>
		</tr>
		<% end %>
	</table>

	<br class="clearer"/>
</div>
