<%= javascript_include_tag 'admin/printer_format' %>
<%= javascript_include_tag 'admin/products/folding' %>
<%= hidden_field_tag "variant_id", @variant.id %>

<ul class="nav nav-tabs" id="formatTab">
	<li class="active"><a href="#variant_format" data-toggle="tab">Configurazione Formato</a></li>
	<li><a href="#folding" data-toggle="tab">Configurazione Pieghe</a></li>
	<li><a href="#template" data-toggle="tab" data-url-tab="<%= new_variant_admin_templates_path(@variant) %>">Template</a></li>
</ul>
<div class="tab-content">
	
	<!-- Configurate Variant -->
	<div class="tab-pane active clearfix" id="variant_format">
		<div class="span7">
			<%= label_tag("variant[dimension]", t(:dimension), :class => "control-label") %>
			<div class="input-append"><%= text_field_tag("variant[width]", @variant.width, :style => "width: 40px;") %><span class="add-on">cm</span></div>
			<div class="input-append"><%= text_field_tag("variant[height]", @variant.height, :style => "width: 40px; margin-left: 10px") %><span class="add-on">cm</span></div>
		</div>
		<div class="span7">
			<%= label_tag("variant[format]", t(:format), :class => "control-label") %>
			<%= text_field_tag "variant[format]", @variant.format %>
		</div>
		<br class="clearer"/>
		<%= render :partial => 'configuration_printers', :locals => {:title_conf => "bianco e nero", :bw_c => 'bw'} %>
		<%= render :partial => 'configuration_printers', :locals => {:title_conf => "colori", :bw_c => 'c'} %>
		<br class="clearer"/>
	</div>
	<br class="clearer"/>
	<!-- Configurate Variant -->
	
	<!-- Configurate Folding -->
	<div class="tab-pane clearfix" id="folding">
		<%= render :partial => 'configuration_foldings' %>
		<br class="clearer"/>
	</div>
	<br class="clearer"/>
	<!-- Configurate Bindery -->
	
	<!-- Template -->
	<div class="tab-pane clearfix" id="template">
		<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
	</div>
	<!-- Template -->
	
</div>
