<%= render "spree/shared/error_messages", :target => @variant %>
<%= form_for([:admin, @product, @variant], :url => admin_update_rigid_variant_path(@product, @variant), :id => 'edit_rigid_variant', :class => 'well', :remote => true, :multipart => true) do |f| %>
	<legend><%= t("printtogo.edit_format") %></legend>
	<div class="well clearfix">
		<%= render :partial => "form", :locals => {:f => f} %>
		<div class="form-actions clearer right-txt">
			<%= submit_tag(t("actions.create"), :class => "btn btn-primary") %>
			<%= link_to(t(:back), admin_rigid_variants_path(@product), :class => 'btn btn-inverse', :remote => true) %>
		</div>
	</div>
<% end %>