<div class="fields span15">
	<%= javascript_tag do %>
		$('.chosen').chosen();
	<% end %>
	<div class="span3">
		<%= label_tag(:eyelets, t(:eyelets)) %>
		<%= f.select(:option_value_id, Spree::Eyelet.all.collect{|e| [e.name, e.id]}, :include_blank => true) %>
	</div>
	<div class="span3">
		<%= label_tag(:available_meter, t(:available_meter_eyelets)) %>
		<div class="input-append"><%= f.text_field(:available_meter) %><span class="add-on">cm</span></div>
	</div>
	<div class="span3">
		<%= label_tag(:disposition, t(:disposition_eyelets)) %>
	  		<%= f.select(:disposition, options_for_select(f.object.disposition_enum, (JSON.parse(f.object.disposition) rescue "")), {:placeholder => "Seleziona le disposizioni"}, {:class => "chosen", :multiple => true}) %>
	</div>
	<div class="span3" style="padding-top: 28px;">
		<%= link_to_confirm_remove_fields("Rimuovi Occhiello", f) %>
	</div>
</div>
