<%= hidden_field_tag "variant_id", @variant.id %>
<%= hidden_field_tag "product_id", @product.id %>

<ul class="nav nav-tabs" id="formatTab">
	<li class="active"><a href="#variant_format" data-toggle="tab">Configurazione Formato</a></li>
	<li><a href="#template" data-toggle="tab" data-url-tab="<%= new_variant_admin_templates_path(@variant) %>">Template</a></li>
</ul>
<div class="tab-content" style="height: 450px;">
	
	<!-- Configurate Variant -->
	<div class="tab-pane active clearfix" id="variant_format">
		<div class="span7">
			<%= content_tag(:label, t(:material)) %>
			<%= select("rigid_variant", :papers, options_for_select(Spree::RigidSupport.all.map { |rs| [rs.name, rs.id] }, @variant.papers.nil? ? nil : @variant.papers.map { |v| v.id }), {}, :multiple => true, :class => "chosen") %>
			<%= content_tag(:label, t(:printer_machine)) %>
			<%= select("rigid_variant", :plotter, options_for_select(Spree::Plotter.all.map { |p| [p.presentation, p.id] }, @variant.plotter.nil? ? nil : @variant.plotter.id)) %>
		</div>
		<div class="span7">
			<%= content_tag(:label, t(:lamination)) %>
			<%= select("rigid_variant", :laminations, options_for_select(Spree::LaminationType.all.map { |l| [l.name, l.id] }, @variant.laminations.nil? ? nil : @variant.laminations.map { |v| v.id }), {}, :multiple => true, :class => "chosen") %>
			<%= content_tag(:label, t(:cutting_coil)) %>
			<%= select("rigid_variant", :cutting_coils, options_for_select(Spree::CuttingCoilType.all.map { |cc| [cc.name, cc.id] }, @variant.cutting_coils.nil? ? nil : @variant.cutting_coils.map { |v| v.id }), {}, :multiple => true, :class => "chosen") %>
		</div>
		<br class="clearer"/><br />
		<div class="clearfix span15">
			<legend>Occhielli</legend>
			<%= f.fields_for :eyelet_accessories do |builder| %>
				<%= render "eyelet_accessory_fields", :f => builder %>
			<% end %>
			<p class="small"><%= link_to_add_fields("Aggiungi un nuovo occhiello", f, :eyelet_accessories) %></p>
		</div>
		<br class="clearer"/><br />
	</div>
	<!-- Configurate Variant -->
	
	<!-- Template -->
	<div class="tab-pane clearfix" id="template">
		<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
	</div>
	<!-- Template -->
	
</div>