<% content_for :head do %>
    <%= javascript_include_tag states_url(:format => :js) %>
<% end %>

<div id="twocolumns">
  <div id="content">
    <div class="content-box-title">
      <h2><%= t(:shopping_cart) %></h2>
    </div>
    <div class="content-box-breadcrums">
      <%= checkout_breadcrumbs(@order) %>
    </div>
    <div class="row" data-hook="checkout_content">
      <div class="columns <%= if @order.state != 'confirm' then
                                'alpha twelve'
                              else
                                'alpha omega sixteen'
                              end %>" data-hook="checkout_form_wrapper">
        <%= form_for @order, :url => update_checkout_path(@order.state), :html => {:id => "checkout_form_#{@order.state}", :multipart => true, :class => "edit_order clearfix"} do |form| %>
            <%= render @order.state, :form => form %>
            <%= submit_tag nil, :id => 'post-final', :style => 'display:none;' %>
        <% end %>
      </div>

    </div>
  </div>
  <div class="aside">
    <div id="fixed">
      <%= render :partial => 'spree/shared/total_order', :locals => {:order => @order, :calculate_vat => @order.state == 'address'} %>
    </div>
  </div>
</div>