<div id="content">
	<div class="content-box-title-no-bc" id="existing-customer">
		<h2><%= t(:registration) %></h2>
	</div>
	
	<div class="checkout-registration">
		<div class="black-header">
			<span> Sei gi&agrave; nostro cliente? </span>
		</div>
		<div class="clearfix user_signin">
			<%= render :partial => 'spree/shared/login' %>
		</div>
	</div>
	
	<div id="new-customer" class="columns alpha eight">
		<div class="black-header">
			<span> Vuoi diventare un nuovo cliente? </span>
		</div>
		<div data-hook="signup" class="login-form">
			<%= form_for @user, :url => spree.user_registration_path(@user), :html =>{:id => 'login-form' } do |f| %>
			<%
			country = Spree::Country.find(Spree::Config[:default_country_id]) rescue Spree::Country.first
			@user.build_bill_address({:country => country}, :without_protection => true) if !@user.bill_address
			%>
				<div data-hook="signup_inside_form">
					<%= render :partial => 'spree/shared/user_form_checkout', :locals => {:f => f} %>
					<div class="row">
						<div class="form-field f-right">
							<%= f.submit t(:create), :class => 'button primary' %></p>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	
</div>



