<div class="fields clearfix">
	<div class="span2 inputs">
		<%= f.label(:name, t(:name)) %>
	 	<%= f.text_field(:name, :class => "span2") %>
		<br class="clearer"/>
		<%= f.label(:start_time, t(:start_time)) %>
		<%= f.text_field(:start_time, :class => "span2") %>
	</div>
	<div class="span3 inputs">
		<%= f.label(:hourly_cost, t(:hourly_cost)) %>
		<div class="input-append"><%= f.text_field(:hourly_cost, :class => "span2") %><span class="add-on">&euro;/h</span></div>
		<br class="clearer"/>
		<%= label(:available_meter, t(:available_meter)) %>
		<div class="input-append"><%= f.text_field(:available_meter, :class => "span2") %><span class="add-on">&euro;/m</span></div>
	</div>
	<div class="span3 inputs">
		<%= label(:plant, t(:plant)) %>
		<div class="input-append"><%= f.text_field(:plant, :class => "span2") %><span class="add-on">&euro;</span></div>
		<%= f.label(:min_copies_active, t(:min_copies_active)) %>
		<div class="input-append"><%= f.text_field(:min_copies_active, :class => "span2") %><span class="add-on">copie</span></div>
	</div>
	<div class="span4" style="margin-top: 30px;">
		<%= link_to_confirm_remove_fields("Rimuovi tipologia taglio bobine", f) %>
	</div>
</div>
<br class="clearer"/>
