<div class="row">
	<div class="span7">
		<h2><%= t(:cutting_coil) %></h2>
		<p>In questa pagina puoi gestire le opzioni di taglio per le bobine</p>
	</div>
	<div class="span8 content-box margin-top">
		
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<%= form_for(@cutting_coil, :url => admin_cutting_coil_update_path(@cutting_coil), :html => {:id => 'cutting_coil', :class => "well"}) do |f| %>
			<label class="checked">
				<%= f.check_box(:active, :class => 'required') %> <%= t(:active) %>
			</label>
			<div class="clearfix">
				<%= f.fields_for :cutting_coil_types do |builder| %>
					<%= render "cutting_coil_type_fields", :f => builder %>
				<% end %>
				<p class="small"><%= link_to_add_fields("Aggiungi una nuova tipologia di taglio bobine", f, :cutting_coil_types) %></p>
			</div>
			<div class="form-actions right-txt" data-hook="buttons">
				<%= f.submit(t(:update), :class => "btn btn-primary") %>
			</div>
		<% end %>
	</div>
</div>
