<div class="row">
	<div class="span7">
		<h2><%= t(:processing_plotter) %></h2>
		<p>In questa pagina puoi gestire le opzioni di lavorazione plotter</p>
	</div>
	<div class="span8 content-box margin-top">
		
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<%= form_for(@processing_plotter, :url => admin_processing_plotter_update_path(@processing_plotter), :html => {:id => 'processing_plotter', :class => "well"}) do |f| %>
			<label class="checked">
				<%= f.check_box(:active, :class => 'required') %> <%= t(:active) %>
			</label>
			<div class="clearfix">
				<%= f.fields_for :processing_plotter_types do |builder| %>
					<%= render "processing_plotter_type_fields", :f => builder %>
				<% end %>
				<p class="small"><%= link_to_add_fields("Aggiungi una nuova tipologia di lavorazione plotter", f, :processing_plotter_types) %></p>
			</div>
			<div class="form-actions right-txt" data-hook="buttons">
				<%= f.submit(t(:update), :class => "btn btn-primary") %>
			</div>
		<% end %>
	</div>
</div>
