<div class="row">
	<div class="span16">
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @coil_value } %>
		<h2><%= t(:edit_coil_value) %></h2>
		<br />
		<%= form_for([:admin, @coil_value], :id => 'edit_coils', :html => {:class => "well"}) do |f| %>
			<%=  render :partial => 'form', :locals => {:f => f} %>
			<div class="form-actions right-txt" data-hook="buttons">
				<%= f.submit(t(:update), :class => "btn btn-primary") %>
				<%= link_to(t(:back), admin_coil_values_path, :class => "btn btn-inverse") %>
			</div>
		<% end %>
	</div>
</div>
