if ($('.loader').length > 0) {
	$('.loader').delay(200).fadeOut('slow', function() {
		$("#format").html("<%= escape_javascript(render :partial => 'edit') %>");
		$("a[data-url-tab]").on("click", function(e) {
			var elem = $(this).attr("href");
			$.ajax({
				url: $(this).attr("data-url-tab"),
				type: 'GET',
				dataType: 'script',
				data: ({authenticity_token: jQuery('meta[name="csrf-token"]').attr('content')}),
				beforeSend: function() { $(elem).html('<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>'); },
				success: function() { init_link(); }
			});
			e.preventDefault();
		});

		$("a[data-remote]").on("click", function(e) {
			e.preventDefault()
			$("a[rel='tab']").parents('div.tab-pane:first').html('<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>');
		});

		$("form[data-remote]").on("submit", function(e) {
			e.preventDefault()
			$(this).parent('div.tab-pane').html('<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>');
		});
	});
} else {
	$("#format").html("<%= escape_javascript(render :partial => 'edit') %>");
	$("a[data-url-tab]").on("click", function(e) {
		var elem = $(this).attr("href");
		$.ajax({
			url: $(this).attr("data-url-tab"),
			type: 'GET',
			dataType: 'script',
			data: ({authenticity_token: jQuery('meta[name="csrf-token"]').attr('content')}),
			beforeSend: function() { $(elem).html('<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>'); },
			success: function() { init_link(); }
		});
		e.preventDefault();
	});
	
	$("a[data-remote]").on("click", function(e) {
		e.preventDefault()
		$("a[rel='tab']").parents('div.tab-pane:first').html('<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>');
	});
	
	$("form[data-remote]").on("submit", function(e) {
		e.preventDefault()
		$(this).parent('div.tab-pane').html('<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>');
	});
}