<ul class="nav nav-tabs" id="formatTab">
	<li class="active"><a href="#variant_format" data-toggle="tab">Configurazione Formato</a></li>
	<% if @poster_high_quality_printer_formats.persisted? %>
	<li><a href="#template" data-toggle="tab" data-url-tab="<%= new_option_value_admin_templates_path(@poster_high_quality_printer_formats) %>">Template</a></li>
	<% end %>
</ul>
<div class="tab-content">
	
	<!-- Configurate Variant -->
	<div class="tab-pane active clearfix" id="variant_format">
		<% if @poster_high_quality_printer_formats.name != "custom" %>
		<div class="span7">
			<%= label_tag("poster_high_quality_printer_formats[dimension]", t(:dimension), :class => "control-label") %>
			<div class="input-append"><%= text_field_tag("poster_high_quality_printer_formats[width]", @poster_high_quality_printer_formats.width, :style => "width: 40px;") %><span class="add-on">cm</span></div>
			<div class="input-append"><%= text_field_tag("poster_high_quality_printer_formats[height]", @poster_high_quality_printer_formats.height, :style => "width: 40px; margin-left: 10px") %><span class="add-on">cm</span></div>
		</div>
		<div class="span7">
			<%= label_tag("poster_high_quality_printer_formats[name]", t(:name), :class => "control-label") %>
			<%= text_field_tag "poster_high_quality_printer_formats[name]", @poster_high_quality_printer_formats.name %>
		</div>
		<% else %>
		<div class="span7">
			<%= label_tag("poster_high_quality_printer_formats[name]", t(:name), :class => "control-label") %>
		  	<strong><%= @poster_high_quality_printer_formats.name.titleize %></strong>
		</div>
		<br class="clearer"/><br />
		<div class="span7">
			<%= label_tag("poster_high_quality_printer_formats[dimension]", "Dimensioni minime", :class => "control-label") %>
			<div class="input-append"><%= text_field_tag("poster_high_quality_printer_formats[min_width_dimension]", @poster_high_quality_printer_formats.min_width_dimension, :style => "width: 40px;") %><span class="add-on">cm</span></div>
			<div class="input-append"><%= text_field_tag("poster_high_quality_printer_formats[min_height_dimension]", @poster_high_quality_printer_formats.min_height_dimension, :style => "width: 40px; margin-left: 10px") %><span class="add-on">cm</span></div>
		</div>
		<% end %>
	</div>
	<!-- Configurate Variant -->
	
	<!-- Template -->
	<div class="tab-pane clearfix" id="template">
		<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
	</div>
	<!-- Template -->
	
</div>