<h4><%= t("printtogo.adjustment") %></h4>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @adjustment } %>
<%= form_for(@adjustment, :url => admin_order_adjustment_path(@order, @adjustment), :method => :put, :html => {:class => "well form-horizontal"}) do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %>

	<div class="form-actions" data-hook="buttons">
		<%= submit_tag(t("printtogo.continue"), :class => "btn btn-info btn-large right") %>
		<%= link_to(t("printtogo.cancel"), admin_order_adjustments_url(@order), :class => "btn btn-inverse right", :style => "margin-right: 15px", :remote => true) %>
	</div>
<% end %>