if ($('.loader').length > 0) {
	$('.loader').delay(200).fadeOut('slow', function() {
		$("#adjustments").html("<%= escape_javascript(render :partial => 'index') %>");
	});
} else {
	$("#adjustments").html("<%= escape_javascript(render :partial => 'index') %>");
}