<div class="row">
	<div class="span7">
		<h2><%= t(:hollow_punch) %></h2>
		<p>In questa pagina puoi gestire le opzioni di fustellazione</p>
	</div>
	<div class="span8 content-box margin-top">
		
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<%= form_tag(admin_hollow_punch_path, :id => 'hollow_punch', :class => "well form-horizontal") do %>
			<legend><%= t(:general_settings) %></legend>
			<div class="control-group">
				<%= label_tag("hollow_punch[hourly_cost]", t(:hourly_cost), :class => "control-label") %>
				<div class="controls">
			  		<%= text_field_tag "hollow_punch[hourly_cost]", @hollow_punch.hourly_cost, :tabindex => 1, :class => 'required' %> &euro;
				</div>
			</div>
			<div class="control-group">
				<%= label_tag("hollow_punch[start_time]", t(:start_time), :class => "control-label") %>
				<div class="controls">
			  		<%= text_field_tag "hollow_punch[start_time]", @hollow_punch.start_time, :tabindex => 2 , :class => 'required'%> minuti
				</div>
			</div>
			<div class="control-group">
				<%= label_tag("hollow_punch[average_hourly_print]", t(:average_hourly_hollw_punch), :class => "control-label") %>
				<div class="controls">
			  		<%= text_field_tag "hollow_punch[average_hourly_print]", @hollow_punch.average_hourly_print, :tabindex => 3 , :class => 'required' %> fustellati/ora
				</div>
			</div>
			<div class="form-actions right-txt" data-hook="buttons">
				<%= submit_tag(t("actions.update"), :class => "btn btn-primary") %>
			  </div>
		<% end %>
	</div>
</div>
