<div id="content">
	<div class="col-twocolumns">
		<%= insert_slideshow(:category => @taxon.permalink, :pagination => true, :show_content => true, :style => "slide") %>
		<%= breadcrumbs(@taxon, @product, @products) %>
		<h3 class="red"><%= accurate_title %></h3>
		<div data-hook="taxon_products">
		  <%= render :partial => 'spree/shared/products', :locals => { :products => @products.active, :taxon => @taxon } %>
		</div>
	</div>
</div>