<div class="row">
	<div class="span7">
		<h2><%= t(:intercalations) %></h2>
		<p>In questa pagina puoi gestire le opzioni di intercalatura</p>
	</div>
	<div class="span8 content-box margin-top">
		
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<div id="intercalation_7" class="span6 well">
			<%= render :partial => 'spree/admin/intercalation_quantities/show',
			:locals => {:intercalation_quantity => @intercalation.intercalation_quantities.first,
				:intercalation => @intercalation} %>
		</div>
		
		<div id="intercalation_13" class="span6 well">
			<%= render :partial => 'spree/admin/intercalation_quantities/show',
				:locals => {:intercalation_quantity => @intercalation.intercalation_quantities.last,
					:intercalation => @intercalation} %>
		</div>
	</div>
</div>
