<%= javascript_include_tag states_url, 'admin/address_states.js' %>

<div data-hook="admin_customer_detail_form_fields">
	<h4><%= t(:account) %></h4>
	<div class="control-group">
		<%= label_tag(:email, t(:email), :class => "control-label") %>
		<div class="controls">
	  		<%= f.email_field :email, :class => 'fullwidth' %>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag(nil, t(:guest_checkout), :class => "control-label") %>
		<div class="controls">
			<% if @order.completed? %>
				<p style="font-size: 13px; line-height: 24px"><%= @order.user.nil? ? t(:yes) : t(:no) %></p>
			<% else %>
			<% guest = @order.user.nil? || @order.user.anonymous? %>
			<label class="sub checkbox">
				<%= radio_button_tag :guest_checkout, true, guest %>
				<%= t(:yes) %>
			</label> &nbsp;
			<label class="sub checkbox">
				<%= radio_button_tag :guest_checkout, false, !guest, :disabled => @order.cart? %>
				<%= t(:no) %>
			</label>
			<%= hidden_field_tag :user_id, @order.user_id %>
			<% end %>
		</div>
	</div>

  <h4><%= Spree::Address.model_name.human(:count => 2) %></h4>
  <%= f.fields_for :bill_address do |ba_form| %>
    <%= render :partial => 'spree/admin/shared/address_form', :locals => { :f => ba_form, :name => t(:billing_address), :use_billing => false } %>
  <% end %>

  <%= f.fields_for :ship_address do |sa_form| %>
    <%= render :partial => 'spree/admin/shared/address_form', :locals => { :f => sa_form, :name => t(:shipping_address), :use_billing => true } %>
  <% end %>

  <div class="form-actions clearer" data-hook="buttons">
    <%= f.submit((@order.cart? ? t(:continue) : t(:update)), :class => "btn btn-info btn-large right") %>
  </div>
</div>
