if ($('.loader').length > 0) {
	$('.loader').delay(200).fadeOut('slow', function() {
		$("#customer").html("<%= escape_javascript(render :partial => 'spree/admin/orders/customer_details/edit') %>");
		if ($("#order_use_billing").is(':checked')) {
			$("#shipping").hide();
		  }
		  $("#order_use_billing").change(function() {
			var check = $(this).is(':checked');
			if (!check) {
				$("#shipping").show();
			} else {
				$("#shipping").hide();
			}
		});
	});
} else {
	$("#customer").html("<%= escape_javascript(render :partial => 'spree/admin/orders/customer_details/edit') %>");
	if ($("#order_use_billing").is(':checked')) {
		$("#shipping").hide();
	  }
	  $("#order_use_billing").change(function() {
		var check = $(this).is(':checked');
		if (!check) {
			$("#shipping").show();
		} else {
			$("#shipping").hide();
		}
	});
}
