<% if @product.images.empty? %>
<h4><%= t(:new_image) %></h4>
<br />

	<%= form_tag("/admin/products/#{@product.permalink}/images", :html => { :multipart => true, :class => "well form-horizontal" })  do %>
	  <table class="basic-table" data-hook="new_image">
	    <%= render :partial => 'form' %>
	  </table>
	  <div class="form-actions" data-hook="buttons">
	    <%= button t(:update) %>
	    <%= t(:or) %> <%= link_to t(:cancel), admin_product_images_url(@product), :id => 'cancel_link' %>
	  </div>
	<% end %>
	<%= javascript_include_tag 'admin/images/new.js' %>
<% else %>
<h4><%= t(:edit_image) %></h4>
<br />

	<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @product.images.first } %>

	<%= form_for([:admin, @product, @product.images.first], :html => { :multipart => true, :class => "well form-horizontal" }) do |f| %>
	  <table class="basic-table" data-hook="edit_image">
	    <tr data-hook="thumbnail">
	      <td><%= t(:thumbnail) %>:</td>
	      <td><%= link_to image_tag(@product.images.first.attachment.url(:mini)), @product.images.first.attachment.url(:product) %></td>
	    </tr>
	    <%= render :partial => 'form', :locals => { :f => f } %>
	  </table>
	  <div class="form-actions" data-hook="buttons">
	    <%= f.submit(t(:update), :class => "btn btn-info") %>
	    <%= t(:or) %> <%= link_to(t(:cancel), retrive_path(@product), :id => 'cancel_link', :class => "btn btn-danger") %>
	  </div>
	<% end %>
<% end %>