<h4><%= t(:new_image) %></h4>
<%= form_tag "/admin/products/#{@product.permalink}/images", :multipart => true  do %>
  <table class="basic-table" data-hook="new_image">
    <%= render :partial => 'form' %>
  </table>
  <div class="form-actions" data-hook="buttons">
    <%= button t(:update) %>
    <%= t(:or) %> <%= link_to t(:cancel), admin_product_images_url(@product), :id => 'cancel_link' %>
  </div>
<% end %>

<%= javascript_include_tag 'admin/images/new.js' %>