<%# @order.reload %>
<div style='color:#777;width:560px;font-family:sans-serif;font-size:12px;line-height:140%;padding:20px' class='mail'>
	<div style="background: #e9e5e7; padding: 8px">
		<%= link_to( image_tag("#{Spree::Config[:site_url]}/assets/store/logo-email.png"), "#{Spree::Config[:site_url]}") %>
	</div>
	<% if(!@shipment.order.billing_address.company.blank?) %>
	<p>Gentile <strong style='color:#F0440F;'><%= @shipment.order.bill_address.company.upcase %></strong>,</p>
	<% else %>
	<p>Gentile <strong style='color:#F0440F;'><%= @shipment.order.bill_address.firstname.upcase %> <%= @shipment.order.bill_address.lastname.upcase %></strong>,</p>
	<% end %>
	<br/>
	<% if @shipment.tracking %>
	<h2 style='border-bottom: 1px solid #B3B0B1; padding-bottom: 5px;'><strong style='color: #F0440F;'>Il codice di tracciamento &egrave; il seguente <%= @shipment.tracking %></strong></h2>
	<% end %>
	
	<p>Cordialmente</p>
	<table>
		<tr>
			<td>
				<%= link_to(Spree::Config[:site_url], "#{Spree::Config[:site_url]}") %><br/><%= link_to(Spree::Config[:store_default_email], "mailto:#{Spree::Config[:store_default_email]}") %></td>
		</tr>
	</table>
</div>