<%= javascript_include_tag 'store/preventive/banner' %>
<% if @promo %>
<%= javascript_tag do %>
	run_preventive = false;
	$(function () {
		SetOptionPromotion(<%== @promo.to_calculate.to_json %>);
	});
<% end %>
<% end %>
<%= javascript_tag do %>
    preventiveUrl = "<%= preventive_url %>";
		available_eyelet_accessories = <%== @variant.eyelet_accessories_json %>;
		papers = <%== @product.all_value_json %>;
		<% if (!@product.max_width.blank?) %>
		max_width = <%== @product.max_width.to_i %>;
		<% end %>
		<% if (!@product.max_height.blank?) %>
		max_height = <%== @product.max_height.to_i %>;
		<% end %>
<% end %>

<%= form_for :order, {:url => populate_orders_url, :html => {:class => 'buy-form', :id => 'add_banners'}} do |f| %>
    <%= hidden_field_tag(:banner_product_id, @product.id) %>
    <h2>Orientamento</h2>
	
	<div class="format-check">
		<% @product.directings.option_values.each do |ov| %>
		<div class="block <%= ov.presentation == 'Verticale' ? "vert" : "hor" %>">
			<div class="box"></div>
			<%= radio_button_tag "order[orientation]", ov.id, (ov.presentation == 'Orizzontale') ? true : false, {:class => "radio", :id => "radio_orientation_#{ov.id}", :data => {:orientation => ov.presentation.downcase}} %>
			<label for="radio_orientation_<%= "#{ov.id}" %>"><%= ov.presentation.titleize %></label>
		</div>
		<% end %>
	</div>
	
    <h2>Informazioni</h2>
	<div class="custom-size clearfix">
      <label>Formato</label>
      <div id="custom_format">
        L <%= text_field_tag("order[custom][width]", @product.min_width.to_i, :class => 'required', :min => @product.min_width.to_i) %>  x H  <%= text_field_tag("order[custom][height]", @product.min_height.to_i, :class => 'required', :min => @product.min_height.to_i) %> cm
      </div>
    </div>
	
	<div class="clearfix field_content" powertip="true">
    	<label for="paper">Materiale</label>
    	<%= select_tag("order[paper]", options_for_select(@variant.papers.map { |v| [v.name, v.id] })) %>
	</div>
	
	<div class="clearfix field_content">
    	<label for="print_color">Tipo stampa</label>
	    <%= select_tag("order[print_color]", options_for_select(@variant.plotter.plotter_printing_costs.map { |v| [v.name, v.id] }),:include_blank => false) %>
	</div>
	
	<div class="clearfix field_content">
    	<label for="paper">Occhielli</label>
    	<%= select_tag("order[eyelet]", options_for_select(@variant.eyelet_accessories.map {|ea| [ea.eyelet.name, ea.id] }), :prompt => "Nessuno") %>
	</div>
	
	<div class="clearfix field_content">
    	<label for="print_color">Disposizione Accessori</label>
    	<%= select_tag("order[eyelet_accessory]", options_for_select(Spree::ButtonholeAccessory.disposition_enum), :prompt => "Seleziona Disposizione") %>
	</div>
	
	<div class="clearfix field_content">
		<label for="print_color">Numero di occhielli</label>
    	<%= text_field_tag("order[eyelet_quantity]", 1, :class => 'required', :min => 1) %>
	</div>
	
	<% if @variant.pocket.available %>
	<div class="clearfix field_content">
		<label for="paper">Tasca</label>
    	<%= select_tag("order[pocket]", options_for_select(Spree::Pocket.disposition_enum), {:data => {:pocket => JSON.parse(@variant.pocket.disposition)}, :prompt => 'Seleziona Disposizione Tasca'}) %>
	</div>
	<div class="clearfix field_content">
		<label for="paper" style="margin-bottom: 0px;">Larghezza Tasca</label>
    	<%= text_field_tag("order[pocket_quantity]", 1, :class => 'required', :min => 1) %>
		<p style="display: block; font-size: 10px; clear: both; padding: 0px 0px 5px; text-align: right;">Questa misura &egrave; compresa nel formato scelto</p>
	</div>
	<% end %>
	<div class="clearfix field_content">
		<label for="paper">Rinforzo Perimetrale</label>
    	<%= select_tag("order[reinforcement_perimeter]", options_for_select([["No", "0"], ["Si", "1"]])) %>
	</div>
	
    <h2>Copie</h2>
	<div class="clearfix field_content">
    	<label for="copy">Numero di copie</label>
		<% if !@product.number_of_copies.blank? %>
	    	<%= select("order", "number_of_copy", @product.number_of_copies.split(",").collect { |v| [v, v] }, {:include_blank => false, :prompt => "Seleziona quantita"}) %>
		<% else %>
			<%= text_field_tag("order[number_of_copy]", 0, :class => 'required', :min => @product.min_number_of_copies) %>
		<% end %>
	</div>
	
<% if Spree::Config[:file_check] %>
	<h2><%= t(:file_check) %></h2>
	<label for="check"><%= t(:file_check) %></label>
	<%= select_tag("order[file_check]", options_for_select([["No", 0], ["Si", 1]])) %>
	<p style="padding: 0px; font-size: 12px; margin-bottom: 10px;" class="clearer"><%= "#{Spree::Config[:file_check_desc] } (#{Spree::Config[:file_check_cost]}&euro;)".html_safe %></p>
<% end %>
	
    <h2><%= t(:date_adjustment) %></h2>
    <%= render :partial => 'spree/shared/shipping_date_adjustment', :locals => {:product => @product} %>
	
	<%= render :partial => 'spree/shared/promotions', :locals => {:product => @product} %>
	
	<% if !Spree::Config[:order_notes].blank? %>
	<div class="note-box">
		<h4>Note Ordine</h4>
		<p><%= Spree::Config[:order_notes] %></p>
	</div>
	<% end %>

	<% unless @product.description2.blank? %>
	<div class="note-box2">
		<h4>Informazioni aggiuntive</h4>
		<p><%= raw(@product.description2) %></p>
	</div>
	<% end %>

    <%= hidden_field_tag :quantity, 1 %>
    <%= button_tag :class => 'btn-submit', :id => 'add-to-cart-button', :type => :submit do %>
        <%= content_tag(:span, t(:add_to_cart)) %>
    <% end %>
<% end %>
