<table>
  <tr>
    <td>
      <%= label_tag "pose[name]", t(:number_of_pose) %>
    </td>
    <td>
      <%= text_field_tag "pose[name]", @pose.name, :tabindex => 1, :class => 'required' %> <br/>
    </td>
  </tr>
  <tr>
    <td>
      <%= label_tag "pose[presentation]", t(:number_of_cut) %>
    </td>
    <td>
      <%= text_field_tag "pose[presentation]", @pose.presentation, :tabindex => 2, :class => 'required' %>  <br/>
    </td>
  </tr>
</table>

<%= submit_tag(t(:update)) %>  <%= link_to t(:cancel), admin_poses_path %>