if ($('.loader').length > 0) {
	$('.loader').delay(200).fadeOut('slow', function() {
		$("#template").html("<%= escape_javascript(render :partial => 'template') %>");
		// $('#fileupload-template').fileupload();
		$('#fileupload').fileupload({
			url: url,
			done: function (e, data) {
				$.each(data.files, function (index, file) {
					$('<p/>').text(file.name).appendTo('#files');
				});
			},
			progressall: function (e, data) {
				var progress = parseInt(data.loaded / data.total * 100, 10);
				$('#progress .progress-bar').css(
					'width',
					progress + '%'
				);
			}
		});
	});
} else {
	$("#template").html("<%= escape_javascript(render :partial => 'template') %>");
	$('#fileupload').fileupload({
		url: url,
		done: function (e, data) {
			$.each(data.files, function (index, file) {
				$('<p/>').text(file.name).appendTo('#files');
			});
		},
		progressall: function (e, data) {
			var progress = parseInt(data.loaded / data.total * 100, 10);
			$('#progress .progress-bar').css(
				'width',
				progress + '%'
			);
		}
	});
}