<div data-hook="admin_orders_index_search" class="span16">
	<%= search_form_for([:admin, @search], :html => {:class => "well"}) do |f| %>
		<legend><%= t(:search) %></legend>
		<div class="clearfix">
			<div class="span4">
				<%= f.label(:line_items_shipping_date_gt, t(:shipping_delivery)) %>
				<div class="input-append"><%= f.text_field(:line_items_shipping_date_gt, :class => 'datepicker_bootstrap') %><span class="add-on"><i class="icon-calendar"></i></span></div>
				<%= f.label(:state_eq, t(:state, :scope => 'activerecord.attributes.spree/order')) %>
				<%= f.select :state_eq, Spree::Order.state_machines[:state].states.collect {|s| [t("order_state.#{s.name}"), s.value]}, {:include_blank => true} %>
				<%= f.label(:number_cont, t(:number)) %>
				<div class="input-append"><%= f.text_field :number_cont, :size => 25 %><span class="add-on"><i class="icon-search"></i></span></div>
				<label class="checkbox">
					<%= f.check_box :completed_at_not_null, {:checked => @show_only_completed}, '1', '' %><%= t(:show_only_complete_orders) %>
				</label>
			</div>
			<div class="span4">
				<%= f.label(:email_cont, t(:email)) %>
				<div class="input-append"><%= f.text_field :email_cont, :size => 25 %><span class="add-on"><i class="icon-search"></i></span></div>
				<%= f.label(:created_at_gt, t(:from)) %>
				<div class="input-append"><%= f.text_field(:created_at_gt, :class => 'datepicker_bootstrap') %><span class="add-on"><i class="icon-calendar"></i></span></div>
				<%= f.label(:created_at_lt, t(:to)) %>
				<div class="input-append"><%= f.text_field(:created_at_lt, :class => 'datepicker_bootstrap') %><span class="add-on"><i class="icon-calendar"></i></span></div>
				<%= submit_tag(t(:search), :class => "btn btn-primary") %>
			</div>
			<div class="span7">
				<p>&Egrave; possibilie effettuare delle ricerche sugli ordini tramite la form a lato.</p>
				<h5><%= t("printtogo.orders.status") %> <strong><%= t("printtogo.orders.total") %> <%= @total %>&euro;</strong></h5>
				<div class="clearfix">
					<div class="pull-left" style="margin-right: 10px">
						<%= easy_as_pie (@completed), t("printtogo.orders.completed", :percent => @completed.to_i), :class => 'pie-chart' %>
					</div>
					<div class="pull-left" style="margin-right: 10px">
						<%= easy_as_pie (@cart), t("printtogo.orders.cart", :percent => @cart.to_i), :class => 'pie-chart' %>
					</div>
					<div class="pull-left">
						<%= easy_as_pie (@paied), t("printtogo.orders.paied", :percent => @paied.to_i), :class => 'pie-chart' %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>