<div data-hook="admin_order_form_fields">
	<% if @line_item.try(:errors).present? %>
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @line_item } %>
	<% end %>

	<%= form_for(@order, :url => admin_order_url(@order), :method => :put, :html=> {:class => "well form-horizontal"}) do |f| %>
	<%= f.hidden_field :number %>
	<table class="index table table-hover table-condensed table-bordered">
		<thead id="line-items">
			<tr data-hook="admin_order_form_line_items_headers" class="info">
				<th><%= t(:item_description) %></th>
				<th class="qty"><%= t(:qty) %></th>
				<th class="price"><%= t(:price) %></th>
				<th class="orders-actions" data-hook="admin_order_form_line_items_header_actions"></th>
			</tr>
			<%= f.fields_for :line_items do |li_form| %>
				<%= render :partial => 'spree/admin/orders/line_item', :locals => { :f => li_form } %>
			<% end %>
		</thead>
		<tbody id="subtotal" data-hook="admin_order_form_subtotal">
			<tr id="subtotal-row">
				<td colspan="3" class="info"><b><%= t(:subtotal) %>:</b></td>
				<td class="total"><span><%= number_to_currency @order.item_total %></span></td>
			</tr>
		</tbody>
		<tbody id="order-charges" data-hook="admin_order_form_adjustments">
			<% @order.adjustments.each do |adjustment| %>
			<tr>
				<td colspan="3" class="info"><strong><%= adjustment.label %></strong></td>
				<td class="total"><span><%= number_to_currency adjustment.amount %></span></td>
			</tr>
			<% end %>
		</tbody>
		<tbody id="order-total" data-hook="admin_order_form_total">
			<tr>
				<td colspan="3" class="info"><b><%= t(:order_total) %>:</b></td>
				<td class="total"><span id="order_total"><%= number_to_currency @order.total %></span></td>
			</tr>
		</tbody>
	</table>

	<div class="form-actions" data-hook="admin_order_form_buttons">
		<%= submit_tag(t(:update), :class => "btn btn-info btn-large right") %>
		<%= link_to(t(:back), admin_orders_url, :class => "btn btn-inverse right", :style => "margin-right: 15px") %>
	</div>

	<% end %>

	<%= javascript_tag do -%>
	<%= render :partial => 'spree/admin/shared/update_order_state', :handlers => [:js] %>
	<% end -%>
</div>