<tr id="<%= spree_dom_id(f.object) %>" data-hook="admin_order_form_line_item_row">
	<td width="300">
		<%=f.object.variant.product.name %> <br />
		<%=f.object.format %> <br />
		<%= "#{t(:orientation)}: #{f.object.orientation}, " if f.object.orientation %><%= "#{t(:fold_type)}: #{f.object.folding.folding.name}, " if f.object.folding %><%= "#{t(:eyelet_accessory_disposition)}: #{f.object.eyelet_accessory_disposition}, " if f.eyelet_accessory_disposition %><%= "#{t(:eyelet_accessory_quantity)}: #{f.object.eyelet_accessory_quantity}, " if f.object.eyelet_accessory_quantity %><%= "#{t(:sleeve)}: #{f.object.sleeve.presentation}" if f.object.sleeve %><%= "#{t(:frame)}: #{li.frame.name}, " if f.object.frame %><%= "#{t(:number_of_facades)}: #{f.object.number_of_facades.presentation}, " if f.object.number_of_facades %><%= "#{t(:printing_instructions)}: #{f.object.printing_instructions}, " if f.object.printing_instructions %><%= "#{t(:paper)}: #{f.object.paper}, " %><%= "#{t(:weight)}: #{f.object.paper_weight} gr, " %><%= "#{t(:plasticization)}: #{li.plasticization}, " %><%= "#{t(:print_color)}: #{f.object.print_color.presentation rescue "Nessuna"}, " %>
	</td>
	<td valign="top" class="qty"><%= f.number_field :quantity, :min => 0, :style => "width:80px;", :class => "qty" %></td>
	<td valign="top" class="price"><%= number_to_currency(f.object.price) %></td>
	<td data-hook="admin_order_form_line_item_actions">
		<%= link_to_delete f.object, {:url => admin_order_line_item_url(@order.number, f.object) } %>
	</td>
</tr>