<%= csrf_meta_tags %>

<div class="row">
	<div class="span16">
		<h2><%= t(:order) %> <%= @order.number %></h2>
		<br class="clearer"/>
		<div class="toolbar order-links span10" data-hook="admin_order_edit_buttons">
			<%= button_link_to(t(:cancel), fire_admin_order_url(@order, :e => :cancel), { :method => :put, :confirm => t(:order_sure_want_to, :event => t(:cancel)), :class => "btn btn-large btn-danger" }) if(@order.can_cancel?) %>
			<%= link_to("#{t(:back)}".html_safe, admin_orders_url(), :class => "btn btn-inverse") %>
			<%= link_to("#{t(:resend)} <i class='icon-share icon-white'></i>".html_safe, resend_admin_order_url(@order), :class => 'btn btn-primary', :method => :post) if @order.user %>
		</div>
		<br class="clearer"/>
		<br class="clearer"/>

		<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Order Details' } %>
		<div class="tab-content">
			<div class="tab-pane active" id="details">
				<div data-hook="admin_order_edit_header">
				  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
				</div>

				<%#= render :partial => 'add_product' %>

				<div data-hook="admin_order_edit_form">
					<div id="order-form-wrapper">
						<%#= render :partial => 'form', :locals => { :order => @order } %>
						<%= render :partial => 'spree/admin/shared/order_details', :locals => { :order => @order } %>
					</div>
				</div>
			</div>
			<div class="tab-pane active" id="customer"></div>
			<div class="tab-pane active" id="adjustments"></div>
			<div class="tab-pane active" id="payment"></div>
			<div class="tab-pane active" id="shipment"></div>
		</div>
	</div>
</div>

<% content_for :head do %>
  <%= javascript_tag 'var expand_variants = true;' %>
<% end %>