<legend><%= t(:details) %></legend>

<div data-hook="admin_menu_form_fields">
	<div class="span7">
        <label class="checked">
            <%= f.check_box :enabled %> <%= t(:enabled) %>
        </label>
		<%= f.label(:class_list, t(:class_list)) %>
		<%= f.select :class_list, [["Nero", "black"], ["Blu", "blue"], ["Verde", "green"], ["Rosso", "red"], ["Giallo", "yellow"], ["Arancione", "orange"]], :class => 'fullwidth title' %>
		<div class="string input required" id="menu_url_input">
			<%= f.label :url, t(:url) %>
			<div class="radio_content">
            <% if @homepage_element.homepageble_type != "Spree::Product" && @homepage_element.homepageble_type != "Spree::Taxon" && @homepage_element.homepageble_type != "Spree::LineItemPromotion" %>
			<label class="checked">
                <input  checked="checked" type="radio" name="url_type" id="url_type_insert_new_url_homepage" value="<%= t(:insert_new_url) %>"> <%= t(:insert_new_url) %>
			</label>
                <%= f.text_field :url, :class => 'url_text_field_homepage' %>
            <% else %>
                <input  type="radio" name="url_type" id="url_type_insert_new_url_homepage" value="<%= t(:insert_new_url) %>"> <%= t(:insert_new_url) %>
                <%= f.text_field :url, :class => 'url_text_field_homepage', :disabled => 'disabled' %>
            <% end %><br class="clearer"/><br /> 
            <!--======================================================================-->
			<label class="checked">
            	<input <%= 'checked="checked"' if @homepage_element.homepageble_type == "Spree::Taxon" %> type="radio" name="url_type" id="url_type_select_from_taxon_homepage" value="<%= t(:select_from_taxon) %>"> <%= t(:select_from_taxon) %>
			</label>
            <%= f.select :homepageble_id, 
                  options_for_select(Spree::Taxon.all.map { |t| [t.name, t.id] }, @homepage_element.homepageble_type == "Spree::Taxon" ? @homepage_element.homepageble_id : nil ),{}, 
                  { :class => 'taxon_select_homepage', :disabled => @homepage_element.homepageble_type != "Spree::Taxon" }%>
            <%= hidden_field_tag "homepage_element[homepageble_type]","Spree::Taxon",{:class => 'taxon_select_homepage' , :disabled => @homepage_element.homepageble_type != "Spree::Taxon" }%>
            <br class="clearer"/><br/>
            <!--======================================================================-->
			<label class="checked">
            	<input <%= 'checked="checked"' if @homepage_element.homepageble_type == "Spree::Product" %> type="radio" name="url_type" id="url_type_select_from_product_homepage" value="<%= t(:select_from_product) %>"> <%= t(:select_from_product) %>
			</label>
            <%= f.select :homepageble_id,
                 options_for_select( Spree::Product.all.map { |p| [p.name, p.id] }, @homepage_element.homepageble_type == "Spree::Product" ? @homepage_element.homepageble_id : nil ),{},
                {:class => 'product_select_homepage', :disabled => @homepage_element.homepageble_type != "Spree::Product"}%>
            <%= hidden_field_tag "homepage_element[homepageble_type]","Spree::Product", {:class => 'product_select_homepage', :disabled => @homepage_element.homepageble_type != "Spree::Product"}%>
            <br class="clearer"/><br />
            <!--======================================================================-->
			<label class="checked">
            	<input <%= 'checked="checked"' if @homepage_element.homepageble_type == "Spree::LineItemPromotion" %> type="radio" name="url_type" id="url_type_select_from_promotion_homepage" value="Seleziona dalle Promozioni"> <%= "Seleziona dalle Promozioni" %>
			</label>
            <%= f.select :homepageble_id, 
                  options_for_select( Spree::LineItemPromotion.active.map{|lip| ["Offerta #{lip.number_of_copy} #{lip.product.name}", lip.id]}, @homepage_element.homepageble_type == "Spree::LineItemPromotion" ? @homepage_element.homepageble_id : nil ), {},
                {:class => 'promotion_select_homepage', :disabled => @homepage_element.homepageble_type != "Spree::LineItemPromotion"}%>
            <%= hidden_field_tag "homepage_element[homepageble_type]","Spree::LineItemPromotion",{:class => 'promotion_select_homepage', :disabled => @homepage_element.homepageble_type != "Spree::LineItemPromotion"}%>
            <!--======================================================================-->                          
        	</div>
		</div>
	</div>
	<div class="span7">
		<%= f.label("advertisement", ".", :id => "advertisement") %>
		<%= f.label(:title, t(:title), :class => "control-label") %>
		<%= f.text_field(:title) %>
		
		<%= f.label(:description, t(:description), :class => "control-label") %>
        <%= f.text_area(:description, :style => "width: 480px; height: 220px;") %>
        
		<%= label_tag(:attachment, t(:attachment), :class => "control-label") %>
        <%= f.file_field :attachment %>
		<% if @homepage_element.persisted? %>
			<%= image_tag(@homepage_element.attachment.url(:mini), :id => "attached_image" ) %>
			<%= link_to t(:remove_stored_image), admin_remove_image_homepage_elements_path(@homepage_element), :confirm => 'Sei sicuro?', :method => :put, :class => "btn btn-danger" , :remote => true %> 
		<% end %>
        
		<%= f.label(:position, t(:position)) %>
		<%= f.text_field(:position, :class => "span1") %>
	</div>
</div>



