<div class="row">
	<div class="span16">
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @homepage_element } %>
		<h2><%= t(:edit) %> <%= t(:homepage_element) %></h2>
		<br />
		<%= form_for([:admin, @homepage_element], :url => {:action => :update}, :html => {:class => "well clearfix"}) do |f| %>
			<%=  render :partial => 'form', :locals => {:f => f} %>
			<div class="form-actions clearer right-txt">
				<%= f.submit(t(:update), :class => "btn btn-primary") %>
		      	<%= link_to(t(:back), admin_homepage_elements_url, :class => "btn btn-inverse") %>
		    </div>
		<% end %>
	</div>
</div>