<div class="row">
	<div class="span16">
		<h2><%= t(:homepage_elements) %></h2>
		<p>In questa pagina puoi gestire i box dell'homepage</p>
	</div>
	
	<div class="span7 well">
		<%= link_to("#{t(:new_hompage_element)} <i class='icon-plus icon-white'></i>".html_safe, new_object_url, :class => 'btn btn-primary', :id => "admin_new_hompage_element_link") %>
	</div>
	<div class="span8 content-box">
		In questa sezione potete aggiungere, rimuovere o modificare gli elementi visibili nella homepage ossia la prima pagina del sito. 
		Le caratteristiche principali per ogni elemento visualizato nella pagina sono:<br />
		<ul>
			<li>POSIZIONE: ordine di visualizzazione da sinistra verso destra</li>
			<li>TITOLO: il titolo dell'elemento</li>
			<li>DESCRIZIONE: la descrizione dell'oggetto contenuto nell'elemento</li>
			<li>URL: dove porta il click sull'elemento (sito esterno, prodotti, categorie e promozioni)</li>
			<li>IMMAGINE: l'immagine da visualizzare nell'elemento</li>
			<li>STILE: colore dei bordi dell'elemento
		</ul>
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="table table-condensed table-bordered" id='listing_homepage_types'>
			<thead>
				<tr data-hook="admin_homepage_elements_index_headers" class="info">
					<th><%= t(:thumbnail) %></th>
					<th><%= t(:title) %></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @homepage_elements.each do |hpe|%>
				<tr id="<%= spree_dom_id hpe %>" data-hook="admin_homepage_elements_index_rows">

					<td><%= image_tag(hp_image(hpe), :class => "homepage_element_thumb") %></td>
					<td><%= truncate(hp_title(hpe), :length => 50, :separator => '...') %></td>
					<td><%= icon('tick') if hpe.enabled %></td>
					<td>
						<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, edit_admin_homepage_element_url(hpe), :class => "btn btn-primary") %>
						<%= link_to("#{t(:remove)}  <i class='icon-remove icon-white'></i>".html_safe, admin_homepage_element_url(hpe), :confirm => 'Sei sicuro?', :method => :delete, :class => "btn btn-danger", :remote => true) %>
					</td>

				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	
	<br class="clearer"/><br />
	<div class="span16 well">
		<p>Attualmente la nuova homepage e' 
		<% if Spree::Config[:homepage_new_version_enabled] %>
			<%= icon('tick')%> Abilitata
		<% else %> 
			<%= icon('cross')%> Disabilitata
		<% end %>
		</p>
		<p> Saranno visilibi solo i primi <%= Spree::Config[:homepage_elements_number] %> elementi </p>
		
		<%= button_link_to "Per attivare e disattivare la nuova homepage o impostare un diverso numero di elementi da visualizzare clicca qui", edit_admin_general_settings_url, :class => 'btn btn-primary' %>
	</div>
</div>
