if ($('.loader').length > 0) {
	$('.loader').delay(200).fadeOut('slow', function() {
		$("#shipment").html("<%= escape_javascript(render :partial => 'new') %>");
	});
} else {
	$("#shipment").html("<%= escape_javascript(render :partial => 'new') %>");
}