<% if @variant.persisted? %>
<ul class="nav nav-tabs" id="formatTab">
	<li class="active"><a href="#variant_format" data-toggle="tab">Configurazione Formato</a></li>
	<li><a href="#template" data-toggle="tab" data-url-tab="<%= new_variant_admin_templates_path(@variant) %>">Template</a></li>
</ul>
<div class="tab-content">
<% end %>
	<!-- Configurate Variant -->
	<div class="tab-pane active clearfix" id="variant_format">
		<%= form_for([:admin, @advanced_product, @variant], :html => {:multipart => true, :class => "form-inline clearfix"}, :remote => true) do |f| %>
			<div class="control-group span11">
				<%= label_tag(:format, t(:model), :class => "control-label") %>
				<div class="controls">
					<%= f.text_field(:format, :style => "width: 430px") %>
				</div>
			</div>
			<div class="clearer clearfix">
				<h3>Attributi</h3>
				<% @advanced_product.simple_attributes.each do |sa| %>
					<div class="control-group span4">
						<%= label_tag(sa.name.downcase.to_sym, sa.name, :class => "control-label") %>
						<div class="controls">
							<%= select_tag("entity[attributes][#{sa.id}]", options_for_select(sa.simple_values.collect{|sv| [sv.presentation, sv.id]}), {:include_blank => "Seleziona #{sa.name}"}) %>
						</div>
					</div>
				<% end %>
				<br class="clearer"/>
				<div class="control-group span4">
					<%= label_tag(:price, t(:price), :class => "control-label") %><br />
					<div class="controls input-append">
						<%= text_field_tag("entity[price]", nil, {:class => "span2"}) %><span class="add-on">costo unitario in &euro;</span>
					</div>
				</div>
				<div class="control-group span4">
					<%= label_tag(:weight, t(:weight), :class => "control-label") %><br />
					<div class="controls input-append">
						<%= text_field_tag("entity[weight]", nil, {:class => "span2"}) %><span class="add-on">peso unitario in Kg</span>
					</div>
				</div>
				<div class="control-group span4">&nbsp;</div>
			</div>
			<div class="clearer clearfix right-txt" data-hook="buttons">
				<%= f.submit(t(:create), :class => "btn btn-primary") %>
			</div>
		<% end %>
		<div class="clearfix">
			<h2>Modelli Configurati</h2>
			<div id="models_configured">
				<%= render :partial => 'models_configured' %>
			</div>
		</div>
	</div>
	<!-- Configurate Variant -->
<% if @variant.persisted? %>	
	<!-- Template -->
	<div class="tab-pane clearfix" id="template">
		<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
	</div>
	<!-- Template -->
	
</div>
<% end %>