<table class="index table table-hover table-condensed table-bordered">
	<thead>
		<tr data-hook="images_header" class="info">
			<th><%= t(:price) %></th>
			<th><%= t(:weight) %></th>
			<th><%= t(:attributes) %></th>
			<th><%= t(:action) %></th>
		</tr>
	</thead>
	<tbody>
	<% @entities.each do |e| %>
		<tr data-hook="item_row" id="<%= spree_dom_id e %>">
			<td style="vertical-align: middle;"><%= e.price %></td>
			<td style="vertical-align: middle;"><%= e.weight %></td>
			<td style="vertical-align: middle;"><%= e.entity_attribute_values.collect{|eav| content_tag(:span, "#{eav.simple_attribute.name} -> #{eav.simple_value.presentation}", :class => "label label-inverse") }.join(" ").html_safe %></td>
			<td class="actions" style="vertical-align: middle; width: 75px;">
				<%= link_to("#{t(:delete)} <i class='icon-remove icon-white'></i>".html_safe, admin_advanced_product_advanced_variant_remove_entity_path(@advanced_product, @variant, e), :data => {:confirm => t(:are_you_sure)}, :class => 'btn btn-danger btn-mini', :remote => true, :method => :delete) %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>