<%= javascript_include_tag 'admin/printer_format' %>
<%= javascript_tag do %>
    paper_weight_hash = <%== @product.generate_weight_paper_json %>;
    paper_products = <%== @variant.get_paper_product_json %>;
    paper_products_selected = <%== @variant.get_selected_values_json %>;
	
    cover_paper_weight_hash = <%== @cover.generate_weight_paper_json %>;
    cover_paper_products = <%== @cover_variant.get_paper_product_json %>;
    cover_paper_products_selected = <%== @cover_variant.get_selected_values_json %>;
<% end %>
<%= javascript_include_tag 'admin/products/paperback' %>
<%= hidden_field_tag "variant_id", @variant.id %>
<%= hidden_field_tag "product_id", @product.id %>

<ul class="nav nav-tabs" id="formatTab">
	<li class="active"><a href="#variant_format" data-toggle="tab">Configurazione Formato</a></li>
	<li><a href="#bindery" data-toggle="tab">Configurazione Legatoria</a></li>
	<li><a href="#cover_format" data-toggle="tab">Configurazione Copertina</a></li>
	<li><a href="#template" data-toggle="tab" data-url-tab="<%= new_variant_admin_templates_path(@variant) %>">Template</a></li>
</ul>
<div class="tab-content">
	
	<!-- Configurate Variant -->
	<div class="tab-pane active clearfix" id="variant_format">
		<div class="span7">
			<%= label_tag("variant[dimension]", t(:dimension), :class => "control-label") %>
			<div class="input-append"><%= text_field_tag("variant[width]", @variant.width, :style => "width: 40px;") %><span class="add-on">cm</span></div>
			<div class="input-append"><%= text_field_tag("variant[height]", @variant.height, :style => "width: 40px; margin-left: 10px") %><span class="add-on">cm</span></div>
			<%= label_tag("variant[format]", t(:format), :class => "control-label") %>
	    	<%= text_field_tag "variant[format]", @variant.format %>
		</div>
		<div class="span7">
			<%= label_tag("variant[paper_weight][]", "Grammature disponibili", :class => "control-label") %>
			<%= select_tag "variant[paper_weight][]", nil %>
			<%= label_tag("variant[paper_weight]", t(:paper_weight), :class => "control-label") %>
			<div id="variant_paper"></div>
		</div>
		<br class="clearer"/>
		<%= render :partial => 'configuration_printers', :locals => {:title_conf => "bianco e nero", :bw_c => 'bw'} %>
		<%= render :partial => 'configuration_printers', :locals => {:title_conf => "colori", :bw_c => 'c'} %>
		<br class="clearer"/>
	</div>
	<!-- Configurate Variant -->
	
	<!-- Configurate Bindery -->
	<div class="tab-pane clearfix" id="bindery">
		<%= render :partial => 'configuration_binderies' %>
		<br class="clearer"/>
	</div>
	<!-- Configurate Bindery -->
	
	<!-- Configurate Cover -->
	<div class="tab-pane clearfix" id="cover_format">
		<div class="span7">
			<%= label_tag("cover_variant[format]", t(:format)) %>
			<%= text_field_tag "cover_variant[format]", @cover_variant.format %>
			<%= label_tag("cover_variant[paper_weight][]", "Grammature disponibili", :class => "control-label") %>
		    <%= select_tag "cover_variant[paper_weight][]", nil %>
		</div>
		<div class="span7">
			<%= label_tag("cover_variant[paper_weight]", t(:paper_weight)) %>
		    <div id="cover_variant_paper"></div>
		</div>
		<br class="clearer"/>
		<%= render :partial => 'configuration_cover_printers', :locals => {:title_conf => "bianco e nero", :bw_c => 'bw'} %>
		<%= render :partial => 'configuration_cover_printers', :locals => {:title_conf => "colori", :bw_c => 'c'} %>
		<%= link_to("Imposta punto di convenienza Copertina", "javascript: setConvenienceCover()", :class => "btn btn-inverse right", :style => "margin-right: 15px;") %>
		<br class="clearer"/>
	</div>
	<!-- Configurate Cover -->
	
	<!-- Template -->
	<div class="tab-pane clearfix" id="template">
		<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
	</div>
	<!-- Template -->
	
</div>
