<h1><%= t(:editing_tracker) %></h1>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @tracker } %>
<%= form_for([:admin, @tracker], :html => {:class => "well fomt-horizontal"}) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>