<h1><%= t(:analytics_trackers) %></h1>
<br class="clearer"/>
<%= link_to("#{t(:new_tracker)} <i class='icon-plus icon-white'></i>".html_safe, new_object_url, :class => 'btn btn-primary', :id => "admin_new_tracker_link") %>
<br class="clearer"/>
<br />

<table class="table table table-hover table-condensed table-bordered" id='listing_payment_methods'>
	<thead>
		<tr data-hook="admin_trackers_index_headers" class="info">
			<th><%= t(:google_analytics_id) %></th>
		      <th><%= t(:environment) %></th>
		      <th><%= t(:active) %></th>
		      <th><%= t(:action) %></th>
		</tr>
	</thead>
	<tbody>
		<% @trackers.each do |tracker|%>
	      <tr id="<%= spree_dom_id tracker %>" data-hook="admin_trackers_index_rows">
	        <td><%= tracker.analytics_id %></td>
	        <td><%= tracker.environment.to_s.titleize %></td>
	        <td><%= tracker.active ? t(:yes) : t(:no) %></td>
	        <td style="width: 205px">
	          <%= link_to_edit(tracker, {:class => "btn btn-primary"}) %> <%= link_to_delete tracker %>
	        </td>
	      </tr>
	    <% end %>
	</tbody>
</table>
