<%
   if bw_c == "bw"
     quantity = @variant.limit.quantity_bw
     printer_before = @variant.limit.printer_before_bw
     format_before = @variant.limit.format_before_bw
     pose_before = @variant.limit.pose_before_bw
     printer_after = @variant.limit.printer_after_bw
     formta_after = @variant.limit.format_after_bw
     pose_after = @variant.limit.pose_after_bw
   else
     quantity = @variant.limit.quantity_c
     printer_before = @variant.limit.printer_before_c
     format_before = @variant.limit.format_before_c
     pose_before = @variant.limit.pose_before_c
     printer_after = @variant.limit.printer_after_c
     formta_after = @variant.limit.format_after_c
     pose_after = @variant.limit.pose_after_c
   end
%>
<div class="configuration-point span7">
  <legend class="small"><%= t(:configuration_convenience) %> <%= title_conf %></legend>
  <p class="clearfix">
	<span class="left "><%= t(:density) %></span><span id="amount-<%= bw_c %>" style="float: left; margin-left: 200px; font-weight: bold;"></span><span class="right"><%= t(:owerflow) %></span>
    <%= hidden_field_tag "variant[limit][quantity_#{bw_c}]", quantity, :data => {:ref => "quantity_before_#{bw_c}"} %>
	<div id="slider-range-min-<%= bw_c %>" style="width: 90%; margin-left: 20px"></div>
  </p>
    <legend class="small"> Minore uguale di <span class="quantity_before_<%= bw_c %>"> ... </span></legend>
	<div class="control-group">
		<%= label_tag("variant[limit][printer_before_#{bw_c}_id]", t(:printer), :class => "control-label") %>
		<div class="controls">
	  		<%= select_tag "variant[limit][printer_before_#{bw_c}_id]",
		                     options_from_collection_for_select(@product.printer_type_option_type.printers,
		                                                        "id",
		                                                        "presentation",
		                                                        printer_before.nil? ? 1 : printer_before.id),
		                     :data => {:default => format_before.nil? ? '' : "#{format_before.id}",
		                               :format => "variant[limit][format_before_#{bw_c}_id]"},
							 :onchange => "setPrinterFormat($(this));"

		      %>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag("variant[limit][pose_before_#{bw_c}_id]", t(:number_of_pose), :class => "control-label") %>
		<div class="controls">
	  		<%= select_tag "variant[limit][pose_before_#{bw_c}_id]", options_for_select(Spree::Pose.all.sort { |z, x| z.name.to_i <=> x.name.to_i }.collect { |u| [u.name, u.id] }, (pose_before.id if pose_before)) %>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag("variant[limit][format_before_#{bw_c}_id]", t(:format), :class => "control-label") %>
		<div class="controls">
	  		<%= select_tag "variant[limit][format_before_#{bw_c}_id]" %>
		</div>
	</div>
	
    <legend class="small"> Maggiore di <span class="quantity_before_<%= bw_c %>"> ... </span></legend>
	<div class="control-group">
		<%= label_tag("variant[limit][printer_after_#{bw_c}_id]", t(:printer), :class => "control-label") %>
		<div class="controls">
	  		<%= select_tag "variant[limit][printer_after_#{bw_c}_id]",
		                     options_from_collection_for_select(@product.printer_type_option_type.printers,
		                                                        "id",
		                                                        "presentation",
		                                                        printer_after.nil? ? 1 : printer_after.id),
		                     :data => {:default => formta_after.nil? ? '' : "#{formta_after.id}",
		                               :format => "variant[limit][format_after_#{bw_c}_id]"},
							 :onchange => "setPrinterFormat($(this));"

		      %>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag("variant[limit][pose_after_#{bw_c}_id]", t(:number_of_pose), :class => "control-label") %>
		<div class="controls">
	  		<%= select_tag "variant[limit][pose_after_#{bw_c}_id]", options_for_select(Spree::Pose.all.sort { |z, x| z.name.to_i <=> x.name.to_i }.collect { |u| [u.name, u.id] }, (pose_after.id if pose_after)) %>
		</div>
	</div>
	<div class="control-group">
		<%= label_tag("variant[limit][format_after_#{bw_c}_id]", t(:format), :class => "control-label") %>
		<div class="controls">
          <%= select_tag "variant[limit][format_after_#{bw_c}_id]" %>
		</div>
	</div>

</div>
