<div class="span7">
	<%= label_tag("rigid_support[name]", t(:name)) %>
	<%= text_field_tag "rigid_support[name]", @rigid_support.name %>
	
	<%= label_tag("rigid_support[description]", t(:description)) %>
	<%= text_area "rigid_support", :description, :style => "width: 400px; height: 150px;" %>
</div>
<div class="span7">
	<%= label_tag("rigid_support[width]", t(:width_coil)) %>
	<div class="input-append"><%= text_field_tag "rigid_support[width]", @rigid_support.width %><span class="add-on">cm</span></div>
	
	<%= label_tag("rigid_support[height]", t(:height_coil)) %>
	<div class="input-append"><%= text_field_tag "rigid_support[height]", @rigid_support.height %><span class="add-on">cm</span></div>
	
	<%= label_tag("rigid_support[weight]", t(:weight)) %>
	<div class="input-append"><%= text_field_tag "rigid_support[weight]", @rigid_support.weight %><span class="add-on">gr/mq</span></div>
	
	<%= label_tag("rigid_support[thickness]", t(:thickness)) %>
	<div class="input-append"><%= text_field_tag "rigid_support[thickness]", @rigid_support.thickness %><span class="add-on">mm</span></div>
	
	<%= label_tag("rigid_support[waste]", t(:waste_mq)) %>
	<div class="input-append"><%= text_field_tag "rigid_support[waste]", @rigid_support.waste %><span class="add-on">mq</span></div>
	
	<%= label_tag("rigid_support[price]", t(:price_meter_square)) %>
	<div class="input-append"><%= text_field_tag "rigid_support[price]", @rigid_support.price %><span class="add-on">&euro;</span></div>
	<br /><br />
	<label class="ckecked">	
		<%#= check_box_tag "coil_value[sided]", @coil_value.sided %>
		<%= check_box "rigid_support", :sided %><%= t(:sided) %>
	</label>
</div>
<br class="clearer"/>