<% @body_id = "rigid_support" %>

<div class="row">
	<div class="span16">
		<h2><%= t(:rigid_supports) %></h2>
		<p>In questa pagina puoi gestire i supporti rigidi</p>
	</div>
	
	<div class="span7 well">
		<%= button_link_to("#{t(:new_rigid_support)} <i class='icon-plus icon-white'></i>".html_safe, new_admin_rigid_support_path, {:id => 'admin_new_rigid_support', :class => "btn btn-primary"}) %>
	</div>
	<div class="span8 content-box">
		In questa sezione potete creare, modificare o eliminare i supporti rigidi utilizzati dai prodotti di stampa. 
		Le caratteristiche principali sono:<br />
		<ul>
			<li>NOME: il nome che verr&agrave; vesualizzato nella tendina per la configurazione e nella pagina preventivo di ogni prodotto</li>
			<li>DESCRIZIONE: una breve descrizione del materiale che verr&agrave; visualizzato nella pagina preventivo di ogni singolo prodotto</li>
			<li>LUNGHEZZA: la lunghezza del supporto</li>
			<li>LARGHEZZA: la larghezza massima del supporto (la dimensione del foglio che poi entrer&agrave; nella stampante)</li>
			<li>PREZZO METRO QUADRO: il prezzo del supporto al mq<sup>2</sup></li>
			<li>BIFACCIALE: se il supporto pu&ograve; essere stampato fronte e retro</li>
		</ul>
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="index table table-hover table-condensed table-bordered">
			<thead>
				<tr class="info">
					<th>Nome</th>
					<th>Base x Altezza</th>
				    <th>Prezzo a mq</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<% @rigid_supports.each do |rigid_support| %>
				<tr id="<%= spree_dom_id rigid_support %>" data-hook="item_row">
					<td><%= rigid_support.name %></td>
			        <td><%= rigid_support.width %> x <%= rigid_support.height %> cm</td>
			        <td><%= rigid_support.price %> &euro; </td>
					<td class="actions">
						<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, edit_admin_rigid_support_path(rigid_support), :class => 'btn btn-primary') %>
						<%= link_to("#{t(:delete)} <i class='icon-remove icon-white'></i>".html_safe, admin_rigid_support_path(rigid_support), :data => {:confirm => t(:are_you_sure)}, :class => 'btn btn-danger', :remote => true, :method => :delete) %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
