<div class="control-group">
  <%= label_tag(:name, t(:name), :class => "control-label") %>
  <div class="controls">
    <%= f.text_field(:name, :value => @frame.name) %>
  </div>
</div>
<div class="control-group">
	<%= label_tag(:copy_cost, t(:copy_cost_article), :class => "control-label") %>
	<div class="controls">
		<div class="input-append"><%= f.text_field(:copy_cost, :value => @frame.copy_cost) %><span class="add-on">&euro;</span></div>
	</div>
</div>
