<div class="row">
	<div class="span16">
		<h2><%= t(:frames) %></h2>
		<p>In questa pagina puoi gestire i tuoi tipi di telaio</p>
	</div>
	
	<div class="span7 well">
		<%= button_link_to("#{t(:new_frame)} <i class='icon-plus icon-white'></i>".html_safe, spree.new_admin_frame_path, {:id => 'admin_new_printer', :class => "btn btn-primary"}) %>
	</div>
	<div class="span8 content-box">
		
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="table table-condensed table-bordered" data-hook>
			<thead>
		  		<tr class="info">
		    		<th><%= t(:name) %></th>
					<th><%= t(:copy_cost_article) %></th>
					<th></th>
		  		</tr>
			</thead>
			<tbody>
			<% @frames.each do |frame| %>
				<tr class="<%= cycle('even', 'odd') %>" id="<%= spree_dom_id frame %>">
					<td><%= frame.name %></td>
					<td><%= frame.copy_cost %> &euro;</td>
					<td class="actions">
						<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe ,edit_admin_frame_path(frame), :class => "btn btn-primary") %>
		              <%= link_to("#{t(:delete)} <i class='icon-remove icon-white'></i>".html_safe, admin_frame_path(frame), {:class => " btn btn-danger", :data => { :confirm => t(:are_you_sure) },:remote => true,	:method => 'delete'}) %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
