<div class="span7">
	<%= label_tag(:name, t(:name)) %>
	<%= f.text_field :name %>
</div>
<div class="span7">
	<%= label_tag(:external, t(:external)) %>
	<%= f.check_box(:external) %>
	<p class="small" style="font-size: 11px; color: #880000;">Occorre salvare per poter visualizzare la modifica</p>
</div>
<br class="clearer"/><br />
<% if !@bindery.external %>
<div class="clearfix">
	<legend>Costi Orari per le lavorazioni</legend>
	<div class="span3 inputs">
		<%= label_tag(:hourly_cost_bending, t(:hourly_cost_bending)) %>
  		<%= f.text_field :hourly_cost_bending %>
	</div>
	<div class="span3 inputs">
		<%= label_tag(:hourly_cost_punching, t(:hourly_cost_punching)) %>
  		<%= f.text_field :hourly_cost_punching %>
	</div>
	<div class="span3 inputs">
		<%= label_tag(:hourly_cost_seam, t(:hourly_cost_seam)) %>
  		<%= f.text_field :hourly_cost_seam %>
	</div>
	<div class="span3 inputs">
		<%= label_tag(:hourly_cost_sleeve, t(:hourly_cost_sleeve)) %>
 		<%= f.text_field :hourly_cost_sleeve %>
	</div>
	<div class="span3 inputs">
		<%= label_tag(:hourly_cost_milling, t(:hourly_cost_milling)) %>
  		<%= f.text_field :hourly_cost_milling %>
	</div>
	<br class="clearer"/><br/>
	<%= link_to("Vedi tutte le configurazioni", "javascript: view_all_accordion()", :class => "btn btn-info") %>
	<br class="clearer"/><br/>
	<%= render :partial => 'internal_hourly_cost', :locals => {:f => f} %>
</div>
<% else %>
<div class="clearfix">
	<legend>Costi Avviamento per le lavorazioni</legend>
	<div class="span3 inputs">
		<%= label_tag(:min_limit_bending, t(:min_limit_bending)) %>
  		<%= f.text_field :min_limit_bending %>
		<%= label_tag(:cost_bending, t(:cost_bending)) %>
  		<%= f.text_field :cost_bending %>
	</div>
	<div class="span3 inputs">
		<%= label_tag(:min_limit_punching, t(:min_limit_punching)) %>
		<%= f.text_field :min_limit_punching %>
		<%= label_tag(:cost_punching, t(:cost_punching)) %>
		<%= f.text_field :cost_punching %>
	</div>
	<div class="span3 inputs">
		<%= label_tag(:min_limit_seam, t(:min_limit_seam)) %>
  		<%= f.text_field :min_limit_seam %>
		<%= label_tag(:cost_seam, t(:cost_seam)) %>
  		<%= f.text_field :cost_seam %>
	</div>
	<div class="span3 inputs">
		<%= label_tag(:min_limit_sleeve, t(:min_limit_sleeve)) %>
		<%= f.text_field :min_limit_sleeve %>
		<%= label_tag(:cost_sleeve, t(:cost_sleeve)) %>
		<%= f.text_field :cost_sleeve %>
	</div>
	<div class="span3 inputs">
		<%= label_tag(:min_limit_milling, t(:min_limit_milling)) %>
		<%= f.text_field :min_limit_milling %>
		<%= label_tag(:cost_milling, t(:cost_milling)) %>
  		<%= f.text_field :cost_milling %>
	</div>
	<br class="clearer"/><br/>
	<%= link_to("Vedi tutte le configurazioni", "javascript: view_all_accordion()", :class => "btn btn-info") %>
	<br class="clearer"/><br/>
	<%= render :partial => 'external_hourly_cost', :locals => {:f => f} %>
</div>
<% end %>