<div class="accordion span15" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#bending">Piegatura</a>
		</div>
		<div id="bending" class="accordion-body collapse in">
			<div class="accordion-inner clearfix">
				<%= f.fields_for :bendings do |builder| %>
				<%= render "bending_fields", :f => builder %>
				<% end %>
				<p class="small"><%= link_to_add_fields("Aggiungi una nuova piegatura", f, :bendings) %></p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#punching">Punto Metallico</a>
		</div>
		<div id="punching" class="accordion-body collapse in">
			<div class="accordion-inner clearfix">
				<%= f.fields_for :punchings do |builder| %>
				<%= render "punching_fields", :f => builder %>
				<% end %>
				<p class="small"><%= link_to_add_fields("Aggiungi un nuovo punto metallico", f, :punchings) %></p>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#seam">Cucitura</a>
		</div>
		<div id="seam" class="accordion-body collapse in">
			<div class="accordion-inner clearfix">
				<%= f.fields_for :seam do |builder| %>
					<div class="span3">
						<%= builder.hidden_field(:type_quantity, :value => 1) %>
						<%= label_tag(:type_quantity, t(:type_quantity)) %>
						<p>1 Segnatura</p>
					</div>
					<div class="span3">
						<%= label_tag(:start_time, t(:start_time)) %>
						<%= builder.text_field(:start_time) %>
					</div>
					<div class="span3">
						<%= label_tag(:average_hourly_seam, t(:average_hourly_seam)) %>
						<%= builder.text_field(:average_hourly_seam) %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#milling">Fresatura</a>
		</div>
		<div id="milling" class="accordion-body collapse in">
			<div class="accordion-inner clearfix">
				<%= f.fields_for :milling do |builder| %>
					<div class="span3">
						<%= builder.hidden_field(:type_quantity, :value => 1) %>
						<%= label_tag(:type_quantity, t(:type_quantity)) %>
						<p>1 Segnatura</p>
					</div>
					<div class="span3">
						<%= label_tag(:start_time, t(:start_time)) %>
				  		<%= builder.text_field(:start_time) %>
					</div>
					<div class="span3">
						<%= label_tag(:average_hourly_milling, t(:average_hourly_milling)) %>
				  		<%= builder.text_field(:average_hourly_milling) %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#sleeve">Copertina</a>
		</div>
		<div id="sleeve" class="accordion-body collapse in">
			<div class="accordion-inner clearfix">
				<%= f.fields_for :sleeve do |builder| %>
					<%= builder.hidden_field(:type_quantity, :value => 1) %>
					<div class="span3">
						<%= label_tag(:type_quantity, t(:type_quantity)) %>
						<p>Con Alette</p>
					</div>
					<div class="span3">
						<%= label_tag(:start_time, t(:start_time)) %>
					  	<%= builder.text_field(:start_time_fins) %>
					</div>
					<div class="span3">
						<%= label_tag(:average_hourly_sleeve, t(:average_hourly_sleeve)) %>
					  	<%= builder.text_field(:average_hourly_sleeve_fins) %>
					</div>
					<br class="clearer"/>
					<div class="span3">
						<%= label_tag(:type_quantity, t(:type_quantity)) %>
						<p>Senza Alette</p>
					</div>
					<div class="span3">
						<%= label_tag(:start_time, t(:start_time)) %>
					  	<%= builder.text_field(:start_time) %>
					</div>
					<div class="span3">
						<%= label_tag(:average_hourly_sleeve, t(:average_hourly_sleeve)) %>
					  	<%= builder.text_field(:average_hourly_sleeve) %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>