<div class="fields">
	<div class="control-group span3">
		<%= label_tag(:type_quantity, t(:type_quantity), :class => "control-label left-txt padding-label-left") %>
		<div class="controls">
	  		<%= f.text_field :type_quantity %>
		</div>
	</div>
	<div class="control-group span3">
		<%= label_tag(:copy_cost, t(:cost), :class => "control-label left-txt padding-label-left") %>
		<div class="controls">
	  		<%= f.text_field(:copy_cost) %>
		</div>
	</div>
	<div class="control-label span3" style="margin-top: 30px;">
		<%= link_to_confirm_remove_fields("Rimuovi Cucitura", f) %>
	</div>
	<br class="clearer"/>
</div>