<div class="fields clearfix">
	<div class="control-group span3">
		<%= label_tag(:type_quantity, t(:type_quantity), :class => "control-label left-txt padding-label-left") %>
		<div class="controls">
	  		<%= f.text_field :type_quantity %>
		</div>
	</div>
	<div class="control-group span3">
		<%= label_tag(:start_time, t(:start_time), :class => "control-label left-txt padding-label-left") %>
		<div class="controls">
	  		<%= f.text_field(:start_time) %>
		</div>
	</div>
	<div class="control-group span3">
		<%= label_tag(:average_hourly_seam, t(:average_hourly_seam), :class => "control-label left-txt padding-label-left") %>
		<div class="controls">
	  		<%= f.text_field(:average_hourly_seam) %>
		</div>
	</div>
	<div class="control-label span3" style="margin-top: 30px;">
		<%= link_to_confirm_remove_fields("Rimuovi Cucitura", f) %>
	</div>
	<br class="clearer"/>
</div>