<%= f.hidden_field :product_id %>
<%= f.hidden_field :weight_item %>
<%= f.hidden_field :original_price %>
<%= f.hidden_field :original_total %>
<div class="span9">
	<legend class="section_promo">Copie & Formato</legend>
	<div class="span3">
		<%= label_tag(:number_of_copy, t(:number_of_copy)) %>
		<%= text_field_tag("line_item_promotion[number_of_copy]", @line_item_promotion.number_of_copy, :min => 1) %>
	</div>
	<div class="span3">
	<%= label_tag(:format, t(:format)) %>
	<%= select_tag("line_item_promotion[format]", options_for_select(@format, @line_item_promotion.format), {:prompt => "Seleziona il formato"}) %>
	</div>
	<legend class="section_promo">Informazioni di stampa</legend>
	<div class="span3" id="width" style="display: none;">
		<%= label_tag(:width, t(:width)) %>
	  	<%= text_field_tag("line_item_promotion[custom][width]", @line_item_promotion.custom_width, :min => 1) %>
	</div>
	<div class="span3" id="height" style="display: none;">
		<%= label_tag(:height, t(:height)) %>
	  	<%= text_field_tag("line_item_promotion[custom][height]", @line_item_promotion.custom_height, :min => 1) %>
	</div>
	<div class="span3">
		<%= label_tag(:printer_orientation, t(:printer_orientation)) %>
	  	<%= select_tag("line_item_promotion[orientation]", options_for_select(Spree::OptionType.find_by_name("printer_orientation").option_values.collect{|ov| [ov.presentation, ov.id]}, @line_item_promotion.printer_orientation), {:prompt => "Seleziona l'orientamento"}) %>
	</div>
	<div class="span3">
		<%= label_tag(:printer_instructions, t(:printer_instructions)) %>
		<%= select_tag("line_item_promotion[instructions]", options_for_select(Spree::OptionType.find_by_name("printer_instructions").option_values.collect{|ov| [ov.presentation, ov.name]}, @line_item_promotion.printer_instructions || @printer_instruction), {:prompt => "Seleziona la disposizione"}) %>
	</div>
	<div class="span3">
		<%= label_tag(:print_color, t(:print_color)) %>
		<%= select_tag("line_item_promotion[print_color]", options_for_select(Spree::OptionType.find_by_name("printer_color").option_values.collect{|ov| [ov.presentation, ov.name]}, @line_item_promotion.printer_color), {:prompt => "Seleziona la tipologia di stampa"}) %>
	</div>
	<div class="span3">
		<%= label_tag(:paper, t(:paper)) %>
		<%= select_tag("line_item_promotion[paper]", options_for_select(@paper, @line_item_promotion.paper), {:prompt => "Seleziona la tipologia di carta"}) %>
	</div>
	<div class="span3">
		<%= label_tag(:paper_weight, t(:weight_paper)) %>
	  	<%= select_tag("line_item_promotion[weight]", options_for_select([]), {:prompt => "Seleziona la grammatura carta"}) %>
	</div>
	<legend class="section_promo" style="<%= (!@facades && !@folding && !@banner && !@spiral && !@canvas) ? "display: none;" : "display: block;" %>">Configurazioni prodotto</legend>
	<div class="span3" style="<%= (!@facades) ? "display: none;" : "display: block;" %>">
		<%= label_tag(:number_of_facades, t(:number_of_facades)) %>
	  	<%= text_field_tag("line_item_promotion[number_of_facades]", @line_item_promotion.number_of_facades, :min => 4, :disabled => !@facades) %>
	</div>
	<div class="span3" style="<%= (!@cover || @product.is_a?(Spree::SpiralProduct)) ? "display: none;" : "display: block;" %>">
		<%= label_tag(:sleeve, t(:sleeve)) %>
		<%= select_tag("line_item_promotion[sleeve]", options_for_select(["Senza Alette", "Con Alette"], @line_item_promotion.sleeve), {:prompt => 'Seleziona la tipologia di copertina', :disabled => !@cover}) %>
	</div>
	<div class="span3" style="<%= (!@folding) ? "display: none;" : "display: block;" %>">
		<%= label_tag(:folding, t(:foldings)) %>
  		<%= select_tag("line_item_promotion[folding]", options_for_select(Spree::FoldingFormat.all.uniq.collect{|ff| [ff.folding.name, ff.folding.id]}, @line_item_promotion.folding), {:prompt => "Seleziona la tipologia di piega", :disabled => !@folding}) %>
	</div>
	<% if @banner %>
	<div class="span3">
		<%= label_tag(:eyelet, t(:eyelets)) %>
  		<%= select_tag("line_item_promotion[eyelet]", options_for_select(Spree::EyeletAccessory.all.collect{|ea| [ea.eyelet.name, ea.name]}), {:prompt => "Seleziona la tipologia di occhielli", :disabled => !@banner}) %>
	</div>
	<div class="span3">
		<%= label_tag(:eyelet_accessory, t(:eyelet_accessories)) %>
  		<%= select_tag("line_item_promotion[eyelet_accessory]", options_for_select(Spree::ButtonholeAccessory.disposition_enum), {:prompt => "Seleziona la disposizione degli occhielli", :disabled => !@banner}) %>
	</div>
	<div class="span3">
		<%= label_tag(:eyelet_quantity, t(:eyelet_quantities)) %>
	  	<%= text_field_tag("line_item_promotion[eyelet_quantity]", 1, :min => 1, :disabled => !@banner) %>
	</div>
	<div class="span3">
		<%= label_tag(:buttonhole_accessory, t(:buttonhole_accessories)) %>
	  	<%= select_tag("line_item_promotion[buttonhole_accessory]", options_for_select(Spree::ButtonholeAccessory.disposition_enum), {:prompt => "Seleziona la disposizione delle asole", :disabled => !@banner}) %>
	</div>
	<div class="span3">
		<%= label_tag(:reinforcement_perimeter, t(:reinforcement_perimeter)) %>
	  	<%= select_tag("line_item_promotion[reinforcement_perimeter]", options_for_select([["No", "0"], ["Si", "1"]]), {:prompt => "Seleziona il rinforzo perimetrale", :disabled => !@banner}) %>
	</div>
	<% end %>
	<% if @spiral %>
	<div class="span3">
		<%= label_tag(:spiraling, t(:spiralings)) %>
	  	<%= select_tag("line_item_promotion[spiraling]", options_for_select(Spree::SpiralingQuantity.all.collect{|sq| [sq.color, sq.id]}, @line_item_promotion.spiraling), {:prompt => "Seleziona la spiralatura", :disabled => !@spiral}) %>
	</div>
	<% end %>
	<% if @canvas %>
	<div class="span3">
		<%= label_tag(:frames, t(:frames)) %>
	  	<%= select_tag("line_item_promotion[frame]", options_for_select(Spree::Frame.all.collect{|fr| [fr.name, fr.id]}, @line_item_promotion.frame), {:prompt => "Seleziona il telaio", :disabled => !@canvas}) %>
	</div>
	<div class="span3">
		<%= label_tag(:hanger_accessory, t(:hanger_accessories)) %>
	  	<%= select_tag("line_item_promotion[hanger_accessory]", options_for_select(Spree::HangerAccessory.all.collect{|ha| [ha.hanger.name, ha.id]}, @line_item_promotion.hanger_accessory), {:prompt => "Seleziona l'appendino", :disabled => !@canvas}) %>
	</div>
	<% end %>
	<% if @cover %>
	<legend class="section_promo">Copertina</legend>
	<div class="span3" style="<%= (!@cover) ? "display: none;" : "display: block;" %>">
		<%= label_tag(:paper_cover, t(:paper_cover)) %>
	  	<%= select_tag("line_item_promotion[paper_cover]", options_for_select(@paper_cover, @line_item_promotion.paper_cover), {:prompt => 'Seleziona la carta per la copertina', :disabled => !@cover}) %>
	</div>
	<div class="span3">
		<%= label_tag(:paper_cover_weight, t(:paper_cover_weight)) %>
	  	<%= select_tag("line_item_promotion[paper_cover_weight]", options_for_select([]), {:prompt => 'Seleziona la grammatura per la copertina', :disabled => !@cover}) %>
	</div>
	<div class="span3">
		<%= label_tag(:cover_bw, t(:cover_bw)) %>
	  	<%= select_tag("line_item_promotion[cover_bw]", options_for_select(Spree::OptionType.find_by_name("printer_color").option_values.collect{|ov| [ov.presentation, ov.name]}, @line_item_promotion.cover_bw), {:prompt => 'Seleziona tipo colore copertina', :disabled => !@cover}) %>
	</div>
	<% end %>
	<legend class="section_promo">Finitura & Opzioni</legend>
	<div class="span3" style="<%= (!@plasticization && @cover) ? "display: none;" : "display: block;" %>">
		<%= label_tag(:plasticization, t(:plasticization)) %>
	  		<%= select_tag("line_item_promotion[plasticization]", options_for_select(Spree::Plasticization.plasticization_types_all.collect{|v| [v, v]}, @line_item_promotion.plasticization), {:prompt => 'Seleziona la plastificazione', :disabled => !@plasticization}) %>
	</div>
	<div class="span3" style="<%= (@plasticization && @cover) ? "display: none;" : "display: block;" %>">
		<%= label_tag(:plasticization_option, t(:plasticization)) %>
	  		<%= select_tag("line_item_promotion[plasticization_option]", options_for_select(Spree::Plasticization.plasticization_cover.collect{|ps| [ps, ps]}), {:prompt => 'Seleziona la plastificazione per la copertina', :disabled => !@cover}) %>
	</div>
	<div class="span3" style="<%= (@plasticization && @cover) ? "display: none;" : "display: block;" %>">
		<%= label_tag(:plasticization_finish, t(:plasticization_finish)) %>
	  		<%= select_tag("line_item_promotion[plasticization]", options_for_select(Spree::Plasticization.plasticization_types.collect{|ps| [ps, ps]}), {:prompt => 'Seleziona la finitura per la copertina', :disabled => !@cover}) %>
	</div>
	<div class="span3">
		<%= label_tag(:shipping_date, t(:withdrawal)) %>
	  	<div class="input-append"><%= text_field_tag("line_item_promotion[shipping_date]", (l(@line_item_promotion.shipping_date, :format => "%d/%m/%Y") rescue nil), :class => "date_picker") %><span class="add-on"><i class="icon-calendar"></i></span></div>
	</div>
</div>
<div class="span4">
	<h4 id="title_total">Totale Calcolato</h4>
	<p class="small total"><%= number_to_currency(0) %></p>
	<h4 id="title_options">Configurazioni del prodotto</h4>
	<div class="options"></div>
	<%= link_to("Calcola preventivo", "javascript: preCalculate()", :class => "btn btn-primary btn-large") %>
	<br class="clearer"/><br class="clearer"/>
	<label class="checkbox">
  		<%= f.check_box(:active) %> <%= t(:active) %>
	</label>
	<%= label_tag(:price, t(:offer)) %>
 	<div class="input-append"><%= f.text_field(:price, :value => number_to_currency(@line_item_promotion.price, :unit => '').to_f) %><span class="add-on"><%= raw t(:currency) %></span></div>
	<%= label_tag(:expires_at, t(:expires_at)) %>
	<div class="input-append"><%= f.text_field(:expires_at, :class => "date_picker", :value => (l(@line_item_promotion.expires_at, :format => "%d/%m/%Y") rescue nil)) %><span class="add-on"><i class="icon-calendar"></i></span></div>
	<%= label_tag(:quantity, t(:quantity_promotion)) %>
  	<div class="input-append"><%= f.text_field(:quantity) %><span class="add-on">qt</span></div>
	<label class="checkbox">
  		<%= f.check_box(:unlimited) %> <%= t(:unlimited) %>
	</label>
</div>

<%= javascript_include_tag 'admin/promotions/preventive' %>
