if ($('.loader').length > 0) {
	$('.loader').delay(200).fadeOut('slow', function() {
		$("#promotion").html("<%= escape_javascript(render :partial => 'new') %>");
		$('.date_picker').datepicker({ dateFormat: "dd/mm/yy" });
	});
} else {
	$("#promotion").html("<%= escape_javascript(render :partial => 'new') %>");
	$('.date_picker').datepicker({ dateFormat: "dd/mm/yy" });
}