$("#intercalation_<%= @intercalation_quantity.name %>").html("<%= escape_javascript(render :partial => 'show',
:locals => {:intercalation_quantity => @intercalation_quantity,:intercalation => @intercalation}) %>");