<%= f.hidden_field(:category, :value => @slideshow_type.category) %>
<div class="control-group">
  <%= f.label(:enable_navigation, t(:enable_navigation), :class => "control-label") %>
  <div class="controls">
    <%= f.check_box(:enable_navigation) %>
  </div>
</div>
<div class="control-group">
  <%= f.label(:enable_pagination, t(:enable_pagination), :class => "control-label") %>
  <div class="controls">
    <%= f.check_box(:enable_pagination) %>
  </div>
</div>
<div class="control-group">
  <%= f.label(:enabled, t(:enabled), :class => "control-label") %>
  <div class="controls">
    <%= f.check_box(:enabled) %>
  </div>
</div>
