<h1><%= t("slideshow_type.new_page") %></h1>
<%= render "spree/shared/error_messages", :target => @slideshow_type %>

<br class="clearer"/>
<ul class="nav nav-pills" id="myTab">
	<li class="active"><a href="#general" data-toggle="tab">Impostazioni Generali</a></li>
	<li><a href="#slide" data-toggle="tab" data-url-tab="<%= @slideshow_type.persisted? ? admin_slideshow_type_slides_path(@slideshow_type) : "javascript: void(0)" %> ">Slide</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="general">
		<%= form_for([:admin, @slideshow_type], :html => { :enctype => "multipart/form-data", :class => "well form-horizontal clearfix" }) do |f| %>
			<legend><%= t(:details) %></legend>
			<%= render :partial => "form", :locals => { :f => f } %>
			<%= render :partial => 'spree/admin/shared/new_resource_links' %>
		<% end %>
	</div>
	<div class="tab-pane" id="slide">
		<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
	</div>
</div>