<div data-hook="admin_products_sidebar" class="search span4">
	<%= search_form_for([:admin, @search], :html => {:class => "well"}) do |f| %>
		<legend><%= t(:search) %></legend>
		<%= f.label :name_cont, t(:name) %>
		<div class="input-append"><%= f.text_field :name_cont, :size => 25 %><span class="add-on"><i class="icon-search"></i></span></div>
		<%= submit_tag(t(:search), :class => "btn btn-primary") %>
		<%= link_to("Reset", admin_products_path, :class => "btn btn-inverse") %>
	<% end %>
</div>

<div class="span10 content-box">
	<p>&Egrave; possibilie effettuare delle ricerche sui prodotti tramite la form a lato.</p>
	<h5>Stato Prodotti</h5>
	<strong>ATTIVI</strong><span class="pull-right"><%= @completed %>%</span>
	<div class="progress progress-info active">
		<div class="bar" style="width: <%= @completed %>%;"></div>
	</div>
	<strong>TOTALE PROMOZIONI</strong><span class="pull-right"><%= @all_promo %></span><br class="clearer"/>
	<strong>PROMOZIONI ATTIVE</strong><span class="pull-right"><%= @promop %>%</span>
	<div class="progress progress-info active">
		<div class="bar" style="width: <%= @promop %>%;"></div>
	</div>
</div>