<div class="fields span15">
	<div class="span4">
		<%= label_tag(:hangers, t(:hangers)) %>
	 	<%= f.select(:option_value_id, Spree::Hanger.all.collect{|e| [e.name, e.id]}, :include_blank => true) %>
	</div>
	<div class="span4">
		<%= label_tag(:available_meter, t(:available_meter_hangers)) %>
		<div class="input-append"><%= f.text_field(:available_meter) %><span class="add-on">cm</span></div>
	</div>
	<div class="span3" style="padding-top: 28px;">
		<%= link_to_confirm_remove_fields("Rimuovi Appendino", f) %>
	</div>
</div>
<br class="clearer"/>
