<h1>Creato</h1>
<p>
  Finitura: <%= @product.business_card_variants.last.finish_option_values.presentation %> <br/>
  Plastificazione solo un lato lucido: <%=  @product.business_card_variants.last.plastification_one_sided_glossy.presentation %> <br/>
  Plastificazione solo un lato opaco: <%=  @product.business_card_variants.last.plastification_single_sided_matte_option_values.presentation %> <br/>
</p>

