<div class="row">
	<div class="span16">
		<h2><%= @product.name %></h2>
		<p>In questa pagina puoi gestire i costi della stampa dei Canvas</p>
		<br class="clearer"/>
		
		<ul class="nav nav-pills" id="myTab">
			<li class="active"><a href="#details" data-toggle="tab"><%= t(:details) %></a></li>
			<li><a href="#images" data-toggle="tab" data-url-tab="<%= admin_product_images_url(@product) %>"><%= t(:image) %></a></li>
			<li><a href="#template" data-toggle="tab" data-url-tab="<%= new_variant_admin_templates_path(@variant) %>">Template</a></li>
			<% if false %>
			<li><a href="#promotion" data-toggle="tab" data-url-tab="<%= admin_products_line_item_promotions_path(@product) %>"><%= t(:promotions) %></a></li>
			<% end %>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="details">
				<%= form_for(@product, :as => :canvas_product, :url => admin_canvases_update_path(@product), :method => :put, :html => {:multipart => true, :class => "well"}) do |f| %>
					<legend><%= t(:details) %></legend>
					<div class="span7">
						<%= content_tag(:label, t(:name)) %>
						<%= f.text_field :name, :maxlength=> 28, :style => "width: 430px" %>
						<%= content_tag(:label, t(:description)) %>
						<%= f.cktext_area :description, :style => "width: 430px; height: 300px;" %><br/>
						<%= content_tag(:label, t(:description2)) %>
						<%= f.cktext_area :description2, :style => "width: 430px; height: 300px;" %>
					</div>
					<div class="span7">
						<%= content_tag(:label, t(:marginality)) %>
						<div class="input-append"><%= f.text_field :marginality, :style => "width: 260px" %><span class="add-on">%</span></div>
						<%= content_tag(:label, t(:number_of_copies)) %>
						<div class="input-append"><%= f.text_field :number_of_copies, :style => "width: 260px" %><span class="add-on"><%= link_to("<i class='icon-question-sign'></i>".html_safe, "#", :data => {:content=>t("help.number_of_copies").html_safe, :title => t("help.title")}, :rel =>"popover-right") %></span></div>
						<%= content_tag(:label, t(:min_number_of_copies)) %>
						<div class="input-append"><%= f.text_field :min_number_of_copies, :style => "width: 260px" %><span class="add-on"><%= link_to("<i class='icon-question-sign'></i>".html_safe, "#", :data => {:content=>t("help.min_number_of_copies").html_safe, :title => t("help.title")}, :rel =>"popover-right") %></span></div>
						<div class="control-group">
							<%= label_tag(:taxon, t(:taxon), :class => "control-label") %>
							<div class="controls input-append">
								<%= f.select(:taxon_ids, Spree::Taxon.all.collect{|t| [t.name, t.id]}) %>
							</div>
						</div>
						<div class="box-seo">
							<h2>Informazioni SEO <span style="font-size: 12px;">(per migliorare il posizionamento)</span></h2>
							<label class="clearer"><%= t(:seo_title) %></label>
							<%= f.text_field(:seo_title, :id => "seo-title") %>
							<label class="clearer"><%= t(:meta_description) %></label>
							<%= f.text_field(:meta_description, :id => "meta-description") %>
							<label class="clearer"><%= t(:meta_keywords) %></label>
							<%= f.text_field(:meta_keywords, :id => "meta-keywords", :style => "width: 418px;") %>
						</div>
					</div>
					<br class="clearer"/>
					<div class="span7">
						<%= content_tag(:label, t(:material)) %>
						<%= select("canvas_product[canvas_variant_attributes]", :papers, options_for_select(Spree::CoilValue.all.map { |p| [p.name, p.id] }, @variant.papers.nil? ? nil : @variant.papers.map { |v| v.id }), {}, :multiple => true, :class => "chosen") %>
						<%= content_tag(:label, t(:printer_machine)) %>
						<%= select("canvas_product[canvas_variant_attributes]", :plotter, options_for_select(Spree::Plotter.all.map { |p| [p.presentation, p.id] }, @variant.plotter.nil? ? nil : @variant.plotter.id)) %>
						<%= content_tag(:label, t(:frames)) %>
						<%= select("canvas_product[canvas_variant_attributes]", :frames, options_for_select(Spree::Frame.all.map {|fr| [fr.name, fr.id]}, @variant.frames.nil? ? nil : @variant.frames.map {|fr| fr.id }), {}, :multiple => true, :class => "chosen") %>
					</div>
					<div class="span7">
						<%= content_tag(:label, t(:max_width)) %>
						<div class="input-append"><%= f.text_field(:max_width, :value => @product.max_width) %><span class="add-on">cm</span></div>
						<%= content_tag(:label, t(:max_height)) %>
						<div class="input-append"><%= f.text_field(:max_height, :value => @product.max_height) %><span class="add-on">cm</span></div>
						<%= content_tag(:label, t(:incremental)) %>
						<div class="input-append"><%= f.text_field(:incremental, :value => @product.incremental) %><span class="add-on">cm</span></div>
						<%= content_tag(:label, t(:min_dimension)) %>
						<div class="input-append"><%= f.text_field(:min_dimension, :value => @product.min_dimension) %><span class="add-on">cm</span></div>
					</div>
					<br class="clearer"/>
					<hr />
					
					<%= f.fields_for :canvas_variant do |bv| %>
					<!-- Aggiungo i telai e gli appendini -->
					<div class="clearfix">
						<%= bv.fields_for :hanger_accessories do |builder| %>
							<%= render "hanger_accessory_fields", :f => builder %>
						<% end %>
						<p class="small"><%= link_to_add_fields("Aggiungi un nuovo appendino", bv, :hanger_accessories) %></p>
					</div>
					<!-- Aggiungo i telai e gli appendini -->
					<% end %>
					<br class="clearer"/>
					<div class="form-actions right-txt">
						<%= f.submit(t(:update), :class => "btn btn-primary") %>
					</div>
				<% end %>
			</div>
			<div class="tab-pane" id="images">
				<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
			</div>
			<% if false %>
			<div class="tab-pane" id="promotion">
				<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
			</div>
			<% end %>
			<div class="tab-pane" id="template">
				<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
			</div>
		</div>
	</div>
</div>

<%= render :partial => 'spree/admin/shared/footer_links' %>
