<div class="row">
	<div class="span16">
		<h1><%= @product.name %></h1>
		<p>In questa pagina puoi gestire i costi della stampa dei Pvc Adesivi</p>
		<br class="clearer"/>
		
		<ul class="nav nav-pills" id="myTab">
			<li class="active"><a href="#details" data-toggle="tab"><%= t(:details) %></a></li>
			<li><a href="#images" data-toggle="tab" data-url-tab="<%= admin_product_images_url(@product) %>"><%= t(:image) %></a></li>
			<li><a href="#template" data-toggle="tab" data-url-tab="<%= new_variant_admin_templates_path(@variant) %>">Template</a></li>
			<% if false %>
			<li><a href="#promotion" data-toggle="tab" data-url-tab="<%= admin_products_line_item_promotions_path(@product) %>"><%= t(:promotions) %></a></li>
			<% end %>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="details">
				<%= form_for(@product, :as => :pvc_product, :url => admin_pvces_update_path(@product), :method => :put, :html => {:multipart => true, :class => "well"}) do |f| %>
					<legend><%= t(:details) %></legend>
					<div class="span7">
						<%= content_tag(:label, t(:name)) %>
						<%= f.text_field :name, :maxlength=> 28, :style => "width: 430px" %>
						<%= content_tag(:label, t(:description)) %>
						<%= f.cktext_area :description, :style => "width: 430px; height: 300px;" %>
						<%= content_tag(:label, t(:description2)) %>
						<%= f.cktext_area :description2, :style => "width: 430px; height: 300px;" %>
					</div>
					<div class="span7">
						<%= content_tag(:label, t(:marginality)) %>
						<div class="input-append"><%= f.text_field :marginality, :style => "width: 260px" %><span class="add-on">%</span></div>
						<%= content_tag(:label, t(:number_of_copies)) %>
						<div class="input-append"><%= f.text_field :number_of_copies, :style => "width: 260px" %><span class="add-on"><%= link_to("<i class='icon-question-sign'></i>".html_safe, "#", :data => {:content=>t("help.number_of_copies").html_safe, :title => t("help.title")}, :rel =>"popover-right") %></span></div>
						<%= content_tag(:label, t(:min_number_of_copies)) %>
						<div class="input-append"><%= f.text_field :min_number_of_copies, :style => "width: 260px" %><span class="add-on"><%= link_to("<i class='icon-question-sign'></i>".html_safe, "#", :data => {:content=>t("help.min_number_of_copies").html_safe, :title => t("help.title")}, :rel =>"popover-right") %></span></div>
						<div class="control-group">
							<%= label_tag(:taxon, t(:taxon), :class => "control-label") %>
							<div class="controls input-append">
								<%= f.select(:taxon_ids, Spree::Taxon.all.collect{|t| [t.name, t.id]}) %>
							</div>
						</div>
							<br class="clearer"/><br />
							<div class="box-seo">
								<h2>Informazioni SEO <span style="font-size: 12px;">(per migliorare il posizionamento)</span></h2>
								<label class="clearer"><%= t(:seo_title) %></label>
								<%= f.text_field(:seo_title, :id => "seo-title") %>
								<label class="clearer"><%= t(:meta_description) %></label>
								<%= f.text_field(:meta_description, :id => "meta-description") %>
								<label class="clearer"><%= t(:meta_keywords) %></label>
								<%= f.text_field(:meta_keywords, :id => "meta-keywords", :style => "width: 418px;") %>
							</div>
					</div>
					<br class="clearer"/>
					<div class="span7">
						<label class="control-label" for="inputEmail"><%= t(:material) %></label>
						<%= select("pvc_product[pvc_variant_attributes]", :papers, options_for_select(Spree::CoilValue.all.map { |p| [p.name, p.id] }, @variant.papers.nil? ? nil : @variant.papers.map { |v| v.id }), {}, :multiple => true, :class => "chosen") %>
						<label class="control-label" for="inputEmail"><%= t(:printer_machine) %></label>
						<%= select("pvc_product[pvc_variant_attributes]", :plotter, options_for_select(Spree::Plotter.all.map {|p| [p.presentation, p.id] }, @variant.plotter.nil? ? nil : @variant.plotter.id)) %>
					</div>
					<div class="span7">
						<label class="control-label" for="inputEmail"><%= t(:min_width) %></label>
						<div class="input-append"><%= f.text_field(:min_width, :value => @product.min_width) %><span class="add-on">cm</span></div>
						<label class="control-label" for="inputEmail"><%= t(:min_height) %></label>
						<div class="input-append"><%= f.text_field(:min_height, :value => @product.min_height) %><span class="add-on">cm</span></div>
					</div>
					<br class="clearer"/>
					<div class="span7">
						<label class="control-label" for="inputEmail"><%= t(:lamination) %></label>
						<%= select("pvc_product[pvc_variant_attributes]", :laminations, options_for_select(Spree::LaminationType.all.map { |p| [p.name, p.id] }, @variant.laminations.nil? ? nil : @variant.laminations.map { |v| v.id }), {}, :multiple => true, :class => "chosen") %>
					</div>
					<div class="span7">
						<label class="control-label" for="inputEmail"><%= t(:cutting_coil) %></label>
						<%= select("pvc_product[pvc_variant_attributes]", :cutting_coils, options_for_select(Spree::CuttingCoilType.all.map { |p| [p.name, p.id] }, @variant.cutting_coils.nil? ? nil : @variant.cutting_coils.map { |v| v.id }), {}, :multiple => true, :class => "chosen") %>
					</div>
					<br class="clearer"/>
					<div class="form-actions right-txt">
						<%= f.submit(t(:update), :class => "btn btn-primary") %>
					</div>
				<% end %>
			</div>
			<div class="tab-pane" id="images">
				<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
			</div>
			<% if false %>
			<div class="tab-pane" id="promotion">
				<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
			</div>
			<% end %>
			<div class="tab-pane" id="template">
				<div class="loader center"><img src="/assets/admin/ajax-loader.gif"></div>
			</div>
		</div>
	</div>
</div>

<%= render :partial => 'spree/admin/shared/footer_links' %>
