// Place all the styles related to the spree/admin/cut controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
label.error {
  color: red;
  float: right;
}

#cut{
  width: 550px;
}
