#printers .left {
    float: left;
    margin-right: 20px;
    width: 300px;
}

#printers span.bold {
    font-weight: bold;
}

#printers fieldset {
    width: 650px;
}

#printers .name {
    padding: 20px 0;
}

#printer_printer_formats_available {
    width: 171px;
}

.name{
     margin-bottom: 30px;
}