<div data-hook="admin_mail_method_form_fields">
	<div class="span5" data-hook="general">
		<legend><%= t(:general) %></legend>
		<%= hidden_field(:mail_method, :environment, :value => (Rails.env.production? ? "production" : "development")) %>
		<label class="ckeckbox">
			<%= f.check_box :preferred_enable_mail_delivery, {:style => "vertical-align:middle;"} %> <%= t(:enable_mail_delivery) %>
		</label>

		<%= f.label :preferred_mails_from, t(:send_mails_as) %>
		<%= f.text_field :preferred_mails_from, :size => 40, :maxlength => 256 %>
		<br />
		<span class="info"><%= t(:smtp_send_all_emails_as_from_following_address) %></span>
		<br class="clearer"/><br />
		
		<%= f.label :preferred_mail_bcc, t(:send_copy_of_all_mails_to) %>
		<%= f.text_field :preferred_mail_bcc, :size => 40, :maxlength => 256 %>
		<br />
		<span class="info"><%= t(:smtp_send_copy_to_this_addresses) %></span>
		<br class="clearer"/><br />

		<%= f.label :preferred_intercept_email, t(:intercept_email_address) %>
		<%= f.text_field :preferred_intercept_email, :size => 40, :maxlength => 256 %>
		<br />
		<span class="info"><%= t(:intercept_email_instructions) %></span>
	</div>
	<div class="span9" data-hook="smtp">
		<legend><%= t(:smtp) %></legend>
		<div class="span4">
			<%= f.label :preferred_mail_domain, t(:smtp_domain) %>
			<%= f.text_field :preferred_mail_domain %>
			
			<%= f.label :preferred_mail_host, t(:smtp_mail_host) %>
			<%= f.text_field :preferred_mail_host %>
			
			<%= f.label :preferred_mail_port, t(:smtp_port) %>
			<%= f.text_field :preferred_mail_port %>
			
			<%= f.label :preferred_secure_connection_type, t(:secure_connection_type) %>
			<%= f.collection_select(:preferred_secure_connection_type,
			Spree::MailMethod::SECURE_CONNECTION_TYPES,
			:to_s, :to_s,
			{}, {'style' => 'width:200px'}) %>
		</div>
		<div class="span4">
			<%= f.label :preferred_mail_auth_type, t(:smtp_authentication_type) %>
			<%= f.collection_select(:preferred_mail_auth_type,
				Spree::MailMethod::MAIL_AUTH,
				:to_s, :to_s,
				{}, {'style' => 'width:200px'}) %>
			
			<%= f.label :preferred_smtp_username, t(:smtp_username) %>
			<%= f.text_field :preferred_smtp_username %>
			
			<%= f.label :preferred_smtp_password, t(:smtp_password) %>
			<%= f.password_field :preferred_smtp_password %>
		</div>
		</div>
	</div>
</div>
