<div class="row">
	<div class="span16">
		<h2><%= t(:new_mail_method) %></h2>
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @mail_method } %>

		<%= form_for([:admin, @mail_method], :html => {:class => "well form-horizontal clearfix"}) do |f| %>
		  	<%= render :partial => 'form', :locals => { :f => f } %>
		  	<div class="form-actions clearer right-txt" data-hook="buttons">
				<%= f.submit(t(:create), :class => "btn btn-primary") %>
				<%= link_to(t(:back), admin_mail_methods_path(), :class => "btn btn-inverse") %>
			</div>
		<% end %>
	</div>
</div>