<div class="span7">
	<%= label_tag(:name, t(:name)) %>
	<%= f.text_field :name %>
	
	<%= label_tag(:days, t(:days)) %>
	<%= f.text_field :days %>
</div>
<div class="span7">
	<%= label_tag(:preferred_amount, t(:percent)) %>
	<div class="input-append"><%= f.text_field :preferred_amount %><span class="add-on">%</span></div>
	
	<%= label_tag(:product_id, t(:product)) %>
  	<%= select :shipping_date_adjustment, :product_id, Spree::Product.exclude_cover.all.collect {|p| [ "#{p.name}", p.id ] } %>
</div>