<div class="row">
	<div class="span16">
		<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @shipping_date_adjustment } %>
		<h2><%= t(:edit) %> <%= t(:shipping_date_adjustment) %></h2>
		<br />
		<%= form_for([:admin, @shipping_date_adjustment], :html  => {:class => "well"}) do |f| %>
		    <%= f.hidden_field(:id) %>
		    <%= render :partial => 'form', :locals => {:f => f} %>
		    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
		<% end %>
	</div>
</div>
