<div class="row">
	<div class="span16">
		<h2><%= t(:shipping_date_adjustments) %></h2>
		<p>In questa pagina puoi gestire le tipologie di sconto per prodotto a seconda della data di ritiro</p>
	</div>
	
	<div class="span7 well">
		<%= link_to("#{t(:new_shipping_date_adjustment)} <i class='icon-plus icon-white'></i>".html_safe, spree.new_admin_shipping_date_adjustment_path, :class => 'btn btn-primary') %>
	</div>
	<div class="span8 content-box">
		
	</div>
	<br class="clearer"/><br />
	
	<div class="span16">
		<table class="table table-condensed table-bordered" data-hook>
			<thead>
		  		<tr class="info">
		    		<th><%= t(:name) %></th>
					<th><%= t(:days) %></th>
					<th><%= t(:product) %></th>
					<th><%= t(:percent) %></th>
					<th></th>
		  		</tr>
			</thead>
			<tbody>
			<% @collection.each do |sda| %>
				<tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id sda %>">
					<td><%= sda.name %></td>
					<td><%= sda.days %></td>
					<td><%= sda.product.name %></td>
					<td><%= sda.preferred_amount %> % </td>
					<td class="actions">
						<%= link_to_edit(sda, {:class => "btn btn-primary"}) %>
						<%= link_to_delete(sda) %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<%= paginate(@collection, :theme => "twitter-bootstrap") %>
	</div>
</div>
