<h4><%= t(:edit_simple_attribute) %></h4>
<br class="clearer"/>
<%= form_for([:admin, @product, @attribute], :html => {:multipart => true, :class => "well form-inline clearfix"}, :remote => true) do |f| %>
	<%= render :partial => "form", :locals => {:f => f} %>
	<div class="form-actions clearer right-txt" data-hook="buttons">
		<%= f.submit(t(:create), :class => "btn btn-primary") %>
		<%= link_to t(:back), admin_advanced_product_simple_attributes_path(@product), :class => 'btn btn-inverse', :remote => true %>
	  </div>
<% end %>