<div class="well">
	<h5><%= t(:options_list) %></h5>
	<p class="small">In questa pagina puoi gestire le opzioni del prodotto</p>
	<%= link_to("#{t(:new_option)} <i class='icon-plus icon-white'></i>".html_safe, new_admin_advanced_product_simple_attribute_path(@product), :class => "btn btn-primary", :remote => true, :rel => "tab") %>
</div>

<table class="table table-condensed table-bordered">
	<thead>
		<tr data-hook="formats_header" class="info">
			<th><%= t(:name) %></th>
			<th><%= t(:values) %></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @collection.each do |sa| %>
		<tr data-hook="formats_row" id="<%= spree_dom_id sa %>">
			<td><%= sa.name %></td>
			<td><%= sa.simple_values.any? ? sa.simple_values.collect{|sv| content_tag(:span, sv.presentation, :class => "label label-inverse")}.join(" ").html_safe : content_tag(:p, "Attenzione devono essere inserti dei valori per poter configurare un nuovo formato per il prodotto avanzato", :class => "alert alert-danger") %></td>
			<td class="actions">
				<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, edit_admin_advanced_product_simple_attribute_path(@product, sa), :class => 'btn btn-primary', :remote => true, :rel => "tab") %>
				<%= link_to("#{t(:delete)} <i class='icon-remove icon-white'></i>".html_safe, admin_advanced_product_simple_attribute_path(@product, sa), :data => {:confirm => t(:are_you_sure)}, :class => 'btn btn-danger', :remote => true, :method => :delete, :rel => "tab") %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
