if ($('.loader').length > 0) {
	$('.loader').delay(200).fadeOut('slow', function() {
		$("#options").html("<%= escape_javascript(render :partial => 'edit') %>");
	});
} else {
	$("#options").html("<%= escape_javascript(render :partial => 'edit') %>");
}

<%= alert_js(@attribute) %>
