<div class="span7">
	<%= f.fields_for :template do |t| %>
		<label class="control-label">Template</label>
		<%= t.file_field(:attachment) %>
	<% end %>
</div>
<div class="span7">
	<% if @product.template.attachment? %>
	<label class="control-label">Template Caricato</label>
	<%= link_to(@product.template.attachment_file_name, @product.template.attachment.url) %>
	<%= link_to("Elimina", admin_delete_template_business_card_path(@product), :class => "btn btn-danger btn-small") %>
	<% end %>
</div>
