<%= hidden_field_tag "variant_id", @variant.id %>
<%= hidden_field_tag "product_id", @product.id %>

<ul class="nav nav-tabs" id="formatTab">
	<li class="active"><a href="#variant_format" data-toggle="tab">Configurazione Formato</a></li>
</ul>
<div class="tab-content" style="height: 530px;">
	
	<!-- Configurate Variant -->
	<div class="tab-pane active clearfix" id="variant_format">
		<div class="span3">
			<%= content_tag(:label, t(:material)) %>
			<%= select("sticker_variant", :papers, options_for_select(Spree::CoilValue.all.map { |rs| [rs.name, rs.id] }, @variant.papers.nil? ? nil : @variant.papers.map { |v| v.id }), {}, :multiple => true, :class => "chosen") %>
		</div>
		<div class="span3">	
			<%= content_tag(:label, t(:printer_machine)) %>
			<%= select("sticker_variant", :plotter, options_for_select(Spree::Plotter.all.map { |p| [p.presentation, p.id] }, @variant.plotter.nil? ? nil : @variant.plotter.id)) %>
		</div>
		<div class="span3">
			<%= content_tag(:label, t(:cutting_coil)) %>
			<%= select("sticker_variant", :cutting_coils, options_for_select(Spree::CuttingCoilType.all.map { |cc| [cc.name, cc.id] }, @variant.cutting_coils.nil? ? nil : @variant.cutting_coils.map { |v| v.id }), {}, :multiple => true, :class => "chosen") %>
		</div>
		<br class="clearer"/><br />
		<div class="clearfix span15">
			<legend>Lavorazioni</legend>
			<%= f.fields_for :processing_plotter_combinations do |builder| %>
				<%= render "processing_plotter_combination_fields", :f => builder %>
			<% end %>
			<p class="small"><%= link_to_add_fields_with_limit("Aggiungi un nuova lavorazione", f, 5, :processing_plotter_combinations) %></p>
		</div>
		<br class="clearer"/><br />
	</div>
	<!-- Configurate Variant -->	
</div>

<script>
	$(function () { count_for_hide_and_show(5); });
</script>