<div class="well">
	<h5><%= t(:configurations) %></h5>
	<p class="small">In questa pagina puoi gestire le configurazioni del prodotto</p>
	<%= link_to("#{t("printtogo.new_configuration")} <i class='icon-plus icon-white'></i>".html_safe, admin_new_sticker_variants_path(@product), :class => "btn btn-primary", :remote => true, :rel => "tab") %>
</div>

<table class="table table-condensed table-bordered">
	<thead>
		<tr data-hook="formats_header" class="info">
			<th><%= t(:format) %></th>
			<th><%= t(:data) %></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @variants.each do |v| %>
		<tr data-hook="formats_row">
			<td>Materiali: <%= v.papers.collect {|p| content_tag(:label, p.name, :class => "label label-inverse")}.join(" ").html_safe rescue "nessuna configurazione" %> Stampante: <%= content_tag(:label, (v.plotter.presentation rescue "nessuna configurazione"), :class => "label label-inverse").html_safe  %><!-- Lavorazione Plotter: <%#= v.processing_plotters.collect {|l| content_tag(:label, l.name, :class => "label label-inverse")}.join(" ").html_safe rescue "nussuna configurazione" %>
				Plastificazione: <%#= v.laminations.collect {|l| content_tag(:label, l.name, :class => "label label-inverse")}.join(" ").html_safe rescue "nussuna configurazione" %> Taglio: <%#=  v.cutting_coils.collect {|cc| content_tag(:label, cc.name, :class => "label label-inverse")}.join(" ").html_safe rescue "nessuna configurazione" %> Occhielli: <%#=  v.eyelet_accessories.collect {|ea| content_tag(:label, ea.eyelet.name, :class => "label label-inverse")}.join(" ").html_safe rescue "nessuna configurazione" %>-->
			</td>
			<td class="actions">
				<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, admin_edit_sticker_variant_path(@product, v.id), :class => 'btn btn-primary', :remote => true, :rel => "tab") %>
				<%= link_to("#{t(:delete)} <i class='icon-remove icon-white'></i>".html_safe, admin_delete_sticker_variant_path(@product, v.id), :data => {:confirm => t(:are_you_sure)}, :class => 'btn btn-danger', :remote => true, :rel => "tab") %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
