<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<div id="content">
	<div class="content-box-title-no-bc">
		<h2><%= t(:editing_user) %></h2>
	</div>
	<%= form_for(@user, :url => spree.user_path(@user), :html => {:id => 'edit-form' }, :method => :put) do |f| %>
		<div class="black-header"><span><%= t(:edit_user_account) %> </span></div>
		<%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
		<p class="form-buttons">
			<%= f.submit t(:update) %>
		</p>
	<% end %>
</div>