<div id="content">
  <div class="border">
    <div class="content-box-title-no-bc">
      <h2><%= accurate_title %></h2>
    </div>


    <div data-hook="account_summary">
      <div class="black-header">
        <span><%= t(:user_info) %> </span>
      </div>

      <dl id="user-info">
        <dt class="black"><%= t(:email) %></dt>
        <dd class="black"><%= @user.email %> <%= link_to("(#{t(:edit)})", spree.edit_account_path, :class => "right sky") %></dd>
      </dl>
    </div>

    <div data-hook="account_my_orders">
      <div class="black-header">
        <span><%= t(:my_orders) %> </span>
      </div>

      <% if @orders.present? %>
          <table class="order-summary">
            <thead>
            <tr>
              <th><%= t(:order_number) %></th>
              <th><%= t(:order_date) %></th>
              <th><%= t(:status) %></th>
              <th><%= t(:payment_state) %></th>
              <th><%= t(:shipment_state) %></th>
              <th><%= t(:total) %></th>
            </tr>
            </thead>
            <tbody>
            <% @orders.each do |order| %>
                <tr class="<%= cycle('even', 'odd') %>">
                  <td><%= link_to order.number, order_url(order) %></td>
                  <td><%= l order.completed_at.to_date %></td>
                  <td><%= t(order.state).titleize %></td>
                  <td><%= t("payment_states.#{order.payment_state}") if order.payment_state %></td>
                  <td><%= t("shipment_states.#{order.shipment_state}") if order.shipment_state %></td>
                  <td><%= number_to_currency order.total %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% else %>
          <p><%= t(:you_have_no_orders_yet) %></p>
      <% end %>
      <br/>
    </div>
  </div>
</div>