<h2><%= t(:edit) %> <%= t(:banner) %></h2>
<br />
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @banner } %>
<%= form_for([:admin, @banner], :url => {:action => :update}, :html => {:class => "well form-horizontal clearfix"}) do |f| %>
	<%=  render :partial => 'form', :locals => {:f => f} %>
	<div class="form-actions clearer right-txt">
		<%= f.submit(t(:update), :class => "btn btn-primary") %>
      	<%= link_to(t(:back), admin_banners_path, :class => "btn btn-inverse") %>
    </div>
<% end %>