<fieldset id="calculator_fields" data-hook>
	<legend><%= t(:calculator) %></legend>
	<div id="preference-settings" data-hook>
		<p>
			<%= f.label(:calculator_type, t(:calculator), :for => 'calc_type') %>
			<%= f.select(:calculator_type, @calculators.select{|c| c.name == "Spree::Calculator::FlatRate"}.map { |c| [c.description, c.name] }, {}, :id => 'calc_type') %>
		</p>
		<% if @object.calculator.respond_to?(:preferences) %>
		<p class="calculator-settings-warning"><%= t(:calculator_settings_warning_save) %></p>
		<% end %>
		<% if !@object.new_record? %>
		<div class="calculator-settings">
			<%= f.fields_for :calculator do |calculator_form| %>
			<%= preference_fields(@object.calculator, calculator_form) %>
			<% end %>
		</div>
		<% end %>
	</div>
</fieldset>