<tr>
	<td><%= image_tag("admin/icons2/group.png", :width => 120) %></td>
	<td>
		<h2><%= t("social_authentication_methods") %></h2>
		<p><%= t("social_authentication_methods_description") %></p>
	</td>
	<td class="actions" style="width: 20%">
		<div style="margin: 20px auto">
			<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, admin_authentication_methods_path(), :class => "btn btn-large btn-primary") %>
		</div>
	</td>
</tr>