<%= content_for :footer do %>
	<div class="span5">
		<h2>Gestisci Tipi di carta</h2>
		<p>Configura i tipi di carta utilizzati impostando per ogni formato le grammature disponibili </p>
		<p><%= link_to("vai alla gestione <i class='icon-share-alt'></i>".html_safe, admin_paper_types_url(), :class => "btn") %></p>
	</div>
	<div class="span5">
		<h2>Gestisci le stampanti</h2>
		<p>Configura le stampanti disponibili impostando Nome della stampante, tipo Digitale o Offset, Formato di stampa minimo e massimo, Costi di stampa in B/N e Costi di stampa a Colori </p>
		<p><%= link_to("vai alla gestione <i class='icon-share-alt'></i>".html_safe, admin_printers_url(), :class => "btn") %></p>
	</div>
	<div class="span5">
		<h2>Gestisci i plotter</h2>
		<p>Configura i plotter disponibili impostando: Nome del plotter, Costo orario, Tempo di Avviamento, Costo di Avviamento, Costo di stampa in B/N e Costo di stampa a Colori</p>
		<p><%= link_to("vai alla gestione <i class='icon-share-alt'></i>".html_safe, admin_plotters_url(), :class => "btn") %></p>
	</div>
<% end %>