<tr data-hook="icon">
  <td><%= f.label :icon, t(:icon) %></td>
  <td><%= f.file_field  :icon, {'style' => 'width:200px;'} %></td>
</tr>
<tr>
  <td> Preview</td>
  <td> <%= image_tag @payment_method.icon.url %> </td>
</tr>