<div class="form-actions clearer right-txt" data-hook="buttons">
	<%= submit_tag(t('actions.create'), :class => "btn btn-primary") %>
	<%= link_to(t(:back), collection_url(), :class => "btn btn-inverse") %>
</div>