<% unless @order.completed? %>
<ul class="nav nav-pills" id="myTab">
	<% if action_name != "show" %>
	<li class="active"><a href="#details" data-toggle="tab"><%= t(:order_details) %></a></li>
	<li><a href="#customer" data-toggle="tab" data-url-tab="<%= admin_order_customer_url(@order) %>"><%= t(:customer_details) %></a></li>
	<li><a href="#shipment" data-toggle="tab" data-url-tab="<%= edit_admin_order_shipment_url(@order, @order.shipment) %>"><%= t(:shipment) %></a></li>
	<li><a href="#adjustments" data-toggle="tab" data-url-tab="<%= admin_order_adjustments_url(@order) %>"><%= t(:adjustments) %></a></li>
	<li><a href="#payment" data-toggle="tab" data-url-tab="<%= new_admin_order_payment_url(@order) %>"><%= t(:payment) %></a></li>
	<% else %>
	<li class="active"><a href="#details" data-toggle="tab"><%= t(:order_details) %></a></li>
	<li><a href="#shipment" data-toggle="tab" data-url-tab="<%= admin_order_shipments_url(@order, @order.shipment) %>"><%= t(:shipment) %></a></li>
	<li><a href="#adjustments" data-toggle="tab" data-url-tab="<%= admin_order_adjustments_url(@order) %>"><%= t(:adjustments) %></a></li>
	<li><a href="#payment" data-toggle="tab" data-url-tab="<%= admin_order_payments_url(@order) %>"><%= t(:payment) %></a></li>
	<% end %>
</ul>
<% else %>
<ul class="nav nav-pills" id="myTab">
	<li class="active"><a href="#details" data-toggle="tab"><%= t(:order_details) %></a></li>
	<% if action_name != "show" %>
	<li><a href="#customer" data-toggle="tab" data-url-tab="<%= admin_order_customer_url(@order) %>"><%= t(:customer_details) %></a></li>
	<% end %>
	<li><a href="#adjustments" data-toggle="tab" data-url-tab="<%= admin_order_adjustments_url(@order) %>"><%= t(:adjustments) %></a></li>
	<li><a href="#payment" data-toggle="tab" data-url-tab="<%= admin_order_payments_url(@order) %>"><%= t(:payment) %></a></li>
	<li><a href="#shipment" data-toggle="tab" data-url-tab="<%= admin_order_shipments_url(@order) %>"><%= t(:shipment) %></a></li>
	<!--<li><a href="#return_authorizations" data-toggle="tab" data-url-tab="<%= admin_order_return_authorizations_url(@order) %> %>"><%= t(:return_authorizations) %></a></li>
	<li><a href="#history" data-toggle="tab" data-url-tab="<%= history_admin_order_url(@order) %>"><%= t(:history) %></a></li>-->
</ul>
<% end %>
