<table class="index table table-hover table-condensed table-bordered" data-hook="order_details">
	<thead>
		<tr data-hook="order_details_line_items_headers" class="info">
	      <th style="width: 680px"><%= t(:item_description) %></th>
		  <th class="qty"><%= t(:linked_file) %></th>
	      <th class="qty"><%= t(:qty) %></th>
	      <th class="total"><span><%= t(:total) %></span></th>
	    </tr>
	</thead>
  <tbody id="line-items" data-hook>
    <% @order.line_items.each do |item| %>
      <tr data-hook="order_details_line_item_row">
        <td>
			<% unless (item.process_name.blank?) %>
			<%= "Nome lavorazione: #{item.process_name}" %><br />
			<% end %>
			<%= "#{t(:product)}: #{item.variant.product.name}" %><br />
			<%= "#{t(:format)}: #{item.format}" %><br />
			<% if item.option_for_advanced %>
				<%= item.option_for_advanced %>
			<% end %>
			<%= "#{t(:orientation)}: #{item.orientation}<br />".html_safe if item.orientation %>
			<%= "#{t(:eyelet)}: #{item.eyelet}<br />".html_safe if item.eyelet %>
			<%= "#{t(:eyelet_accessory_disposition)}: #{item.eyelet_accessory_disposition}<br />".html_safe if item.eyelet_accessory_disposition %>
			<%= "#{t(:eyelet_accessory_quantity)}: #{item.eyelet_accessory_quantity}<br />".html_safe if item.eyelet_accessory_quantity %>
			<%= "#{t(:fold_type)}: #{(item.folding.class == String) ? item.folding : item.folding.folding.name rescue "Nessun tipo di piegha"}<br />".html_safe if item.folding %>
			<%= "#{t(:sleeve)}: #{(item.sleeve.class == String) ? item.sleeve : item.sleeve.presentation rescue "Nessun Tipo Copertina"}<br />".html_safe if item.sleeve %>
			<%= "#{t(:frame)}: #{item.frame.name}<br />".html_safe if item.frame %>
			<%= "#{t(:sided)}: #{item.sided}<br /> ".html_safe if item.sided %>
			<%= "#{t(:number_of_facades)}: #{(item.number_of_facades.class == String) ? item.number_of_facades : item.number_of_facades.presentation rescue "Nessuna numero di facciate"}<br />".html_safe if item.number_of_facades %>
			<%= "#{t(:printing_instructions)}: #{item.printing_instructions}<br />".html_safe if item.printing_instructions %>
			<%= "#{t(:paper)}: #{item.paper}" %><br />
			<%= "#{t(:paper_weight_product)}: #{item.paper_weight.to_i} gr" %><br />
			<%= "#{t(:plasticization)}: #{item.plasticization}<br />".html_safe if (item.plasticization && item.plasticization != "Nessuna") %>
			<%= "#{t(:lamination)}: #{item.plasticization}<br />".html_safe if (item.lamination && item.lamination != "Nessuna") %>
			<%= "#{t(:print_type)}: #{item.print_color}" %><br />
			<%= "#{t(:processing_plotter)}: #{item.processing_plotter}<br />".html_safe if item.processing_plotter %>
			<%= "#{t(:cutting_coil)}: #{item.cutting_coil}<br />".html_safe if item.cutting_coil && item.cutting_coil != "Nessuna" %>
			<%= "#{t(:orientation_coil)}: #{item.orientation_coil}<br />".html_safe if item.orientation_coil %>
			<%= "#{t(:number_of_stickers)}: #{item.number_of_stickers}<br />".html_safe if item.number_of_stickers %>
			<%= "#{t(:cover_paper)}: #{item.cover_paper}<br />".html_safe if item.cover_paper %>
			<%= "#{t(:cover_weight)}: #{item.cover_paper_weight.to_i} gr<br />".html_safe if item.cover_paper_weight %>
			<%= "#{t(:cover_print_color)}: #{item.cover_print_color.presentation.capitalize}".html_safe if item.cover_print_color %>
			<br /><br />NOTE: <%= item.notes %>
		</td>
		<td class="attachment" style="vertical-align: middle; text-align: center;"><%= link_to("Scarica allegato", item.file_attachment.url, :class => "btn btn-info", :target => "_blank") if item.file_attachment.exists? %></td>
        <td class="qty"><%= item.number_of_copy %></td>
        <td class="total"><span><%= number_to_currency(item.price) %></span></td>
      </tr>
    <% end %>
  </tbody>
  <tbody id="order-charges" data-hook="order_details_adjustments">
    <% @order.adjustments.eligible.each do |adjustment| %>
    <% next if (adjustment.originator_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
      <tr class="total">
        <td colspan="3" class="info"><strong><%= adjustment.label %></strong></td>
        <td class="total"><span><%= number_to_currency adjustment.amount %></span></td>
      </tr>
    <% end %>
  </tbody>
  <tbody id="subtotal" data-hook="order_details_subtotal">
    <tr class="total" id="subtotal-row">
      <td colspan="3" class="info"><b><%= t(:subtotal) %>:</b></td>
      <td class="total"><span><%= number_to_currency(@order.price_without_vat + @order.presentation_pack.price) if @show_only_completed %></span></td>
    </tr>
  </tbody>
  <% if order.price_adjustment_totals.present? %>
    <tbody id="price-adjustments" data-hook="order_details_price_adjustments">
      <% @order.price_adjustment_totals.keys.each do |key| %>
        <tr class="total">
          <td colspan="3" class="info"><strong><%= key %></strong></td>
          <td class="total"><span><%= number_to_currency @order.price_adjustment_totals[key] %></span></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
	<tbody id="order-total" data-hook="order_details_total">
	    <tr class="total">
	      <td colspan="3" class="info"><b><%= t(:order_total) %>:</b></td>
	      <td class="total"><span id="order_total"><%= number_to_currency @order.total %></span></td>
	    </tr>
	  </tbody>
</table>