<tr>
	<td><%= image_tag("admin/icons2/pictures_folder.png", :width => 120) %></td>
	<td>
		<h2><%= t(:slide_settings) %></h2>
		<p><%= t(:slide_settings_description) %></p>
	</td>
	<td class="actions" style="width: 20%">
		<div style="margin: 20px auto">
			<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, edit_admin_slide_settings_url(), :class => "btn btn-large btn-primary") %>
		</div>
	</td>
</tr>