<tr>
	<td><%= image_tag("admin/icons2/gear.png", :width => 120) %></td>
	<td>
		<h2><%= t("simple_cms.store_settings") %></h2>
		<p><%= t("simple_cms.manage_store_settings") %></p>
	</td>
	<td class="actions" style="width: 20%">
		<div style="margin: 20px auto">
			<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, edit_admin_store_settings_url(), :class => "btn btn-large btn-primary") %>
		</div>
	</td>
</tr>