<%#= tab :overview, :route => :admin %>
<%= tab :orders, :payments, :creditcard_payments, :shipments, :creditcards, :return_authorizations %>
<%= tab(:products, :simple_products, :advanced_products, :label => 'Prodotti', :css_class => 'dropdown', :dropdown => ['products', 'simple_products', 'advanced_products']) %>
<%#= tab :products, :option_types, :properties, :prototypes, :variants, :product_properties, :taxons %>
<%#= tab :reports %>
<%= tab :configurations, :general_settings, :mail_methods, :tax_categories, :zones, :states, :payment_methods, :inventory_settings, :taxonomies, :shipping_methods, :trackers, :label => 'configuration' %>
<%= tab :users %>
