<h4><%= t(:payments) %></h4>
<br class="clearer"/>
<% if false %>
<% if @order.outstanding_balance? %>
<div class="span10 clearfix" data-hook="toolbar">
  <%= link_to("#{t(:new_payment)} <i class='icon-plus icon-white'></i>".html_safe, new_admin_order_payment_url(@order), :id => 'admin_new_order', :class => "btn btn-large btn-primary", :remote => true) %>
</div>
<br class="clearer"/>
<% end %>
<% end %>

<% if @order.outstanding_balance? && false %>
	<br class="clearer"/>
  	<span><%= @order.outstanding_balance < 0 ? t(:credit_owed) : t(:balance_due) %> <strong><%= number_to_currency @order.outstanding_balance %></strong></span>
	<br class="clearer"/>
<% end %>

<%= render :partial => 'list', :locals => { :payments => @payments } %>
