<div class="clearfix">
	<div class="span4">
		<label class="checkbox">
			<%= f.check_box(:active, :value => @folding.active) %> <%= t(:active) %>
		</label>
	</div>
	<div class="span4">
		<label class="checkbox">
			<%= f.check_box(:plastification, :value => @folding.plastification) %>	<%= t(:plastification) %>
		</label>
	</div>
	<div class="span4">
	    <label class="checkbox">
			<%= f.check_box(:external, :value => @folding.external) %> <%= t(:external) %>
		</label>
		<p class="small" style="font-size: 11px; color: #880000;">Occorre salvare per poter visualizzare la modifica</p>
	</div>
</div>
<% if !@folding.external %>
<div id="internal">
	<legend class="small">Costi Orari per le lavorazioni</legend>
	<div class="span3">
		<%= label_tag(:hourly_cost, t(:hourly_cost)) %>
		<%= f.text_field :hourly_cost %>
	</div>
	<div class="span3">
		<%= label_tag(:start_time, t(:start_time)) %>
		<%= f.text_field :start_time %>
	</div>
	<div class="span4" id="average_hourly_plastification">
		<%= label_tag(:average_hourly_plastification, t(:average_hourly_plastification), :class => "left-txt padding-label-left") %>
		<%= f.text_field :average_hourly_plastification %>
	</div>
	<div class="span15">
		<%= f.fields_for :folding_weights do |builder| %>
		<%= render "folding_weight_fields", :f => builder %>
		<% end %>
		<p class="small"><%= link_to_add_fields("Aggiungi una nuova grammatura", f, :folding_weights) %></p>
	</div>
</div>
<% else %>
<div id="external">
	<legend class="small">Costi Orari per le lavorazioni</legend>
	<br class="clearer"/>
	<div class="span3">
		<%= label_tag(:cost_folding, t(:cost_folding)) %>
		<%= f.text_field :cost_folding %>
	</div>
	<div class="control-group span3">
		<%= label_tag(:min_limit_folding, t(:min_limit_folding)) %>
		<%= f.text_field :min_limit_folding %>
	</div>
	<div class="span4" id="copy_cost_plastification" style="display: none;">
	    <%= label_tag(:copy_cost_plastification, t(:copy_cost_plastification)) %>
		<%= f.text_field :copy_cost_plastification %>
	</div>
	<br class="clearer"/>
	<div class="span15">
		<%= f.fields_for :folding_weights do |builder| %>
		<%= render "folding_weight_efields", :f => builder %>
		<% end %>
		<p class="small"><%= link_to_add_efields("Aggiungi una nuova grammatura", f, :folding_weights) %></p>
	</div>
</div>
<% end %>
