<div class="row">
	<div class="span16">
		<h2><%= t(:edit) %> <%= t(:folding) %></h2>
		<%= form_for([:admin, @folding], :url => {:action => :update}, :html => {:class => "well"}) do |f| %>
			<legend><%= @folding.name %></legend>
		    <%=  render :partial => 'form', :locals => {:f => f} %>
		    <div class="form-actions clearer right-txt">
				<%= f.submit(t(:update), :class => "btn btn-primary") %>
		      	<%= link_to(t(:back), admin_foldings_path, :class => "btn btn-inverse") %>
		    </div>
		<% end %>
	</div>
</div>

<%= javascript_tag do %>
	if ($("#folding_plastification").is(":checked")) {
		if ($("#folding_external").is(":checked")) {
			$("#copy_cost_plastification").show();
		} else {
			$("#average_hourly_plastification").show();
		}
	} else {
		if ($("#folding_external").is(":checked")) {
			$("#copy_cost_plastification").hide();
			$("#copy_cost_plastification").find("input").val(0);
		} else {
			$("#average_hourly_plastification").hide();
			$("#average_hourly_plastification").find("input").val(0);
		}
	}
	
	$("#folding_plastification").change(function() {
		if ($(this).is(":checked")) {
			if ($("#folding_external").is(":checked")) {
				$("#copy_cost_plastification").show();
			} else {
				$("#average_hourly_plastification").show();
			}
		} else {
			if ($("#folding_external").is(":checked")) {
				$("#copy_cost_plastification").hide();
				$("#copy_cost_plastification").find("input").val(0);
			} else {
				$("#average_hourly_plastification").hide();
				$("#average_hourly_plastification").find("input").val(0);
			}
		}
	});
	
	
	if ($("#folding_external").is(":checked")) {
		if ($("#folding_plastification").is(":checked")) {
			$("#copy_cost_plastification").show();
		} else {
			$("#copy_cost_plastification").hide();
			$("#copy_cost_plastification").find("input").val(0);
		}
			
	} else {
		if ($("#folding_plastification").is(":checked")) {
			$("#average_hourly_plastification").show();
		} else {
			$("#average_hourly_plastification").hide();
			$("#average_hourly_plastification").find("input").val(0);
		}
	}
	$("#folding_external").change(function() {
		if ($(this).is(":checked")) {
			if ($("#folding_plastification").is(":checked")) {
				$("#copy_cost_plastification").show();
			} else {
				$("#copy_cost_plastification").hide();
				$("#copy_cost_plastification").find("input").val(0);
			}
		} else {
			if ($("#folding_plastification").is(":checked")) {
				$("#average_hourly_plastification").show();
			} else {
				$("#average_hourly_plastification").hide();
				$("#average_hourly_plastification").find("input").val(0);
			}
		}
	});
<% end %>
