<%= form_for :order, {:url => populate_orders_url, :html => {:class => 'buy-form', :id => 'add_advanced_product'}} do |f| %>
	<%= hidden_field_tag(:advanced_product_id, @product.id) %>
	<%= hidden_field_tag(:entity_id) %>

	<h2>Configurazione Prodotto</h2>
	
	<div class="clearfix field_content">
      <label for="order_model">Formato</label>
      <%= select_tag("order[model]", options_for_select(@product.advanced_variants.collect{|av| [av.format, av.id]}, nil), { :include_blank => false }) %>
    </div>
	<div class="clearfix field_content">
      <label for="order[number_of_copy]">Numero di copie</label>
		<% if !@product.number_of_copies.blank? %>
		<%= select("order", "number_of_copy", @product.number_of_copies.split(",").collect { |v| [v, v] }, {:include_blank => false}) %>
		<% else %>
		<%= text_field_tag("order[number_of_copy]", @product.min_number_of_copies, :class => 'required', :min => @product.min_number_of_copies) %>
		<% end %>
    </div>
	
	<%= attribute_variant_print(@product) %>
	
	<% if @product.accept_upload? %>
	<% if Spree::Config[:file_check] %>
		<h2><%= t(:file_check) %></h2>
		<label for="check"><%= t(:file_check) %></label>
		<%= select_tag("order[file_check]", options_for_select([["No", 0], ["Si", 1]])) %>
		<p style="padding: 0px; font-size: 12px; margin-bottom: 10px;" class="clearer"><%= "#{Spree::Config[:file_check_desc] } (#{Spree::Config[:file_check_cost]}&euro;)".html_safe %></p>
	<% end %>
	<% end %>
	
	<h2>Offerte per data</h2>
    <%= render :partial => 'spree/shared/shipping_date_adjustment', :locals => {:product => @product} %>
	
	<% if !Spree::Config[:order_notes].blank? %>
	<div class="note-box">
		<h4>Note Ordine</h4>
		<p><%= Spree::Config[:order_notes] %></p>
	</div>
	<% end %>

	<% unless @product.description2.blank? %>
	<div class="note-box2">
		<h4>Informazioni aggiuntive</h4>
		<p><%= raw(@product.description2) %></p>
	</div>
	<% end %>

	<%= hidden_field_tag :quantity, 1 %>
	<%= button_tag :class => 'btn-submit', :id => 'add-to-cart-button', :type => :submit do %>
		<%= content_tag(:span, t(:add_to_cart)) %>
	<% end %>
<% end %>

<%= javascript_tag do %>
	ajaxLoading = false;
    preventiveUrl = "<%= preventive_url %>";
	variant_options = <%== @product.to_preventive.to_json %>;
<% end %>
<%= javascript_include_tag 'store/cart/advanced_product' %>
<%= javascript_include_tag 'store/preventive' %>
