<div id="twocolumns" data-hook="product_show" itemscope itemtype="http://schema.org/Product">
	<% @body_id = 'product-details' %>
	<div id="content">
		<div class="content-box clearfix">
			<div class="clearfix left">
				<%= image_tag(@product.images.first.attachment.url(:product), :width => 215) rescue "" %>
			</div>
			<div class="clearfix right">
				<%= breadcrumbs(@taxon, @product, @products) %>
				<h3> <%= @product.name %> </h3>
				<div class="desc_product_raw"><%= raw(@product.description) %></div>
			</div>
		</div>
		<%= render :partial => 'cart_form' %>
	</div>
	<div class="aside">
		<div id="fixed">
			<%= render :partial => 'spree/shared/total_order', :locals => {:order => current_order, :calculate_vat => true} %>
			<%= render :partial => 'spree/shared/preventive' %>
		</div>
	</div>
</div>