<div class="row">
	<div class="span16">
		<h2><%= t(:taxon_edit) %></h2>

		<%= form_for [:admin, @taxonomy, @taxon], :method => :put, :html => { :multipart => true, :class => "well" } do |f| %>
		  <%= render :partial => 'form', :locals => { :f => f } %>
		  <div class="form-actions clearer right-txt" data-hook="buttons">
		    <%= f.submit(t(:update), :class => "btn btn-primary") %>
			<%= link_to(t(:back), edit_admin_taxonomy_url(@taxonomy), :class => "btn btn-inverse") %>
		  </div>
		<% end %>
	</div>
</div>
