<h4><%= t("slideshow_type.slide.editing_page") %></h4>
<%= render 'spree/shared/error_messages', :target => @slide %>
<br />
<%= form_for([:admin, @slideshow_type, @slide], :html => { :multipart => true, :class => "well form-horizontal clearfix" }) do |f| %>
	<table class="basic-table" data-hook="edit_slides">
		<tr data-hook="thumbnail">
			<td><%= t(:thumbnail) %>:</td>
			<td><%= link_to image_tag(@slide.attachment.url(:mini)), @slide.attachment.url(:medium) %></td>
		</tr>
	</table>
	<%= render :partial => 'form', :locals => { :f => f } %>
	<div class="form-buttons right-txt" data-hook="buttons">
		<%= submit_tag(t(:update), :class => "btn btn-primary") %>
		<%= link_to t(:back), admin_slideshow_type_slides_path(@slideshow_type), :class => 'btn btn-inverse', :remote => true %>
	</div>
<% end %>