<div class="well">
	<h5><%= t(:slides) %></h5>
	<p class="small">In questa pagina puoi gestire le slide dello slideshow</p>
	<%= link_to("#{t(:new_slide)} <i class='icon-plus icon-white'></i>".html_safe, new_admin_slideshow_type_slide_url(@slideshow_type), :class => "btn btn-primary", :remote => true, :rel => "tab") %>
</div>

<table class="table table-condensed table-bordered" data-hook="slide_table">
	<thead>
		<tr data-hook="slides_header" class="info">
			<th><%= t(:thumbnail) %></th>
			<th><%= t(:title) %></th>
			<th><%= t(:position) %></th>
			<th><%= t(:url) %></th>
			<th></th>
		</tr>
	</thead>
	<% @slideshow_type.slides.each do |slide| %>
	<tr id="<%= dom_id(slide) %>" data-hook="images_row">
		<td>
			<span class="handle"></span>
			<%= link_to image_tag(slide.attachment.url(:mini)), slide.attachment.url(:medium) %>
		</td>
		<td><%= slide.title %></td>
		<td><%= slide.position %></td>
		<td><%= slide.promotion ? default_link_promo(slide.promotion.product, slide.promotion.promo_code) : slide.url %></td>
		<td class="actions">
			<%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, edit_admin_slideshow_type_slide_url(@slideshow_type, slide), :class => 'btn btn-primary', :remote => true, :rel => "tab") %>
			<%= link_to_delete(slide) %>
		</td>
	</tr>
	<% end %>
</table>
