<p class="field" id="bvat_number">
	<%= bill_form.text_field :tax_id_number, {:placeholder => "#{t(:tax_id_number)}"} %>
	<%= bill_form.text_field :vat_number, {:class => 'input-right', :placeholder => "#{t(:vat_number)}"} %>
</p>