<script type="text/javascript">
$(document).ready(function () {
	$.cookieCuttr({
		cookieAnalytics: false,
		cookieMessage: 'Questo sito utilizza cookie, anche di terze parti, per inviarti pubblicità e servizi in linea con le tue preferenze. Se vuoi saperne di più o negare il consenso a tutti o ad alcuni cookie <a href="{{cookiePolicyLink}}" title="Cookie Privacy" target="_blank">clicca qui</a>. Chiudendo questo banner, scorrendo questa pagina o cliccando qualunque suo elemento acconsenti all’uso dei cookie.',
		cookiePolicyLink: '/pages/privacy-cookie',
		cookieAcceptButtonText: "Ho capito"
	});
});
</script>