<% if target && target.errors.any? %>
    <div id="errorExplanation" class="alert alert-block alert-error fade in" data-hook>
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= target.errors.full_messages.collect{|msg| msg}.join(", ").html_safe %>
    </div>
    <%= javascript_tag do %>
        $(function() { $("#errorExplanation").alert(); });
    <% end %>
<% end %>
