<%= form_for :user, :url => spree.user_session_path, :html => {:id => :user_signin } do |f| %>
	<div id="password-credentials">
    	<p class="black">
      		<%= f.label(:email, t(:email), :class => "black") %><br />
      		<%= f.email_field :email, :class => 'title', :tabindex => 1 %>
    	</p>
    	<p>
      		<%= f.label :password, t(:password), :class => "black" %><br />
      		<%= f.password_field :password, :class => 'title', :tabindex => 2 %>
    	</p>
	</div>
	<p>
    	<label>
      		<%= f.check_box :remember_me %>
      		<%= f.label :remember_me, t(:remember_me), :class => "black" %>
    	</label>
  	</p>
  	<p><%= f.submit t(:login), :class => 'button primary' %></p>
<% end %>