<% if !@promotions.empty? %>
<h2><%= t(:promotions) %></h2>
<table class="date-promotion">
	<thead>
		<tr>
			<th>Data<br />Consegna</th>
			<th colspan="2">Dettagli<br />Promozione</th>
			<th>Costo<br />netto</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @promotions.each do |promo| %>
		<tr id="<%= dom_id(promo) %>" class="<%= cycle("", "odd") %>">
			<td style="width: 140px; font-size: 12px;"><%= delivery_date_from_today_promo(promo) %></td>
			<td colspan="2" style="font-size: 11px;"><%= promo.format_name %>, <%= promo.printer_color(true) %>, <%= promo.number_of_copy %> copie, <%= promo.paper(true) %>, <%= promo.printer_instructions(true) %></td>
			<td class="total-date-promo"><%= number_to_currency(promo.price) %></td>
			<td>
				<%=  radio_button_tag("order_calculator[data]", promo.shipping_date.to_s, false, :class => "radio", :id => "promotion_id_#{promo.id}", :onclick => "javascript: SetRadioPromotion('#{promo.promo_code}');") %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>
