<% @TaxonsAndProducts = [] %>
<% @TaxonsAndProducts.concat taxon.children if !taxon.blank? %>
<% @TaxonsAndProducts.concat products if !products.blank? %>

<% if @TaxonsAndProducts.empty? %>
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h6 class="search-results-title"><%= t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %>

<% if @TaxonsAndProducts.any? %>
	
	<% if Spree::Config[:homepage_new_version_enabled] %>

		<% @TaxonsAndProducts.each do | tap |%>
			<div class="element <%#= hpe.class_list %>">
				<div class="element_decorator">
					<%= link_to product_taxon_link(tap), :class => 'availablex' do %>

						<%#= image_tag tap.logo_image %>
						<% if tap.class == Spree::Taxon %>
							<%= image_tag tap.icon.url(:box) %>
						<% else %>
							<%= image_tag tap.logo_image %>
						<% end %>
						
						<div class="separator_element"></div>
						<% title = tap.name %>
						<% if title.length > 26 %>
							<% hhh = "<h2 style='line-height: 14px !important'> #{title} </h2>" %>
						<% else %>
							<% hhh = "<h2> #{title} </h2>" %>
						<% end %>
						<div class="text_content_hidden" >
							<%= raw hhh %>
							<p><%= raw truncate(strip_tags(tap.description), :length => 100, :omission =>"...") %></p>
						</div>
						<div class="text_content" >
							<%= raw hhh %>
						</div>
						
					<% end %>
				</div>
			</div>
		<% end %>

	<% else %>

		<% @TaxonsAndProducts.each do |tap| %>
			<div class="box-twocolumns clearfix">
				<%= link_to product_taxon_link(tap), :class => 'available' do %>
					<h2 class="red-title"><span><%= tap.name %></span></h2>
					<%#= image_tag tap.logo_image, :width => '220px', :height => '287px' %>
					
					<% if tap.class == Spree::Taxon %>
						<%= image_tag tap.icon.url(:normal), :width => '220px', :height => '287px' %>
						<p class="btn-product red">Vai alla categoria</p>
					<% else %>
						<%= image_tag tap.logo_image, :width => '220px', :height => '287px' %>
						<p class="btn-product red">Vai al prodotto</p>
					<% end %>

				<% end %>
				<div class="box-description">
					<h4>Descrizione</h4>
					<%= raw tap.description %>
				</div>
			</div>
		<% end %>

	<% end %>
<% end %>



	

		

