<table class="date-select">
	<thead>
		<tr>
			<th>Consegna<br/>indicativa</th>
			<th>Costo<br/>netto</th>
			<th>Costo<br/>+ IVA</th>
			<th colspan="2"></th>
		</tr>
	</thead>
	<tbody>
		<% i = 0 %>
		<% Spree::ShippingDateAdjustment.shipping_date_adjustment_by_product(product).each do |shipping_date_adj| %>
		<tr id="<%= dom_id(shipping_date_adj) %>" class="<%= cycle("","alt") %>">
			<td style="width: 140px; font-size: 12px;"><%= delivery_date_from_today(shipping_date_adj) %></td>
			<td class="percent" data-percent="<%= shipping_date_adj.calculator.preferred_amount %>"> <%= number_to_currency 0 %> </td>
			<td class="amount"><%= number_to_currency 0 %></td>
			<td class="discount alt">  </td>
			<td>
				<%=  radio_button_tag("order_calculator[data]",shipping_date_adj.id, i == 0, :class => "radio") %>
				<% i+= 1 %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
