<div id="new_state" data-hook></div>
<br class="clearer"/>
<%= link_to("#{t(:new_state)} <i class='icon-plus icon-white'></i>".html_safe, new_admin_country_state_url(@country), :class => 'btn btn-primary', :id => "new_state_link") %>
<br class="clearer"/>
<br />

<table class="index table table table-hover table-condensed table-bordered" id='listing_states' data-hook>
  <thead>
    <tr data-hook="states_header" class="info">
      <th><%= t(:name) %></th>
      <th><%= t(:abbreviation) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @states.each do |state| %>
      <tr id="<%= spree_dom_id state %>" data-hook="states_row">
        <td><%= state.name %></td>
        <td><%= state.abbr %></td>
        <td class="actions" style="width: 205px">
          <%= link_to("#{t(:edit)} <i class='icon-edit icon-white'></i>".html_safe, edit_admin_country_state_url(@country, state), :class => 'btn btn-primary') %> <%= link_to_delete state %>
        </td>
      </tr>
    <% end %>
    <% if @states.empty? %>
      <tr><td colspan="3"><%= t(:none) %></td></tr>
    <% end %>
  </tbody>
</table>