<div id="content">
	<%= insert_slideshow(:category => "home", :pagination => true, :show_content => true, :style => "slide") %>

	<% if Spree::Config[:homepage_new_version_enabled] %>

		<% @index_homepage_elements.each do |hpe| %>
			<div class="element <%= hpe.class_list %>">
				<div class="element_decorator">
					<%= link_to hp_link(hpe), :class => 'availablex' do %>
						<%= image_tag hp_image(hpe) %>
					<div class="separator_element"></div>
						<% title = hp_title(hpe) %>
						<% if title.length > 26 %>
							<% hhh = "<h2 style='line-height: 14px !important'> #{title} </h2>" %>
						<% else %>
							<% hhh = "<h2> #{title} </h2>" %>
						<% end %>
						<div class="text_content_hidden" >
							<%= raw hhh %>
							<p><%= raw truncate(strip_tags(hp_description(hpe)), :length => 100, :omission =>"...") %></p>
						</div>
						<div class="text_content" >
							<%= raw hhh %>
						</div>
					<% end %>
				</div>
			</div>
		<% end %>

	<% else %>
	
		<div class="col blue">
			<h3>Piccolo formato</h3>
			<% if !@business_card.blank? %>
			<div class="box">
				<%= link_to business_card_link, :class => 'available' do %>
				<h2><span><%= @business_card.name %></span></h2>
				<% if @business_card.logo_image.blank? %>
					<%= image_tag "store/img03.png", :width => '220px', :height => '287px' %>
				<% else %>
					<%= image_tag @business_card.logo_image, :width => '220px', :height => '287px' %>
				<% end %>
				<p class="btn-product">Vai al prodotto</p>
				<% end %>
			</div>
			<% end %>
			<% if !@flayer.blank? %>
			<div class="box">
				<%= link_to flayer_link, :class => 'available' do %>
				<h2><span><%= @flayer.name %></span></h2>
				<% if @flayer.logo_image.blank? %>
					<%= image_tag "store/img06.png", :width => '220px', :height => '287px' %>
				<% else %>
					<%= image_tag @flayer.logo_image, :width => '220px', :height => '287px' %>
				<% end %>
				<p class="btn-product">Vai al prodotto</p>
				<% end %>
			</div>
			<% end %>
			<% if !@folding.blank? %>
			<div class="box">
				<%= link_to folding_link, :class => 'available' do %>
				<h2><span><%= @folding.name %></span></h2>
				<% if @folding.logo_image.blank? %>
					<%= image_tag "store/img09.png", :width => '220px', :height => '287px' %>
				<% else %>
					<%= image_tag @folding.logo_image, :width => '220px', :height => '287px' %>
				<% end %>
				<p class="btn-product">Vai al prodotto</p>
				<% end %>
			</div>
			<% end %>
			<% if !@letterhead.blank? %>
			<div class="box">
				<%= link_to letterhead_link, :class => 'available' do %>
				<h2><span><%= @letterhead.name %></span></h2>
				<% if @letterhead.logo_image.blank? %>
					<%= image_tag "store/img06.png", :width => '220px', :height => '287px' %>
				<% else %>
					<%= image_tag @letterhead.logo_image, :width => '220px', :height => '287px' %>
				<% end %>
				<p class="btn-product">Vai al prodotto</p>
				<% end %>
			</div>
			<% end %>
			<% if !@postcard.blank? %>
			<div class="box">
				<%= link_to postcard_link, :class => 'available' do %>
				<h2><span><%= @postcard.name %></span></h2>
				<% if @postcard.logo_image.blank? %>
					<%= image_tag "store/img06.png", :width => '220px', :height => '287px' %>
				<% else %>
					<%= image_tag @postcard.logo_image, :width => '220px', :height => '287px' %>
				<% end %>
				<p class="btn-product">Vai al prodotto</p>
				<% end %>
			</div>
			<% end %>
			<% if !@playbill.blank? %>
			<div class="box">
				<%= link_to playbill_link, :class => 'available' do %>
				<h2><span><%= @playbill.name %></span></h2>
				<% if @playbill.logo_image.blank? %>
					<%= image_tag "store/img06.png", :width => '220px', :height => '287px' %>
				<% else %>
					<%= image_tag @playbill.logo_image, :width => '220px', :height => '287px' %>
				<% end %>
				<p class="btn-product">Vai al prodotto</p>
				<% end %>
			</div>
			<% end %>
		</div>
		<div class="col green">
			<h3>Grande formato</h3>
			<% if !@poster.blank? %>
			<div class="box">
				<%= link_to poster_link, :class => 'available' do %>
				<h2><span>Manifesti</span></h2>
				<% if @poster.logo_image.blank? %>
					<%= image_tag "store/img04.png", :width => '220px', :height => '287px' %>
				<% else %>
					<%= image_tag @poster.logo_image, :width => '220px', :height => '287px' %>
				<% end %>
				<p class="btn-product">Vai al prodotto</p>
				<% end %>
			</div>
			<% end %>
			<% if !@canvas.blank? %>
			<div class="box">
				<%= link_to canvas_link, :class => 'not-available' do %>
				<h2><span><%= @canvas.name %></span></h2>
				<% if @canvas.logo_image.blank? %>
					<%= image_tag "store/img13.png", :width => '220px', :height => '287px' %>
				<% else %>
					<%= image_tag @canvas.logo_image, :width => '220px', :height => '287px' %>
				<% end %>
				<p class="btn-product">Vai al prodotto</p>
				<% end %>
			</div>
			<% end %>
			<% if !@banner.blank? %>
			<div class="box">
				<%= link_to banner_link, :class => 'available' do %>
				<h2><span><%= @banner.name %></span></h2>
				<% if @banner.logo_image.blank? %>
					<%= image_tag "store/img12.jpg", :width => '220px', :height => '287px' %>
				<% else %>
					<%= image_tag @banner.logo_image, :width => '220px', :height => '287px' %>
				<% end %>
				<p class="btn-product">Vai al prodotto</p>
				<% end %>
			</div>
			<% end %>
			<% if !@pvc.blank? %>
			<div class="box">
				<%= link_to pvc_link, :class => 'available' do %>
				<h2><span><%= @pvc.name %></span></h2>
				<% if @pvc.logo_image.blank? %>
					<%= image_tag "store/img12.jpg", :width => '220px', :height => '287px' %>
				<% else %>
					<%= image_tag @pvc.logo_image, :width => '220px', :height => '287px' %>
				<% end %>
				<p class="btn-product">Vai al prodotto</p>
				<% end %>
			</div>
			<% end %>
		</div>
		<div class="col red last">
			<h3>Multipagina</h3>
			<% if !@staple.blank? %>
			<div class="box">
				<%= link_to staple_link, :class => 'available' do %>
				<h2><span>Punto metallico</span></h2>
				<% if @staple.logo_image.blank? %>
					<%= image_tag "store/img05.png", :width => '220px', :height => '287px' %>
				<% else %>
					<%= image_tag @staple.logo_image, :width => '220px', :height => '287px' %>
				<% end %>
				<p class="btn-product">Vai al prodotto</p>
				<% end %>
			</div>
			<% end %>
			<% if !@paperbacks.blank? %>
			<div class="box">
				<%= link_to paperback_link, :class => 'available' do %>
				<h2><span>Brossura</span></h2>
				<% if @paperbacks.first.logo_image.blank? %>
					<%= image_tag "store/img14.png", :width => '220px', :height => '287px' %>
				<% else %>
					<%= image_tag @paperbacks.first.logo_image, :width => '220px', :height => '287px' %>
				<% end %>
				<p class="btn-product">Vai al prodotto</p>
				<% end %>
			</div>
			<% end %>
			<% if !@spiral.blank? %>
			<div class="box">
				<%= link_to spiral_link, :class => 'not-available' do %>
				<h2><span>Spirale</span></h2>
				<% if @spiral.logo_image.blank? %>
					<%= image_tag "store/img11.png", :width => '220px', :height => '287px' %>
				<% else %>
					<%= image_tag @spiral.logo_image, :width => '220px', :height => '287px' %>
				<% end %>
				<p class="btn-product">Vai al prodotto</p>
				<% end %>
			</div>
			<% end %>
		</div>
	<% end %>
</div>



