<%= javascript_include_tag 'store/preventive/canvas' %>
<% if @promo %>
<%= javascript_tag do %>
	run_preventive = false;
	$(function () {
		SetOptionPromotion(<%== @promo.to_calculate.to_json %>);
	});
<% end %>
<% end %>
<%= javascript_tag do %>
    preventiveUrl = "<%= preventive_url %>";
    papers = <%== @product.all_value_json %>;
<% end %>

<%= form_for :order, {:url => populate_orders_url, :html => {:class => 'buy-form', :id => 'add_canvas'}} do |f| %>
    <%= hidden_field_tag(:canvas_product_id, @product.id) %>
	
	<h2>Configurazione Prodotto</h2>
	
	<div class="clearfix field_content">
    	<label for="paper">Telaio</label>
    	<%= select_tag("order[frame]", options_for_select(@variant.frames.map {|f| [f.name, f.id] }), :include_blank => false, :prompt => "Nessuno") %>
	</div>
	
	<div class="clearfix field_content">
		<label for="paper">Appendino</label>
    	<%= select_tag("order[hanger_accessory]", options_for_select(@variant.hanger_accessories.map{|ha| [ha.hanger.name, ha.id]}), :prompt => "Nessuno") %>
	</div>

    <div class="custom-size clearfix">
      <label>Formato</label>
      <div id="custom_format">
		L <%= text_field_tag("order[custom][width]", @product.min_dimension, :class => 'required', :min => @product.min_dimension) %>  x H  <%= text_field_tag("order[custom][height]", @product.min_dimension, :class => 'required', :min => @product.min_dimension) %> cm
      </div>
	  <div id="canvas_format" style="display: none;">
		<% aux_w = []
		 (((@product.max_width.to_i - @product.min_dimension.to_i)/@product.incremental.to_i) + 1).times{|t| aux_w << [@product.min_dimension.to_i + (t * @product.incremental.to_i), @product.min_dimension + (t * @product.incremental)] } %>
		<% aux_h = []
		 (((@product.max_height.to_i - @product.min_dimension.to_i)/@product.incremental.to_i) + 1).times{|t| aux_h << [@product.min_dimension.to_i + (t * @product.incremental.to_i), @product.min_dimension + (t * @product.incremental)] } %>
		L <%= select_tag("order[format][width]", options_for_select(aux_w), :include_blank => false, :class => 'required', :style => "float: none; clear: none; width: 100px;") %>  x H <%= select_tag("order[format][height]", options_for_select(aux_h), :include_blank => false, :class => 'required', :style => "float: none; clear: none; width: 100px;") %> cm
	  </div>
    </div>
	
    <div class="clearfix field_content" powertip="true">
    	<label for="paper">Materiale</label>
    	<%= select_tag("order[paper]", options_for_select(@variant.papers.map { |v| [v.name, v.id] })) %>
    </div>
	
	<div class="clearfix field_content">
    	<label for="print_color">Tipo stampa</label>
	    <%= select_tag("order[print_color]", options_for_select(@variant.plotter.plotter_printing_costs.map { |v| [v.name, v.id] }),:include_blank => false) %>
	</div>

	<div class="clearfix field_content">
		<label for="copy">Numero di copie</label>
		<% if !@product.number_of_copies.blank? %>
	    	<%= select("order", "number_of_copy", @product.number_of_copies.split(",").collect { |v| [v, v] }, {:include_blank => false, :prompt => "Seleziona quantita"}) %>
		<% else %>
			<%= text_field_tag("order[number_of_copy]", 0, :class => 'required', :min => @product.min_number_of_copies) %>
		<% end %>
	</div>
<% if Spree::Config[:file_check] %>
	<h2><%= t(:file_check) %></h2>
	<label for="check"><%= t(:file_check) %></label>
	<%= select_tag("order[file_check]", options_for_select([["No", 0], ["Si", 1]])) %>
	<p style="padding: 0px; font-size: 12px; margin-bottom: 10px;" class="clearer"><%= "#{Spree::Config[:file_check_desc] } (#{Spree::Config[:file_check_cost]}&euro;)".html_safe %></p>
<% end %>
	
    <h2><%= t(:date_adjustment) %></h2>
    <%= render :partial => 'spree/shared/shipping_date_adjustment', :locals => {:product => @product} %>
	
	<%= render :partial => 'spree/shared/promotions', :locals => {:product => @product} %>
	
	<% if !Spree::Config[:order_notes].blank? %>
	<div class="note-box">
		<h4>Note Ordine</h4>
		<p><%= Spree::Config[:order_notes] %></p>
	</div>
	<% end %>

	<% unless @product.description2.blank? %>
	<div class="note-box2">
		<h4>Informazioni aggiuntive</h4>
		<p><%= raw(@product.description2) %></p>
	</div>
	<% end %>

    <%= hidden_field_tag :quantity, 1 %>
    <%= button_tag :class => 'btn-submit', :id => 'add-to-cart-button', :type => :submit do %>
        <%= content_tag(:span, t(:add_to_cart)) %>
    <% end %>
<% end %>
