<h4><%= t(:edit_simple_variant) %></h4>
<br class="clearer"/>
<%= render "spree/shared/error_messages", :target => @variant %>
<%= form_for([:admin, @simple_product, @variant], :html => {:multipart => true, :class => "well form-inline clearfix"}, :remote => true) do |f| %>
	<%= render :partial => "form", :locals => {:f => f} %>
	<div class="form-actions clearer right-txt" data-hook="buttons">
		<%= f.submit(t(:update), :class => "btn btn-primary") %>
		<%= link_to t(:back), admin_simple_product_simple_variants_path(@simple_product), :class => 'btn btn-inverse', :remote => true %>
	  </div>
<% end %>