<div class="clearer fields">
	<div class="control-group span2">
		<%= label_tag(:from, t(:from), :class => "control-label") %><br />
		<div class="controls input-append">
			<%= f.text_field(:from, :style => "width: 50px") %><span class="add-on"><%= link_to("<i class='icon-question-sign'></i>".html_safe, "#", :data => {:content=>t("help.from_simple_product").html_safe, :title => t("help.title")}, :rel =>"popover-right") %></span>
		</div>
	</div>
	<div class="control-group span2">
		<%= label_tag(:to, t(:to), :class => "control-label") %><br />
		<div class="controls input-append">
			<%= f.text_field(:to, :style => "width: 50px") %><span class="add-on"><%= link_to("<i class='icon-question-sign'></i>".html_safe, "#", :data => {:content=>t("help.to_simple_product").html_safe, :title => t("help.title")}, :rel =>"popover-right") %></span>
		</div>
	</div>
	<div class="span3">
		<%= label_tag(:price, t(:price)) %><br />
		<div class="input-append"><%= f.text_field(:price, :value => f.object.price, :class => "span1") %><span class="add-on">costo unitario in &euro;</span></div>
	</div>
	<div class="control-label span3" style="margin-top: 30px;">
		<%= link_to_confirm_remove_fields("Rimuovi Variante per prezzo", f) %>
	</div>
</div>