<% address_id = address_type.chars.first %>
<div class="inner" data-hook=<%="#{address_type}_inner" %>>
	<% if(address_type == "shipping") %>
	<div class="row">
		<div class="form-field-checkout">
			<%= form.label :firstname, t(:firstname), {:class => "black"} %> <span class="required">*</span><br/>
			<%= form.text_field :firstname, {:class => "required"} %>
		</div>
		<div class="form-field-checkout">
			<%= form.label :lastname, t(:lastname), {:class => "black"} %> <span class="required">*</span><br/>
			<%= form.text_field :lastname, {:class => "required"} %>
		</div>
	</div>
	<% else %>
	<div class="row">
		<div class="form-field-checkout">
			<label class="checkbox">
				<%= form.check_box :is_company, {:checked => "#{(!address.company.blank? && !address.vat_number.blank?) ? "checked" : ""}"} %> <%= t(:is_company) %>
			</label>
		</div>
	</div>

	<div id="is_company_check" style="display: none;">
		<div class="row">
			<div class="form-field-checkout">
				<%= form.label :company, t(:company), {:class => "black"} %> <span class="required">*</span><br/>
				<%= form.text_field :company, {:class => "required full"} %>
			</div>
		</div>
		<div class="row">
			<div class="form-field-checkout">
				<%= form.label :vat_number, t(:vat_number), {:class => "black"} %> <span class="required">*</span><br/>
				<%= form.text_field :vat_number, {:class => "required full"} %>
			</div>
		</div>
	</div>

	<div id="is_company_uncheck">
		<div class="row">
			<div class="form-field-checkout">
				<%= form.label :tax_id_number, t(:tax_id_number), {:class => "black"} %> <span class="required">*</span><br/>
				<%= form.text_field :tax_id_number, {:class => "required full"} %>
			</div>
		</div>
		<div class="row">
			<div class="form-field-checkout">
				<%= form.label :firstname, t(:firstname), {:class => "black"} %> <span class="required">*</span><br/>
				<%= form.text_field :firstname, {:class => "required"} %>
			</div>
			<div class="form-field-checkout">
				<%= form.label :lastname, t(:lastname), {:class => "black"} %> <span class="required">*</span><br/>
				<%= form.text_field :lastname, {:class => "required"} %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="row">
		<div class="form-field-checkout">
			<%= form.label :address1, t(:address1), {:class => "black"} %> <span class="required">*</span><br/>
			<%= form.text_field :address1, {:class => "required full"} %>
		</div>
	</div>
	<% if(address_type == "shipping") %>
	<div class="row">
		<div class="form-field-checkout">
			<%= form.label :address2, t(:address2), {:class => "black"} %><br/>
			<%= form.text_field :address2, {:class => "full"} %>
		</div>
	</div>
	<% end %>

	<div class="row">
		<div class="form-field-checkout" id="<%= address_id %>country">
			<%= form.label :country, t(:country), {:class => "black"} %> <span class="required">*</span><br/>
			<span id="<%= address_id %>country">
				<%= form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %>
			</span>
		</div>
		<div class="form-field-checkout" id="<%= address_id %>state">
			<% have_states = !address.country.states.empty? %>
			<%= form.label :state, t(:state), {:class => "black"} %> <span class="required">*</span><br/>
			<noscript>
				<%= form.text_field :state_name, :class => 'required' %>
			</noscript>
			<% state_elements = [
			form.collection_select(:state_id, address.country.states,
			:id, :name,
			{:include_blank => true},
			{:class => have_states ? 'required' : 'hidden required',
				:disabled => !have_states}) +
				form.text_field(:state_name,
				{:class => !have_states ? 'required input-right' : 'hidden required',
					:disabled => have_states,
					:placeholder => "#{t(:state)}*"})
				].join.gsub('"', "'").gsub("\n", "")
				%>
				<%= javascript_tag do %>
				document.write("<%== state_elements %>");
				<% end %>
		</div>
	</div>

	<div class="row">
		<div class="form-field-checkout">
			<%= form.label :city, t(:city), {:class => "black"} %> <span class="required">*</span><br/>
			<%= form.text_field :city, {:class => "required"} %>
		</div>
		<div class="form-field-checkout">
			<%= form.label :zipcode, t(:zipcode), {:class => "black"} %> <span class="required">*</span><br/>
			<%= form.text_field :zipcode, {:class => "required"} %>
		</div>
	</div>

	<div class="row">
		<div class="form-field-checkout">
			<%= form.label :phone, t(:phone), {:class => "black"} %> <span class="required">*</span><br/>
			<%= form.text_field :phone, {:class => "required"} %>
		</div>
	</div>
</div>